  # Objective

__Microsoft sees all the big companies creating original video content, and they want to get in on the fun. They have decided to create a new movie studio, but the problem is they don't know anything about creating movies. They have hired you to help them better understand the movie industry. Your team is in charged with doing data analysis that explores what type of films are currently doing the best at the box office. You must then translate
those findings into actionable insights that the CEO can use when deciding what type of films they should be creating.__

# Datasets

There are 10 datasests in this project 

_Name.basics.csv_
  - _Colunms in the dataset_
     - _nconst_
     - _primary_name_
     - _birth_year_
     - _death_year_
     - _primary_profession_
     - _known_for_titles_

_Bom.movie_gross.csv_
   - _Colunms in the dataset_
      - _title_
      - _studio_
      - _domestic_gross_
      - _foreign_gross_
      - _year_
     
_Rt.movie_info.tsv_
   - _Columns in the dataset_
     - _id_
     - _synopsis_
     - _rating_
     - _genre_
     - _director_
     - _writer_
     - _theater_date_
     - _currency_
     - _box_office_
     - _runtime_
     - _studio_
     
_Title.akas.csv_
   - _Columns in the dataset_
     - _title_id_
     - _ordering_
     - _title_
     - _region_
     - _language_
     - _types_
     - _attributes_
     - _is_original_title_
     
_Title.basics.csv_
  - _Columns in the dataset_
    - _tconst_
    - _primary_title_
    - _original_title_
    - _start_year_
    - _runtime_mintues_
    - _genres_
    
_Title.crew.csv_
  - _Columns in the dataset_
    - _tconst_
    - _directors_
    - _writers_
    
_Title.principals.csv_
  - _Columns in the dataset_
    - _tconst_
    - _ordering_
    - _nconst_
    - _category_
    - _job_
    - _charactors_

_Title.ratings.csv_
  - _Columns in the dataset_
    - _tconst_
    - _averagerating_
    - _numvoters_
    
_Tmdb.movies.csv_
  - _Columns in the dataset_
    - _genre_ids_
    - _id_
    - _original_language_
    - _original_title_
    - _popularity_
    - _release_date_
    - _title_
    - _vote_average_
    - _vote_count_
    
_Tn.movie_budgets_
   - _Columns in the dataset_
     - _id_
     - _release_date_
     - _movie_
     - _production_budget_
     - _domestic_gross_
     - _worldwide_gross_

# Approaches

Based on the datasets there are nine main genres; Action and Adventures, Drama, Comedy, Documentry, Classics, Art House and International, Musical and Performing Arts, Horror, Mystrey and Suspense, Animation, Special Interest, Kids and Family and there are also five main System Ratings; System R Rating, System PG-13 Rating, System PG Rating, System G Rating and System NR Rating. In this Project the genres are being split into nine different sections with indivisual data analysis based on the same data visualization concepts and the system ratings are being compared among one another and also analyised to view which one best fit the genres. There will be eleven differnt graphs for each genres describing and protarying insights on the activity of the data.

## Graphs
These are the elven main graphs.
  - __Profit Percentage baised on cost__:
     - This data visualization shows the name, cost, profit, the type of system rating and profit percenatge by cost. The purpose of this notion is to view past the profit and better understand how successful the movie really is by analysing the cost and calculating how much more was made compared to it. This allows the idea of higher profit dosn't mean more profitable to be considered as a justification based on the results proving so. The system rating were added to be compared among eachother, to observe which one was better and to also know which one was the best fit for any particular genere by calculating the average of the reults of each system rating
   
  
  
  - __Gross Profit Margin Percentage__:
     - This data visualization has two pionts about the movie on one panel. The fisrt piont shows the name, amount of profit made in dollars, type of system rating and Gross Profit Margin Percentage. The other piont shows the name, revenue made in dollars and the type of system rating. The graph was designed this way to compare the profit amount against the revenue amount, allowing the Gross Profit Margin Percntage to be more visible and inderectly see the expenses made from a graph perpsective.
     
 
 - __Budget and Revenue of Movies__:
    - This graph is a scatter plot with an x-axis and a y-axis, the x-axis is the revenue of the movies in dollars and the y-axis is the budget of the movies in dollars. This graph is a blueprint to better understand  wether the amount of money spent on the movie effected the amount of revenue generted and to also spot movies that spent less money than the average with a higher revenue.
 
 
 - __Revenue of Movies/Budget of Movies__:
    - The revenue graph has an x-axis that shows the revnue of the movies, name and the type of system ratings with no y-axis. The budget graph has an x-axis that shows the budget of the movies and also the name and system ratings with no y-axis. Both graphs have a table split into catagories of the system ratings showing were they are postions in the axis. These graphs were constructed to predict how much will be made depending on how much is spent based on the pattern of budget of movies to revenue of movies and to indirectly spot anomalies.
    
 
 - __Movies that mdae Profit__:
    - This graph simply shows all the movies that made profit, from the highest to the lowest.


 - __Movies that had losses__:
   - This graph is a colunm graph that shows the movies that did not make any profit. It shows the cost of the movie, revenue and by how much was not made to prevent a loss by the movie. It also shows the name and system ratings it belongs to. This dilema was created to percieve what agenda was not making any money, to try and understand the other half of film industry that is overlooked.
   
   
 
 - __Top 20 Highest Profitable Movies/ Top 20 Lowest Profitable Mobies__:
    - The top 20 highest profitable graph is a 3D chart that shows the top 20 most profitable movies with an x-axis being the names of the movie and the y-axis being the amount of profit made in dollars. The top 20 lowest profitable graph is also a 3D chart that shows the top 20 movies that had the lowest profit, with the x-axis being the names of the movie and the y-axis being the amount of profit made in dollars. These graphs were creted to really spot what movis were the kings and queens of the movie industry and what movie was barely making sales. This brings a lot of questioning to what each of the movies did do britiantally or failed to do.
    

- __Most Successful Moive__:
   - This graph is built up of two sections, the first section is an x-axis whcih shows the names and a y-axis which shows the budget, revenu and profit of the movies in dollars, the second section compares the gross profit margin percentage to the profit percnatge by cost of the movies whcih is all compared to all other movies in the data frame. The sections data is based on the top 20 most profitable movies. The concept of the visualization is to  dive deep into detail to anlayze what movie were actually more succesfull than the other, other than just focusing on the highets profits made. Factors like budget and revenue expressed in gross profit margin percentage and proft percentage by cost allows the differences among the most profitable movies to become more disguishable, whcih can open a new perspcetive on anyalzing numbers.
   
 
 - __Tickets Sold__:
    - This graph simply shows what system ratings have the highest tickets sold to better understand what audience best fist this genre through the sales of the system ratings.

Before starting any data extracting, liabreis such as Altair, Pandas, Pandas_highcharts, Collections need to be installed to help create great insightful interactive graphs.

In [1]:
import altair as alt # used to create interactive graphs
import pandas as pd # used to make for dataframes
import collections# used to put data into sections
import matplotlib.pyplot as plt# used to make graphs

In [13]:
# helps create highcharts graphs
from pandas_highcharts.core import serialize
from pandas_highcharts.display import display_charts
import json

Before the graphs are made the data is extracted from the rt.movie_info.tsv file and made into a dataframe.

In [2]:
# The data frame is called movie_info
movie_info = pd.read_csv('rt.movie_info.tsv',error_bad_lines=False,sep='\t')

In [3]:
movie_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [3]:
# Getting first 500 movies 
first_500 = []
for i in movie_info.genre[:500].dropna():
    first_500.append(i)
len(first_500)

496

The movies form the data frame have been selected and put into genres groups for the first 500 movies

In [5]:
# putting movies into groups
grouped_500 = []
for i in first_500:
    grouped_500.append(i.split('|',1)[0])
grouped_500=collections.Counter(grouped_500)
grouped_500

Counter({'Action and Adventure': 117,
         'Drama': 103,
         'Comedy': 115,
         'Documentary': 11,
         'Classics': 53,
         'Art House and International': 55,
         'Musical and Performing Arts': 3,
         'Horror': 23,
         'Mystery and Suspense': 7,
         'Animation': 6,
         'Special Interest': 2,
         'Kids and Family': 1})

# Blueprint: Profit Percentage Based on Cost

The amount of movies in the genre groups are all uneven, the goal through out the project is to make sure they all have the same amount of movies that are being analyzed to give it a fair comparison which will be done later on in the project.

The next step is to choose a genre to select and start analyzing. For this section Action and Adventure is being analyzed.

This is the blueprint for creating the first visualization Profit Percentage by cost, bokeh will be used to create these graphs.
Blueprint:
 1. Create a new dataframe for the graph, the dataframe columns will consist of these key infomation of the moives in the Action and Adventure Genre;
    - The Names 
    - Product Budget 
    - System Ratings 
    - Ratings 
    - Domestic Gross 
    - World Wide Gross
    - Profit
    - No. of Tickets
    - Product Budget in integers
    - Profit in integers
    - Total Gross in integers
    - Domestic total in integers
 
 
 2. Install bokeh and create the componets needed for the format of the code script for the graph.There will be five graphs and in each graph are key information of the movies based on the same system rating which are R, PG-13, PG, G and NR. These are the key componets needed in each graph based on the same system rating;
    - X-axis Range
    - Y-axis Range
    - Name
    - Profit in integers
    - System Rating
    - Percentage Profit by Cost
    - Cost


3. The graphs has to have visual componets that convey the information smoothly and also differentiate from one another due to that fact that they are all in groups, these are the formats to help do so; 
    - Color
    - Tooltips (make the graph interactive)
    - Type and shape of pionts in the graph

Below is the code script used to create a new dataframe needed for the graphs

In [190]:
# Getting the names of the first 200 movies in the Action and Adventure genre
movie_buddget = pd.read_csv('tn.movie_budgets.csv')
name_movies = []
for x,y in enumerate(first_500):
    if y[0:2]=='Ac': # 'Ac' is the first two words for Action and Adventure
        name_movies.append(movie_buddget.movie[x])
len(name_movies)

117

In [191]:
# Getting product budget of the first 200 movies in Action and Adventure genre
product_budget = []
for x,y in enumerate(first_500):
    if y[0:2]=='Ac':product_budget.append(movie_buddget.production_budget[x])
len(product_budget)

117

In [192]:
# Getting ratings of the first 200 movies in Action and Adventure genre
ratings = pd.read_csv('title.ratings.csv')
rating = []
for x,y in enumerate(first_500):
    if y[0:2]=='Ac': rating.append(ratings.averagerating[x])
len(rating)

117

In [193]:
# Getting system ratings of the first 200 movies in Action and Adventure genre
system_rating = []
for x,y in enumerate(first_500):
    if y[0:2]=='Ac': system_rating.append(movie_info.rating[x])
len(system_rating)

117

In [194]:
# Getting domestic gross of the first 200 movies in Action and Adventure genre
domestic_gross = []
for x,y in enumerate(first_500):
    if y[0:2]=='Ac': domestic_gross.append(movie_buddget.domestic_gross[x])
len(domestic_gross)

117

In [195]:
# Getting worldwide gross of the first 200 movies in Action and Adventure genre
worldwide_gross = []
for x,y in enumerate(first_500):
    if y[0:2]=='Ac': worldwide_gross.append(movie_buddget.worldwide_gross[x])
len(worldwide_gross)

117

The amount of movies per system rating all have to be the same. The code bellow caluclates how much movies are currently in each system rating.

In [11]:
# putting system ratings into groups
grouped_rating = []
grouped_rating=(collections.Counter(system_rating))
grouped_rating
# need all groups to be even, all groups need 42 records

Counter({'R': 42, 'PG-13': 18, 'PG': 19, 'G': 6, 'NR': 32})

'R' has the highest count of movies, so all system rating will have to have 42 movies.

Due to the fact that the amount of movies per system rating is not tha same, the following codes caluclate how much is needed for each misiing amount in each group and also getting the indexes of what is needed.

In [80]:
# making sure all system_rating have the same amout of records
# getting the index of  system PG-13: need 24
index_PG13 = movie_info[movie_info['rating']=='PG-13'].index
index_PG13[100:150]

Int64Index([ 732,  736,  757,  764,  769,  775,  777,  781,  787,  791,  802,
             804,  806,  832,  835,  838,  844,  845,  877,  879,  883,  884,
             889,  893,  905,  907,  926,  929,  933,  944,  948,  956,  961,
             964,  965,  966,  972,  974,  985,  988,  998, 1004, 1008, 1013,
            1016, 1020, 1025, 1030, 1033, 1036],
           dtype='int64')

Based on the indexed that are found, the code below double checks to make sure each index fits all the critra  needed to fit.

In [81]:
# using data frame to see ifno
movie_info.iloc[[330,338,339,351,358,359,360,384,408,417,423,423,424,
                428,430,434,436,437,440,442,450,462,466,492,495,499,
                507,512,524,570,574,584,597,604,607,615,619,631,641,649,
                657,660,663,665,674,676,690,707,716,721,729,
                732,736,757,764,769,775,777,781]]

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
330,433,The best-selling suspense novel by late author...,PG-13,Action and Adventure|Mystery and Suspense,Doug Liman,Tony Gilroy|William Blake Herron,"Jun 14, 2002","Jan 21, 2003",$,"121,500,000",117 minutes,Universal Pictures
338,443,Marvel's first family of comic superheroes tak...,PG-13,Action and Adventure|Science Fiction and Fantasy,Tim Story,Mark Frost|Michael France|Carl Johansen,"Jul 8, 2005","Dec 6, 2005",$,"154,485,963",123 minutes,20th Century Fox
339,444,Based on Leonard Gross' novel The Last Jews of...,PG-13,Drama|Romance,Anthony Page,Leonard Gross,NaN,NaN,NaN,NaN,116 minutes,NaN
351,458,This is a romantic comedy set in Paris about a...,PG-13,Comedy|Romance,Woody Allen,Woody Allen,"Jun 10, 2011","Dec 20, 2011",$,"55,400,000",94 minutes,Sony Pictures Classics
358,468,Television actor-turned-director Brian Robbins...,PG-13,Comedy|Drama,Brian Robbins,John Gatins,"Sep 14, 2001","Feb 19, 2002",$,"39,697,363",115 minutes,Paramount Pictures
359,469,"Jacqueline Kennedy Onassis sued him, Marlon Br...",PG-13,Documentary|Musical and Performing Arts|Specia...,Leon Gast,NaN,"Jul 30, 2010","Oct 19, 2010",$,"2,367",88 minutes,Magnolia Pictures
360,470,Louis Gossett Jr. stars in Sidney J. Furie's p...,PG-13,Action and Adventure,NaN,NaN,"Jan 17, 1986","May 22, 2001",NaN,NaN,117 minutes,NaN
384,497,Newly divorced Emma Moriarty (Sally Field) mov...,PG-13,Comedy|Drama|Romance,Martin Ritt,NaN,"Dec 25, 1985","May 16, 2000",NaN,NaN,108 minutes,NaN
408,533,"Jack Lemmon is Sam Bissel, a happily married a...",PG-13,Classics|Comedy,David Swift,Jim Fritzell|Everett Greenbaum|David Swift,"Jul 22, 1964","Jun 9, 2009",NaN,NaN,130 minutes,NaN
417,547,This delightfully vulgar sex farce about infid...,PG-13,Classics|Comedy|Romance,Billy Wilder,NaN,"Dec 22, 1964","Jul 15, 2003",NaN,NaN,126 minutes,NaN
423,554,1970s-era DC antihero Jonah Hex makes his way ...,PG-13,Action and Adventure|Drama|Horror|Western,Jimmy Hayward,Mark Neveldine|Brian Taylor,"Jun 18, 2010","Oct 12, 2010",$,"10,500,000",84 minutes,Warner Bros. Pictures
423,554,1970s-era DC antihero Jonah Hex makes his way ...,PG-13,Action and Adventure|Drama|Horror|Western,Jimmy Hayward,Mark Neveldine|Brian Taylor,"Jun 18, 2010","Oct 12, 2010",$,"10,500,000",84 minutes,Warner Bros. Pictures
424,555,This wistful drama is set in the summer of 197...,PG-13,Comedy|Drama,Lesli Linka Glatter,NaN,"Oct 20, 1995","Dec 21, 1999",NaN,NaN,96 minutes,NaN
428,561,A child discovers a whole new world when he ru...,PG-13,Action and Adventure|Art House and Internation...,John Leekley,John Leekley,"Aug 1, 2000","Nov 21, 2000",NaN,NaN,109 minutes,NaN
430,563,Kat Ellis is looking for the right man -- now,PG-13,Comedy|Drama|Romance,Clare Kilner,Dana Fox,"Feb 4, 2005","Aug 16, 2005",$,"32,000,000",89 minutes,Universal Pictures
434,567,Now graduated from college and out in the real...,PG-13,Comedy,Trish Sie,Mike White|Kay Cannon,"Dec 22, 2017","Mar 20, 2018",$,"104,880,310",NaN,NaN
436,572,Earl and Hank have only one thing in common: t...,PG-13,Action and Adventure|Comedy|Drama,Dennis Dugan,David Ronn|Jay Scherick,"Jan 17, 2003","May 27, 2003",$,"35,764,982",91 minutes,Sony Pictures
437,573,A young man and his pals rule supreme at their...,PG-13,Comedy|Drama,NaN,NaN,"Sep 23, 2005","Dec 13, 2005",$,"17,364,602",118 minutes,Fox Searchlight Pictures
440,579,"In the riveting suspense drama, CHAPPAQUIDDICK...",PG-13,Mystery and Suspense,John Curran,Taylor Allen|Andrew Logan,"Apr 6, 2018","Jul 10, 2018",NaN,NaN,101 minutes,NaN
442,581,David Wagner is a Nineties kid with a Fifties ...,PG-13,Comedy|Drama|Science Fiction and Fantasy,Gary Ross,Gary Ross,"Oct 23, 1998","Mar 23, 1999",NaN,NaN,125 minutes,New Line Cinema
450,590,"Two ferociously ambitious sisters, Mary and An...",PG-13,Drama|Romance,Justin Chadwick,Peter Morgan,"Feb 29, 2008","Jun 10, 2008",$,"26,800,000",115 minutes,Sony Pictures/Columbia
462,605,Saturday Night Live star Chris Farley had his ...,PG-13,Comedy|Special Interest,Peter Segal,Bonnie Turner,"Mar 31, 1995","Nov 9, 1999",NaN,NaN,95 minutes,NaN
466,610,American tourist Frank (Johnny Depp) meets a m...,PG-13,Action and Adventure|Mystery and Suspense|Romance,Florian Henckel von Donnersmarck,Florian Henckel von Donnersmarck|Christopher M...,"Dec 10, 2010","Mar 22, 2011",$,"67,631,157",103 minutes,Columbia Pictures
492,643,Brigsby Bear Adventures is a children's TV sho...,PG-13,Comedy,Dave McCary,Kevin Costello,"Jul 28, 2017","Nov 14, 2017",$,"529,426",97 minutes,Sony Pictures Classics
495,646,"On the eve of graduating law school, Veronica ...",PG-13,Comedy|Drama|Mystery and Suspense,NaN,NaN,"Mar 14, 2014","May 6, 2014",$,"2,664,765",108 minutes,Warner Bros.
499,654,John Hughes crafts an exemplary '80s Brat Pack...,PG-13,Comedy|Drama,Howard Deutch,John Hughes,"Feb 28, 1986","Aug 20, 2002",NaN,NaN,96 minutes,NaN
507,665,"Malcolm McDowell, with shock-white hair and a ...",PG-13,Art House and International|Drama,Karen Shakhnazarov,Aleksandr Borodyanskiy|Karen Shakhnazarov,"Jan 1, 2001","Jun 7, 2005",NaN,NaN,104 minutes,NaN
512,672,A couple's strength and faith are tested after...,PG-13,Drama|Horror,Bill Duke,Brian Bird,"Jan 9, 2009","Apr 7, 2009",$,"10,572,742",100 minutes,Screen Gems/SONY PICTURES
524,686,Set in a dystopic present where vigilant gargo...,PG-13,Horror|Mystery and Suspense|Science Fiction an...,Stuart Beattie,Stuart Beattie,"Jan 24, 2014","May 13, 2014",$,"15,687,400",92 minutes,Lionsgate Films
570,740,Director Joe Johnston takes over the creative ...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Joe Johnston,Jim Taylor|Alexander Payne|Peter Buchman,"Jul 18, 2001","Dec 11, 2001",NaN,NaN,92 minutes,Universal Pictures
574,744,On a flight home to Chicago for a family weddi...,PG-13,Comedy|Romance,John Burgess,Dode Levenson,"Feb 6, 2015","Feb 9, 2015",NaN,NaN,100 minutes,Freestyle Releasing
584,755,Directing his first film since 1998's Lethal W...,PG-13,Action and Adventure|Science Fiction and Fantasy,Richard Donner,Jeff Maguire|George Nolfi,"Nov 26, 2003","Apr 13, 2004",$,"19,375,474",116 minutes,Paramount Pictures
597,771,From the creators of Scary Movie and Date Movi...,PG-13,Comedy,Jason Friedberg|Aaron Seltzer,Aaron Seltzer|Jason Friedberg,"Jan 25, 2008","Jun 3, 2008",$,"38,200,000",84 minutes,20th Century Fox
604,781,Yoji Yamada's torchy Japanese drama Love and H...,PG-13,Art House and International|Classics|Drama|Rom...,Yoji Yamada,Yoji Yamada|Ichiro Yamamoto|Emiko Hiramatsu,"Nov 2, 2007","Nov 11, 2008",NaN,NaN,121 minutes,The Bigger Picture
607,784,"During a Los Angeles Christmas, a group of 82n...",PG-13,Classics|Comedy|Drama,Lewis Milestone,Charles Lederer|Harry Brown,"Aug 10, 1960","May 13, 2008",NaN,NaN,128 minutes,NaN
615,793,This small-town romance may be trying to ride ...,PG-13,Drama|Romance,Jack Fisk,Naomi Foner,NaN,NaN,NaN,NaN,85 minutes,NaN
619,800,A bank robber tries to go straight but finds h...,PG-13,Action and Adventure|Drama,Oley Sassone,Mark Sevi,NaN,NaN,NaN,NaN,90 minutes,NaN
631,814,An egotistical TV reporter learns to appreciat...,PG-13,Comedy|Romance,Stephen Herek,John Scott Shepherd|Dana Stevens,"Apr 26, 2002","Oct 15, 2002",$,"14,400,987",103 minutes,20th Century Fox
641,825,"With the help of her former warden, ex-con Per...",PG-13,Drama,Lee David Zlotoff,Lee David Zlotoff,"Aug 23, 1996","Nov 6, 2001",NaN,NaN,106 minutes,NaN
649,833,"A group of friends who are avid ""Star Wars"" fa...",PG-13,Action and Adventure|Comedy|Drama,Kyle Newman,NaN,"Jul 31, 2008","May 19, 2009",$,"700,000",90 minutes,NaN
657,841,This is a contemporary retelling of H.G. Wells...,PG-13,Action and Adventure|Science Fiction and Fantasy,Steven Spielberg,Josh Friedman|David Koepp,"Jun 29, 2005","Nov 22, 2005",$,"234,141,872",117 minutes,Paramount Pictures
660,846,"Dee Roberts is a 24-year-old, African-American...",PG-13,Drama,Tim Disney,Bill Haney,"Apr 17, 2009","Oct 13, 2009",$,"465,786",113 minutes,Samuel Goldwyn Films
663,849,A sterling cast headed by Oscar-nominated Susa...,PG-13,Action and Adventure|Drama|Mystery and Suspense,Joel Schumacher,Akiva Goldsman|Robert Getchell,"Jul 20, 1994","Dec 16, 1997",NaN,NaN,120 minutes,NaN
665,852,"This 1987 concert film, shot by Purple Rain di...",PG-13,Documentary|Musical and Performing Arts,Prince,NaN,"Jun 1, 1987","Jan 28, 2003",NaN,NaN,85 minutes,NaN
674,862,A man is being driven crazy by his shiftless b...,PG-13,Comedy,Anthony Russo|Joe Russo,NaN,"Jul 13, 2006","Nov 21, 2006",$,"75,604,320",109 minutes,Universal Pictures
676,864,Vacancy director Nimr,PG-13,Drama|Mystery and Suspense,NaN,NaN,"Dec 4, 2009","Mar 16, 2010",$,"15,988,876",88 minutes,NaN
690,883,"Now that Greg Focker is ""in"" with his soon-to-...",PG-13,Comedy,Jay Roach,Jim Herzfeld|John Hamburg,"Dec 22, 2004","Apr 26, 2005",$,"279,167,575",118 minutes,Universal Pictures
707,908,A man and a woman battle with deceit and infid...,PG-13,Art House and International|Comedy|Drama,Jan Hrebejk,NaN,"Jun 8, 2001","Nov 27, 2001",NaN,NaN,120 minutes,Sony Pictures Classics
716,921,A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
721,926,"In this suspense drama, a college student find...",PG-13,Horror|Mystery and Suspense,Rob Cohen,John Pogue,"Apr 1, 2000","Oct 24, 2000",NaN,NaN,106 minutes,Universal Studios Home Video
729,936,A teen-aged girl nearly comes unglued after he...,PG-13,Drama|Romance,Craig Bolotin,Craig Bolotin,"Jun 1, 1993","Feb 9, 1994",NaN,NaN,89 minutes,NaN
732,940,A woman is forced to prove her own sanity to s...,PG-13,Action and Adventure|Drama|Mystery and Suspense,Robert Schwentke,NaN,"Sep 23, 2005","Jan 24, 2006",$,"89,602,378",98 minutes,Touchstone Pictures
736,946,Tom is a twentysomething loser with no life. M...,PG-13,Comedy,Matt Reeves|Natt Reeves,Matt Reeves|Jason Katims,"May 3, 1996","Apr 3, 2001",NaN,NaN,97 minutes,NaN
757,975,"On her deathbed, a mother makes her son promis...",PG-13,Comedy|Romance,Andrew Bergman,Andrew Bergman,"Aug 28, 1992","May 15, 2001",NaN,NaN,95 minutes,NaN
764,984,A teenager and his kid brother spar with their...,PG-13,Drama|Mystery and Suspense,Michael Apted,Ron Koslow,"Jun 1, 1984","Jul 31, 2012",NaN,NaN,103 minutes,NaN
769,994,"Fresh Horses features Molly Ringwald as Jewel,...",PG-13,Drama|Romance,David Anspaugh,Larry Ketron,"Nov 18, 1988","Mar 23, 2004",NaN,NaN,102 minutes,NaN
775,1001,Based on the 2009 investigative book by BBC co...,PG-13,Drama,Stephen Frears,Jeff Pope|Steve Coogan,"Nov 22, 2013","Apr 15, 2014",NaN,NaN,98 minutes,The Weinstein Company
777,1004,Based on the Pulitzer Prize-winning novel by A...,PG-13,Drama,Steven Spielberg,Menno Meyjes,"Dec 16, 1985","Feb 18, 2003",NaN,NaN,154 minutes,NaN
781,1009,Director James L. Brooks returns to the helm f...,PG-13,Comedy|Drama|Romance,NaN,NaN,"Dec 17, 2010","Mar 22, 2011",$,"30,212,620",121 minutes,Columbia Pictures

In [42]:
#checking if the names are already used
for i in name_movies:
    if i == 'Alexander':
        print('yes!')
else:print('no')

yes!
no

In [25]:
#checking info in the dataframe
movie_buddget.iloc[[9,24,97,113,125,150,156,177,185,219,229,295,303,318,
                   327]]

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
24,25,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137"
97,98,"Jun 19, 2015",Inside Out,"$175,000,000","$356,461,711","$854,235,992"
113,14,"Aug 1, 2014",Guardians of the Galaxy,"$170,000,000","$333,172,112","$770,867,516"
125,26,"May 27, 2016",Alice Through the Looking Glass,"$170,000,000","$77,042,381","$276,928,112"
150,51,"Nov 24, 2004",Alexander,"$155,000,000","$34,297,191","$167,297,191"
156,57,"Mar 4, 2016",Zootopia,"$150,000,000","$341,268,248","$1,019,429,616"
177,78,"Mar 29, 2018",Ready Player One,"$150,000,000","$137,690,172","$579,290,136"
185,86,"Nov 21, 2008",Bolt,"$150,000,000","$114,053,579","$328,015,029"
219,20,"Mar 6, 2009",Watchmen,"$138,000,000","$107,509,799","$186,976,250"
229,30,"Nov 14, 2003",Master and Commander: The Far Side of the World,"$135,000,000","$93,926,386","$212,912,137"
295,96,"Feb 12, 2014",RoboCop,"$120,000,000","$58,607,007","$242,981,799"
303,4,"May 19, 1999",Star Wars Ep. I: The Phantom Menace,"$115,000,000","$474,544,677","$1,027,044,677"
318,19,"May 29, 2015",San Andreas,"$110,000,000","$155,190,832","$456,258,539"
327,28,"Dec 21, 2016",Passengers,"$110,000,000","$100,014,699","$302,239,672"

After making sure the index fits properly, it is stored in a avairable used later on to add it back to the dataframe. This is being repeted through out the next few coding script.

In [196]:
# new names index for pg-13
no2 = [156,177,185,219,229,295,303,318,327,330,338,360,423,428,436,
      466,570,584,619,649,657,663,716,633,635,667,732]

In [67]:
# making sure all system_rating have the same amout of records
# getting system PG: need 23
index_PG = movie_info[movie_info['rating']=='PG'].index
index_PG[100:150]

Int64Index([667, 671, 680, 682, 686, 694, 695, 698, 701, 705, 710, 725, 741,
            753, 756, 760, 761, 779, 784, 790, 800, 811, 813, 818, 822, 837,
            841, 847, 853, 854, 855, 856, 860, 867, 869, 882, 887, 888, 913,
            914, 919, 928, 931, 934, 940, 949, 954, 957, 962, 981],
           dtype='int64')

In [68]:
movie_info.iloc[[354,356,370,374,375,378,382,389,398,400,407,426,431,439,
                452,455,458,463,470,471,473,474,481,504,505,589,601,
                617,623,627,633,635,640,651,653,655,667]]

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
354,461,Robert Young directed this fact-based British ...,PG,Action and Adventure|Comedy,Robert Young,Jack Rosenthal,"May 28, 1999","Aug 28, 2001",NaN,NaN,90 minutes,NaN
356,465,Based on the real-life story of golf legend Bo...,PG,Drama,Rowdy Herrington,Rowdy Herrington|Bill Pryor|Tony DePaul,"Apr 30, 2004","Nov 30, 2004",$,"2,536,460",128 minutes,Film Foundry Releasing
370,482,"Take out the trash, eat your broccoli-who need...",PG,Action and Adventure|Animation|Comedy|Science ...,Simon Wells,Simon Wells|Wendy Wells,"Mar 11, 2011","Aug 9, 2011",$,"21,379,315",88 minutes,Walt Disney Pictures
374,487,Based on J.G. Ballard's autobiographical novel...,PG,Drama,Steven Spielberg,Tom Stoppard|Menno Meyjes,"Dec 9, 1987","Nov 6, 2001",NaN,NaN,153 minutes,NaN
375,488,"A recent college graduate, Barry B. Benson wan...",PG,Animation|Comedy|Kids and Family,NaN,Spike Feresten|Jerry Seinfeld|Barry Marder|And...,"Nov 2, 2007","Mar 11, 2008",$,"126,597,121",90 minutes,Paramount Pictures
378,491,The jumbo-sized Baker family are back in this ...,PG,Comedy|Kids and Family,Adam Shankman,Sam Harper,"Dec 21, 2005","May 23, 2006",$,"82,468,131",93 minutes,20th Century Fox
382,495,A U.S. senator who is planning an upcoming ele...,PG,Comedy|Drama,NaN,Miguel Tejada-Flores|Tim Metcalfe|Richard Martini,NaN,NaN,NaN,NaN,98 minutes,NaN
389,504,"The directorial debut of filmmaker Jared Hess,...",PG,Comedy,Jared Hess,Jared Hess|Jerusha Hess,"Jun 11, 2004","Dec 21, 2004",$,"44,478,018",86 minutes,Fox Searchlight Pictures
398,517,"In this spooky thriller, an evil sorcerer invi...",PG,Horror,Vernon Sewell,Mervyn Haisman|Henry Lincoln,NaN,NaN,NaN,NaN,87 minutes,NaN
400,520,"From bestselling author, Max Lucado, comes The...",PG,Drama|Kids and Family,John Stephenson,Candace Lee|Eric Newman,"Nov 22, 2013","Nov 4, 2014",$,"2,209,479",100 minutes,Echolight Studios
407,531,"In this adventure, set in the wilds of Montana...",PG,Action and Adventure|Drama|Mystery and Suspens...,Tab Murphy,Tab Murphy,"Sep 8, 1995","Jan 15, 2002",NaN,NaN,117 minutes,NaN
426,559,A pair of hot young southern California surfer...,PG,Comedy|Kids and Family,Neal Israel,Dan Gordon,"Aug 20, 1993","Sep 3, 2002",NaN,NaN,87 minutes,NaN
431,564,"For super-dog ""Bolt"", every day is filled with...",PG,Action and Adventure|Animation|Comedy,NaN,NaN,"Nov 21, 2008","Mar 24, 2009",$,"114,053,579",96 minutes,Walt Disney Pictures
439,578,Woody Allen's gentle and nostalgic tribute to ...,PG,Comedy|Drama,Woody Allen,Woody Allen,"Jan 30, 1987","Nov 6, 2001",NaN,NaN,96 minutes,NaN
452,594,"Bill Murray, Dan Aykroyd, Harold Ramis and Ern...",PG,Action and Adventure|Comedy|Science Fiction an...,Ivan Reitman,Harold Ramis|Dan Aykroyd|Peter Torokvei,"Jun 8, 1984","Jun 29, 1999",NaN,NaN,105 minutes,Columbia Pictures
455,597,Director Lawrence Kasdan and Frank Galati adap...,PG,Comedy|Drama|Romance,Lawrence Kasdan,Anne Tyler|Frank Galati|Lawrence Kasdan,"Dec 23, 1988","Jun 1, 2004",NaN,NaN,121 minutes,NaN
458,601,Superman (Christopher Reeve) tries to save the...,PG,Action and Adventure|Science Fiction and Fantasy,NaN,Lawrence Konner|Mark Rosenthal,"Jul 24, 1987","May 1, 2001",NaN,NaN,91 minutes,NaN
463,607,Director and former stunt coordinator Chuck Ba...,PG,Drama|Mystery and Suspense|Science Fiction and...,Chuck Bail,NaN,"Jul 1, 1986","Apr 15, 1987",NaN,NaN,95 minutes,NaN
470,614,In one of John Wayne's more interesting late W...,PG,Classics|Drama|Western,Mark Rydell,NaN,"Jan 13, 1972","Oct 6, 1998",NaN,NaN,128 minutes,NaN
471,615,Master filmmaker Hou Hsiao Hsien directs this ...,PG,Art House and International|Drama,Hsiao-hsien Hou,NaN,"Jan 1, 1986","Sep 11, 2001",NaN,NaN,109 minutes,NaN
473,618,A would-be Nashville star finds himself in hot...,PG,Drama,NaN,Bob Bonney,NaN,NaN,NaN,NaN,110 minutes,NaN
474,619,Convinced that a recently burned-down structur...,PG,Comedy|Kids and Family|Science Fiction and Fan...,Michael Rubbo,Michael Rubbo,NaN,NaN,NaN,NaN,96 minutes,NaN
481,628,"""Queen of Katwe"" is the colorful true story of...",PG,Drama|Kids and Family,Mira Nair,William Wheeler,NaN,NaN,$,"8,874,389",124 minutes,NaN
504,661,One woman's rocky road to the altar gets playe...,PG,Comedy|Romance,Joel Zwick,Nia Vardalos,"Apr 19, 2002","Feb 11, 2003",$,"241,250,669",95 minutes,IFC Films
505,663,A pair of high-school dweebs get a chance to b...,PG,Comedy|Science Fiction and Fantasy,Les Mayfield,Shawn Schepps|Dana Olsen|George Zaloom,"May 22, 1992","May 15, 2001",NaN,NaN,88 minutes,NaN
589,761,Arthur Penn directed this quirky look at the l...,PG,Classics|Western,Arthur Penn,Leslie Stevens,"May 7, 1958","Nov 14, 2006",NaN,NaN,102 minutes,NaN
601,776,"Loosely based on Fellini's 8 1/2, this Woody A...",PG,Comedy|Drama,Woody Allen,Woody Allen,"Sep 26, 1980","Jul 5, 2000",NaN,NaN,88 minutes,NaN
617,797,The life of a middle-class black family in Los...,PG,Drama,Charles Burnett,Charles Burnett,"Jan 1, 1990","Jun 13, 1991",NaN,NaN,102 minutes,NaN
623,805,A sequel to HBO's award-winning film The Gathe...,PG,Action and Adventure|Drama,NaN,Hugh Whitemore,NaN,NaN,NaN,NaN,98 minutes,NaN
627,809,"Dismissed when first released, later heralded ...",PG,Classics|Drama|Mystery and Suspense|Romance,Alfred Hitchcock,NaN,"Jan 1, 1958","Mar 31, 1998",NaN,NaN,128 minutes,NaN
633,816,Two mismatched wolves embark on a cross-countr...,PG,Action and Adventure|Animation|Comedy|Kids and...,Anthony Bell|Ben Gluck|Benjamin Gluck,Steve Moore|Chris Denk,"Sep 17, 2010","Jan 11, 2011",$,"25,077,977",88 minutes,Lionsgate Films
635,818,This third film in the Teenage Mutant Ninja Tu...,PG,Action and Adventure|Comedy|Kids and Family|Sc...,Stuart Gillard|Corey Feldman|Tim Kelleher,Stuart Gillard|Joe Batteer,"Mar 19, 1993","Sep 3, 2002",NaN,NaN,96 minutes,NaN
640,824,"Making great fun of the '70s, this lively sci-...",PG,Comedy|Musical and Performing Arts|Science Fic...,Lucas Reiner,Lucas Reiner|Roman Coppola,"Jan 1, 1990","Jun 3, 2003",NaN,NaN,82 minutes,NaN
651,835,"In this off-beat sci-fi outing, alien invaders...",PG,Science Fiction and Fantasy,John Hayes,Frank Ray Perilli,"Jun 26, 1978","Mar 8, 2005",NaN,NaN,88 minutes,NaN
653,837,The Green Room (La Chambre Verte) is perhaps t...,PG,Art House and International|Drama,NaN,NaN,NaN,NaN,NaN,NaN,95 minutes,NaN
655,839,This distaff romantic tear jerker concerns a y...,PG,Drama|Romance,Arthur Hiller,Erich Segal,"Dec 16, 1970","Apr 24, 2001",NaN,NaN,100 minutes,Paramount Pictures
667,855,"Between giving up his super powers, confrontin...",PG,Action and Adventure|Science Fiction and Fantasy,Richard Lester|Richard Donner,Mario Puzo|David Newman|Leslie Newman,"Jun 19, 1981","May 1, 2001",NaN,NaN,127 minutes,NaN

In [72]:
#checking if the names are already used
for i in name_movies:
    if i == 'Cars 2':
        print('yes!')
else:print('no')

no

In [69]:
movie_buddget.iloc[[22,56,139,142,166,175,227,239,271,272,292,
                    333,346,347,354,370,431,452,458,
                   623,633,635,667]]

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
22,23,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267"
56,57,"Jun 24, 2011",Cars 2,"$200,000,000","$191,450,875","$560,155,383"
139,40,"May 24, 2013",Fast and Furious 6,"$160,000,000","$238,679,850","$789,300,444"
142,43,"Dec 25, 2008",The Curious Case of Benjamin Button,"$160,000,000","$127,509,326","$329,631,958"
166,67,"Jun 15, 2005",Batman Begins,"$150,000,000","$205,343,774","$359,142,722"
175,76,"May 10, 2019",PokÃ©mon: Detective Pikachu,"$150,000,000","$139,507,806","$411,258,433"
227,28,"Nov 19, 1999",The World is Not Enough,"$135,000,000","$126,930,660","$361,730,660"
239,40,"Aug 3, 2007",The Bourne Ultimatum,"$130,000,000","$227,471,070","$444,043,396"
271,72,"Apr 1, 2010",Clash of the Titans,"$125,000,000","$163,214,888","$493,214,888"
272,73,"Nov 4, 2016",Trolls,"$125,000,000","$153,707,064","$344,150,134"
292,93,"Apr 19, 2013",Oblivion,"$120,000,000","$89,107,235","$287,916,633"
333,34,"Mar 18, 2016",The Divergent Series: Allegiant,"$110,000,000","$66,184,051","$172,022,517"
346,47,"Nov 23, 2016",Allied,"$106,000,000","$40,098,064","$119,266,661"
347,48,"Jul 16, 2004","I, Robot","$105,000,000","$144,801,023","$348,629,585"
354,55,"Jun 9, 2000",Gone in 60 Seconds,"$103,300,000","$101,643,008","$232,643,008"
370,71,"Jul 15, 1994",True Lies,"$100,000,000","$146,282,411","$365,300,000"
431,32,"Feb 14, 2008",The Spiderwick Chronicles,"$92,500,000","$71,195,053","$162,839,667"
452,53,"Jun 6, 2008",You Don't Mess With the Zohan,"$90,000,000","$100,018,837","$202,910,991"
458,59,"Jul 24, 2015",Pixels,"$90,000,000","$78,765,986","$244,041,804"
623,24,"Dec 25, 2006",Children of Men,"$76,000,000","$35,552,383","$69,845,011"
633,34,"Jun 25, 2010",Grown Ups,"$75,000,000","$162,001,186","$272,223,430"
635,36,"Jul 14, 2000",X-Men,"$75,000,000","$157,299,717","$296,872,367"
667,68,"Oct 23, 1998",Soldier,"$75,000,000","$14,623,082","$14,623,082"

In [197]:
no1=[22,56,139,142,166,175,227,239,271,272,292,
                    333,346,347,354,370,431,452,458,
                   623]

In [76]:
# making sure all system_rating have the same amout of records
# getting system NR: need 10
index_PG = movie_info[movie_info['rating']=='NR'].index
index_PG[50:100]

Int64Index([164, 169, 171, 174, 179, 180, 183, 186, 195, 196, 197, 200, 208,
            210, 213, 215, 216, 220, 221, 222, 225, 228, 233, 236, 237, 238,
            244, 250, 251, 257, 258, 263, 265, 267, 268, 273, 274, 282, 284,
            289, 290, 291, 293, 305, 306, 312, 314, 320, 321, 323],
           dtype='int64')

In [81]:
movie_info.iloc[[164,169,171,174,179,180,183,186,195,196,
                197,200,208]]

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
164,216,"""I'm the finest woman who walked the streets,""...",NR,Classics|Comedy,Lowell Sherman,Mae West|Harvey Thew|John Bright,"Feb 9, 1933","Apr 22, 2008",NaN,NaN,65 minutes,NaN
169,223,"The Leningrad Cowboys, the self-proclaimed Wor...",NR,Documentary|Musical and Performing Arts,NaN,NaN,"Jul 2, 1994","Apr 26, 2005",NaN,NaN,54 minutes,NaN
171,225,Forbidden love between a beautiful orphan and ...,NR,Drama|Television,Bobby Roth,Maria Nation,"Apr 6, 1997","Dec 7, 2004",NaN,NaN,93 minutes,NaN
174,229,The grass is always greener.... In this Britis...,NR,Comedy,Val Guest,NaN,"Oct 11, 1957","Mar 28, 2000",NaN,NaN,85 minutes,NaN
179,236,John Wayne once again goes undercover to catch...,NR,Classics|Western,NaN,NaN,"May 10, 1934","Jun 18, 2006",NaN,NaN,59 minutes,NaN
180,237,Coproduced by the BBC and America's Fox Networ...,NR,Action and Adventure|Drama|Science Fiction and...,Geoffrey Sax,Matthew Jacobs,"May 12, 1996","Feb 8, 2011",NaN,NaN,85 minutes,NaN
183,240,"In this film, Maurice Chevalier plays a Parisi...",NR,Classics|Comedy|Musical and Performing Arts|Ro...,George Cukor|Ernst Lubitsch,Samson Raphaelson,"Mar 22, 1932","Feb 12, 2008",NaN,NaN,80 minutes,NaN
186,247,"Based on a popular British television drama, t...",NR,Art House and International|Drama|Romance,NaN,Ted Willis,NaN,NaN,NaN,NaN,93 minutes,NaN
195,258,NaN,NR,Art House and International|Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,259,One of history's most shocking horrors returns...,NR,Drama|Horror|Mystery and Suspense,NaN,Leif Holt,NaN,NaN,NaN,NaN,93 minutes,NaN
197,261,Tea for Two is a Technicolor adaptation of the...,NR,Classics|Comedy|Drama|Musical and Performing Arts,David Butler,Harry Clork|William Jacobs|Harry Clark,"Sep 2, 1950","Apr 7, 2009",NaN,NaN,98 minutes,NaN
200,265,Wakeboarding is a sport of ever-increasing pop...,NR,Special Interest|Sports and Fitness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,275,Stephen Chow's prodigious skills with guns and...,NR,Action and Adventure|Art House and Internation...,Gordon Chan,NaN,"Dec 31, 1991","Mar 28, 2006",NaN,NaN,101 minutes,NaN

In [198]:
no3=[164,169,171,174,179,180,183,186,195,196]

In [96]:
# making sure all system_rating have the same amout of records
# getting system G: need 36
index_G = movie_info[movie_info['rating']=='G'].index
index_G[100:110]

Int64Index([], dtype='int64')

In [94]:
movie_info.iloc[[1450,1522,1528,1540,1544,1557,1558]]

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1450,1867,"Filmed in panoramic Cinerama, this star-studde...",G,Action and Adventure|Classics|Drama|Western,John Ford|Henry Hathaway|George Marshall|Richa...,NaN,"Feb 20, 1963","Sep 30, 2006",NaN,NaN,180 minutes,NaN
1522,1958,Twenty-nine-year-old Iranian-American writer C...,G,Drama,Amir Motlagh,Amir Motlagh,NaN,NaN,NaN,NaN,74 minutes,NaN
1528,1965,"Because of a misunderstanding on his part, Cli...",G,Animation|Kids and Family,Robert Ramirez,Robert Ramirez|Rhett Reese,"Apr 23, 2004","Aug 24, 2004",$,"2,782,548",73 minutes,Warner Bros. Pictures
1540,1979,"In this taut crime drama, a radio broadcaster ...",G,Classics|Drama|Mystery and Suspense,Michael Curtiz,Ranald MacDougall|Bess Meredyth,NaN,NaN,NaN,NaN,103 minutes,NaN
1544,1983,This animated children's film spoofs the Sherl...,G,Action and Adventure|Animation|Kids and Family,Burny Mattinson|Ron Clements|John Musker|Dave ...,NaN,"Jul 2, 1986","Jul 23, 2002",NaN,NaN,74 minutes,NaN
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN

In [199]:
no = [30,143,168,248,254,593,892,894,1102,1105,1439,1450,
     1544]

In [200]:
# getting system G name:need 36,couldnt get all missed 10
names=[]
for i in no:
    names.append(movie_buddget.movie[i])
names

['The Amazing Spider-Man',
 "The Sorcerer's Apprentice",
 'Dunkirk',
 'Rio 2',
 'R.I.P.D.',
 'Thirteen Days',
 'The Tale of Despereaux',
 'The Dark Tower',
 'Stepmom',
 'Inside Man',
 'Legal Eagles',
 'Fever Pitch',
 "The Time Traveler's Wife"]

In [201]:
# getting system PG name:need 23
names1=[]
for i in no1:
    names1.append(movie_buddget.movie[i])
names1[:8]

['The Fate of the Furious',
 'Cars 2',
 'Fast and Furious 6',
 'The Curious Case of Benjamin Button',
 'Batman Begins',
 'PokÃ©mon: Detective Pikachu',
 'The World is Not Enough',
 'The Bourne Ultimatum']

In [202]:
# getting system PG-13 name:need 24
names2=[]
for i in no2:
    names2.append(movie_buddget.movie[i])
names2[:8]

['Zootopia',
 'Ready Player One',
 'Bolt',
 'Watchmen',
 'Master and Commander: The Far Side of the World',
 'RoboCop',
 'Star Wars Ep. I: The Phantom Menace',
 'San Andreas']

In [203]:
# getting system NR name:need 10
names3=[]
for i in no3:
    names3.append(movie_buddget.movie[i])
names3[:9]

['Ratatouille',
 'Thor',
 'X-Men Origins: Wolverine',
 'Mad Max: Fury Road',
 'Mission: Impossible III',
 'Angels & Demons',
 'Bee Movie',
 'Wrath of the Titans',
 'Flushed Away']

Now that all the new indexs has been idnetified they will be added to the new dataframe needed to create the five interactive graphs.

In [204]:
# add new 'R' names to the original
for i in names:
    name_movies.append(i)
len(name_movies)

130

In [205]:
# add new 'PG' names to the original
for i in names1:
    name_movies.append(i)
len(name_movies)

150

In [206]:
# add new 'PG-13' names to the original
for i in names2:
    name_movies.append(i)
len(name_movies)

177

In [207]:
# add new 'G' names to the original
for i in names3:
    name_movies.append(i)
len(name_movies)

187

Now that the names have been updated with the new indexes, we use it to get the rest of the key components from the original dataframe to add to the new dataframe.

In [208]:
#getting the index of the names to get other info from dataframe
index = []
for i in name_movies:
    index.append(list(movie_buddget[movie_buddget['movie']==i].index))
len(index)

187

In [209]:
#Turning nested list to regular list
from funcy import flatten,isa
flat_list = flatten(index)

In [210]:
#converting list of list into int 
newflat_list = []
for i in flat_list:
    i=int(i)
    newflat_list.append(i)

In [211]:
# removing integers that are not needed
newflat_list1 = []
for i in newflat_list:
    if i == 2095:continue
    if i == 273:continue
    if i == 3232:continue
    if i == 2434:continue
    if i == 4198:continue
    if i == 4476:continue
    if i == 3409:continue
    if i == 3050:continue
    if i == 3254:continue
    else: newflat_list1.append(i)

In [212]:
len(newflat_list1)

187

In [213]:
#using the updated indexes to get the new and old product budgets
product_budget = []
for x in newflat_list1:
    product_budget.append(movie_buddget.production_budget[x])
len(product_budget)

187

In [214]:
# using the updated indexes to get the new and old ratings
rating = []
for x in newflat_list1:
    rating.append(ratings.averagerating[x])
len(rating)

187

In [215]:
#using the updated indexes to get thenew and old system ratings
system_rating = []
for x in newflat_list1:
    system_rating.append(movie_info.rating[x])
len(system_rating)

187

In [47]:
# all system ratings have the same amout of records 42 except for 'G' system rating
# 'G' rating needs 23 movies 
grouped_rating = []
grouped_rating=(collections.Counter(system_rating))
grouped_rating

Counter({'R': 42, 'PG-13': 42, 'PG': 42, 'G': 19, 'NR': 42})

The data set did not have enough movies in the Action and Adventure genre that was G-rated. The 23 movies needed were from Box Office Mojo, they will be added to the data frame.

In [216]:
# the name of the movies
name_mojo = ['Toy Story 4','Cars 2','Finding Nemo','The Tale of Despereaux','Monsters University','Herbie: Fully Loaded',
            'Wallace & Gomit: The Curse of the Were-Rabbit','A Boy\'s Life','Ozzy','Ponyo','The Lion King','Yellow Submarine',
            'Curious George 1','Fantastica: A Boonie Bears','Ice Age 2: The Meltdown','The Fox and the Child','Space Chimps','The Oegieloves',
            'Brother Bears 1','Cliffords','The Wizard of Oz','Chicken Little','Wall-E']
# ratings of the movies
rating_mojo = [7.8,6.1,8.1,6.1,7.3,4.8,7.4,7.3,5.2,7.7,6.9,7.4,6.5,6.4,6.8,8,4.5,2.1,6.8,5.4,8,5.7,8.4]
# worldwide gross
worldwide_gross_mojo = ['$1,078,000,000','$562,100,000','871,000,000','$86,957,280','$743,539,607','$144,146,816','$194,111,171','$424,600,00',
                       '$12,852,439','$202,551,810','$1,656,943,394','$1,278,261','$69,800,000','$77,151,096','$660,998,756','$29,610,210',
                       '$65,097,693','$1,065,907','$250,397,798','$3,252,426','$34,949,482','$314,432,837','$521,311,860']
# domestic gross
domestic_gross_mojo = ['$434,000,000','$191,500,000','$339,700,000','$50,877,145','$268,492,764','$66,023,816','$56,110,897','$204,400,000',
                      '$0','$15,090,399','$543,638,043','$992,303','$58,400,000','$76,630,780','$195,336,621','$29,610,210','$30,105,968',
                       '$1,065,907','$85,336,277','$2,922,354','$34,685,891','$135,386,665','$223,808,164']
# product budget
product_budget_mojo = ['$200,000,000','$200,000,000','$94,000,000','$60,000,000','$200,000,000','$50,000,000','$30,000,000',
                      '$90,000,000','$10,000,000','$34,000,000','$260,000,000','$250,000','$50,000,000','$90,000,000','$80,000,00',
                       '$13,000,000','$37,000,000','$20,000,000','$46,000,000','$70,000','$2,777,000','$150,000,000','$180,000,000']

In [217]:
# adding names from mojo to the original
for i in name_mojo:
    name_movies.append(i)
len(name_movies)

210

In [218]:
g = 'G'*23
g= list(g)
for i in g:
    system_rating.append(i)
len(system_rating)

210

In [219]:
# adding rating from mojo to the original
for i in rating_mojo:
    rating.append(i)
len(rating)

210

In [220]:
# adding product budget from mojo to the original
for i in product_budget_mojo:
    product_budget.append(i)
len(product_budget)

210

In [221]:
#using the updated indexes to get the new and old domestic gross
domestic_gross = []
for x in newflat_list1:
    domestic_gross.append(movie_buddget.domestic_gross[x])
len(domestic_gross)

187

In [222]:
# adding product budget from mojo to the original
for i in domestic_gross_mojo:
    domestic_gross.append(i)
len(domestic_gross)

210

In [223]:
### using the updated indexes to get the new and old worldwide gross
worldwide_gross = []
for x in newflat_list1:
    worldwide_gross.append(movie_buddget.worldwide_gross[x])
len(worldwide_gross)

187

In [224]:
# adding product budget from mojo to the original
for i in worldwide_gross_mojo:
    worldwide_gross.append(i)
len(worldwide_gross)

210

In [225]:
# all system ratings have the same amout of records 42 
grouped_rating = []
grouped_rating=(collections.Counter(system_rating))
grouped_rating

Counter({'R': 42, 'PG-13': 42, 'PG': 42, 'G': 42, 'NR': 42})

All the information have been gathered, the script below uses it to create a new and updated dataframe.

In [226]:
all_drama_info = pd.DataFrame({'Name':name_movies,'System_ratings':system_rating,'Rating':rating,'Worlwide_gross':worldwide_gross,
                               'Domestic_gross':domestic_gross,'Product_budget':product_budget})
all_drama_info1=all_drama_info.dropna()
all_drama_info1 = all_drama_info[all_drama_info.Name !='Moonfall']

Now that the dataframe has been updated, Worldwide Gross, Product Budget and Domestic Gross has to be converted from string to int.

In [227]:
# turning Worldwide gross into int
storage1 = []
storage2 = []
total_gross=[]
for i in  all_drama_info1.dropna().Worlwide_gross:
    storage1.append(i.replace('$',''))
for i in storage1:
    storage2.append(i.replace(',',''))
for i in storage2:   
    i = int(i)
    total_gross.append(i)
len(total_gross)

210

In [228]:
# turning Produt budget  into int
storage1 = []
storage2 = []
budget=[]
for i in  all_drama_info1.dropna().Product_budget:
    storage1.append(i.replace('$',''))
for i in storage1:
    storage2.append(i.replace(',',''))
for i in storage2:   
    i = int(i)
    budget.append(i)
len(budget)

210

In [229]:
# turning Domestic gross into int
storage1 = []
storage2 = []
Doomestic_gross=[]
for i in  all_drama_info1.dropna().Domestic_gross:
    storage1.append(i.replace('$',''))
for i in storage1:
    storage2.append(i.replace(',',''))
for i in storage2:   
    i = int(i)
    Doomestic_gross.append(i)
len(Doomestic_gross)

210

In [230]:
#drop all the NA from the dataframe
all_drama_info1 = all_drama_info1.dropna()


#adding all the string componnets that have been converted to dataframe
all_drama_info1['Buget']=budget
all_drama_info1['Total_gross']=total_gross
all_drama_info1['Domestic_total']=Doomestic_gross
all_drama_info1[200:]

,Name,System_ratings,Rating,Worlwide_gross,Domestic_gross,Product_budget,Buget,Total_gross,Domestic_total
200,Fantastica: A Boonie Bears,G,6.4,"$77,151,096","$76,630,780","$90,000,000",90000000,77151096,76630780
201,Ice Age 2: The Meltdown,G,6.8,"$660,998,756","$195,336,621","$80,000,00",8000000,660998756,195336621
202,The Fox and the Child,G,8.0,"$29,610,210","$29,610,210","$13,000,000",13000000,29610210,29610210
203,Space Chimps,G,4.5,"$65,097,693","$30,105,968","$37,000,000",37000000,65097693,30105968
204,The Oegieloves,G,2.1,"$1,065,907","$1,065,907","$20,000,000",20000000,1065907,1065907
205,Brother Bears 1,G,6.8,"$250,397,798","$85,336,277","$46,000,000",46000000,250397798,85336277
206,Cliffords,G,5.4,"$3,252,426","$2,922,354","$70,000",70000,3252426,2922354
207,The Wizard of Oz,G,8.0,"$34,949,482","$34,685,891","$2,777,000",2777000,34949482,34685891
208,Chicken Little,G,5.7,"$314,432,837","$135,386,665","$150,000,000",150000000,314432837,135386665
209,Wall-E,G,8.4,"$521,311,860","$223,808,164","$180,000,000",180000000,521311860,223808164

In [231]:
# getting profit
profit = []
for x,y in enumerate(total_gross):
    profit.append(y-budget[x])
len(profit)

210

In [232]:
all_drama_info1['Profit']=profit

In [233]:
all_drama_info1

,Name,System_ratings,Rating,Worlwide_gross,Domestic_gross,Product_budget,Buget,Total_gross,Domestic_total,Profit
0,Avatar,R,8.3,"$2,776,345,279","$760,507,625","$425,000,000",425000000,2776345279,760507625,2351345279
1,Spectre,PG-13,4.2,"$879,620,923","$200,074,175","$300,000,000",300000000,879620923,200074175,579620923
2,Captain America: Civil War,R,7.6,"$1,140,069,413","$408,084,349","$250,000,000",250000000,1140069413,408084349,890069413
3,Batman v Superman: Dawn of Justice,PG,6.5,"$867,500,281","$330,360,194","$250,000,000",250000000,867500281,330360194,617500281
4,The Hobbit: The Battle of the Five Armies,G,6.6,"$945,577,621","$255,119,788","$250,000,000",250000000,945577621,255119788,695577621
...,...,...,...,...,...,...,...,...,...,...
205,Brother Bears 1,G,6.8,"$250,397,798","$85,336,277","$46,000,000",46000000,250397798,85336277,204397798
206,Cliffords,G,5.4,"$3,252,426","$2,922,354","$70,000",70000,3252426,2922354,3182426
207,The Wizard of Oz,G,8.0,"$34,949,482","$34,685,891","$2,777,000",2777000,34949482,34685891,32172482
208,Chicken Little,G,5.7,"$314,432,837","$135,386,665","$150,000,000",150000000,314432837,135386665,164432837
209,Wall-E,G,8.4,"$521,311,860","$223,808,164","$180,000,000",180000000,521311860,223808164,341311860

In [234]:
# Creating Box office column
# dividing total gross by the avg price of tickets, to get an estimsted number of tickes sold
no_tickets = []
for i in all_drama_info1.Total_gross:
    no_tickets.append(round(i/13)) 
no_tickets[:10]

[213565021,
 67663148,
 87697647,
 66730791,
 72736740,
 94988174,
 28775774,
 32103176,
 50324114,
 64347669]

In [235]:
# converting integer of no. of tickets into string
tickets_string = []
for i in no_tickets:
    tickets_string.append("{:,.0f}".format(i))
tickets_string

['213,565,021',
 '67,663,148',
 '87,697,647',
 '66,730,791',
 '72,736,740',
 '94,988,174',
 '28,775,774',
 '32,103,176',
 '50,324,114',
 '64,347,669',
 '84,926,083',
 '103,712,171',
 '93,491,713',
 '66,332,018',
 '54,538,180',
 '30,774,059',
 '50,170,776',
 '16,887,346',
 '25,873,821',
 '55,426,121',
 '41,733,657',
 '74,065,734',
 '65,710,461',
 '61,385,239',
 '40,329,515',
 '29,503,182',
 '100,444,061',
 '47,781,261',
 '54,953,991',
 '23,951,168',
 '23,021,303',
 '64,271,126',
 '60,715,419',
 '40,698,159',
 '27,339,100',
 '33,242,376',
 '12,869,015',
 '63,164,106',
 '48,196,130',
 '27,626,363',
 '46,129,290',
 '51,141,350',
 '31,635,264',
 '32,869,251',
 '23,849,525',
 '22,122,660',
 '23,482,314',
 '33,226,318',
 '48,842,623',
 '29,756,893',
 '20,639,578',
 '10,679,750',
 '5,878,211',
 '20,428,758',
 '63,824,980',
 '40,995,254',
 '16,377,857',
 '22,068,968',
 '28,226,349',
 '42,691,344',
 '21,020,922',
 '27,140,851',
 '37,308,058',
 '41,204,880',
 '18,332,140',
 '18,519,976',
 '25,285,495',
 '47,762,462',
 '17,657,353',
 '32,927,406',
 '22,014,776',
 '12,539,916',
 '65,307,606',
 '50,515,047',
 '5,971,405',
 '60,513,889',
 '22,698,145',
 '26,115,714',
 '16,028,530',
 '22,768,221',
 '20,298,488',
 '13,232,501',
 '11,720,336',
 '11,574,462',
 '12,916,207',
 '68,246,999',
 '10,293,714',
 '50,405,496',
 '20,697,360',
 '27,846,159',
 '35,784,276',
 '27,862,442',
 '13,148,959',
 '29,990,032',
 '13,022,813',
 '5,349,895',
 '7,327,345',
 '7,926,097',
 '6,560,571',
 '14,640,438',
 '14,086,509',
 '22,667,752',
 '20,299,905',
 '72,033,028',
 '21,025,399',
 '12,526,128',
 '47,286,673',
 '1,839,336',
 '66,130,912',
 '22,207,230',
 '23,346,154',
 '12,501,935',
 '12,519,526',
 '12,084,073',
 '8,153,846',
 '15,682,920',
 '23,036,760',
 '58,299,251',
 '16,768,178',
 '38,449,028',
 '37,911,253',
 '6,082,821',
 '5,119,581',
 '6,960,178',
 '8,727,810',
 '12,288,098',
 '14,292,174',
 '3,834,738',
 '3,851,621',
 '7,871,703',
 '94,988,174',
 '43,088,876',
 '60,715,419',
 '25,356,304',
 '27,626,363',
 '31,635,264',
 '27,825,435',
 '34,157,184',
 '37,939,607',
 '26,473,087',
 '22,147,433',
 '13,232,501',
 '9,174,359',
 '26,817,660',
 '17,895,616',
 '28,100,000',
 '12,526,128',
 '15,608,538',
 '18,772,446',
 '5,372,693',
 '78,417,663',
 '44,560,780',
 '25,231,925',
 '14,382,788',
 '16,377,857',
 '18,690,908',
 '79,003,437',
 '35,096,811',
 '23,249,206',
 '20,298,488',
 '16,834,873',
 '27,601,901',
 '8,374,997',
 '31,120,133',
 '14,450,860',
 '11,003,812',
 '13,138,887',
 '3,894,772',
 '117,052',
 '9,193,290',
 '4,180,332',
 '16,886,105',
 '9,534,948',
 '20,940,264',
 '22,836,336',
 '1,124,852',
 '4,636,909',
 '48,196,130',
 '34,563,586',
 '28,832,751',
 '28,469,078',
 '30,577,027',
 '37,759,680',
 '22,122,660',
 '23,482,314',
 '13,796,702',
 '57,455,482',
 '82,923,077',
 '43,238,462',
 '67,000,000',
 '6,689,022',
 '57,195,354',
 '11,088,217',
 '14,931,629',
 '3,266,154',
 '988,649',
 '15,580,908',
 '127,457,184',
 '98,328',
 '5,369,231',
 '5,934,700',
 '50,846,058',
 '2,277,708',
 '5,007,515',
 '81,993',
 '19,261,369',
 '250,187',
 '2,688,422',
 '24,187,141',
 '40,100,912']

In [236]:
# converting integer of profit to currency
currency = []
for i in all_drama_info1.Profit:
    currency.append("${:,.0f}".format(i))
len(currency)

210

In [237]:
all_drama_info1['No.Tickets']=tickets_string
all_drama_info1['Profit$']= currency
all_drama_info1

,Name,System_ratings,Rating,Worlwide_gross,Domestic_gross,Product_budget,Buget,Total_gross,Domestic_total,Profit,No.Tickets,Profit$
0,Avatar,R,8.3,"$2,776,345,279","$760,507,625","$425,000,000",425000000,2776345279,760507625,2351345279,"213,565,021","$2,351,345,279"
1,Spectre,PG-13,4.2,"$879,620,923","$200,074,175","$300,000,000",300000000,879620923,200074175,579620923,"67,663,148","$579,620,923"
2,Captain America: Civil War,R,7.6,"$1,140,069,413","$408,084,349","$250,000,000",250000000,1140069413,408084349,890069413,"87,697,647","$890,069,413"
3,Batman v Superman: Dawn of Justice,PG,6.5,"$867,500,281","$330,360,194","$250,000,000",250000000,867500281,330360194,617500281,"66,730,791","$617,500,281"
4,The Hobbit: The Battle of the Five Armies,G,6.6,"$945,577,621","$255,119,788","$250,000,000",250000000,945577621,255119788,695577621,"72,736,740","$695,577,621"
...,...,...,...,...,...,...,...,...,...,...,...,...
205,Brother Bears 1,G,6.8,"$250,397,798","$85,336,277","$46,000,000",46000000,250397798,85336277,204397798,"19,261,369","$204,397,798"
206,Cliffords,G,5.4,"$3,252,426","$2,922,354","$70,000",70000,3252426,2922354,3182426,"250,187","$3,182,426"
207,The Wizard of Oz,G,8.0,"$34,949,482","$34,685,891","$2,777,000",2777000,34949482,34685891,32172482,"2,688,422","$32,172,482"
208,Chicken Little,G,5.7,"$314,432,837","$135,386,665","$150,000,000",150000000,314432837,135386665,164432837,"24,187,141","$164,432,837"
209,Wall-E,G,8.4,"$521,311,860","$223,808,164","$180,000,000",180000000,521311860,223808164,341311860,"40,100,912","$341,311,860"

After the dataframe has been updated, bokeh is being installed.

In [340]:
from bokeh.layouts import gridplot,row
from bokeh.plotting import figure,output_file,ColumnDataSource
from bokeh.io import push_notebook,show,output_notebook
from bokeh.models import NumeralTickFormatter
output_notebook()

Bokeh is successfully installed, now the key componets need to be creted for each system rating group to make the graphs.

A reminder of the componets;
 - Cost
 - Proft
 - Name
 - Profit Percntage by Cost
 - Type of System Rating

In [239]:
# index of all 'R' system ratings
index_r = []
for i,x in enumerate(system_rating):
    if x == 'R':index_r.append(i)

In [240]:
# getiing the profit for all 'R' system rating
r_profit = []
for i in index_r:
    r_profit.append(all_drama_info1.Profit[i])
r_profit

[2351345279,
 890069413,
 142085065,
 192341288,
 439213485,
 894039076,
 1015392272,
 662316233,
 508996336,
 452220086,
 136359676,
 349283695,
 208541369,
 1135772799,
 675524642,
 277150894,
 160043823,
 289942139,
 693524737,
 424987477,
 143271982,
 113317814,
 500912003,
 109545589,
 733998877,
 -37371735,
 42364370,
 40468000,
 778210985,
 547271443,
 164065678,
 363195589,
 262211740,
 -30451359,
 -4744515,
 168898761,
 522726752,
 198693989,
 213500000,
 67092943,
 16000000,
 214477886]

In [241]:
# getting the cost for 'R' system rating
cost1 = []
for i in index_r:
    cost1.append(all_drama_info1.Product_budget[i])
cost1

['$425,000,000',
 '$250,000,000',
 '$232,000,000',
 '$225,000,000',
 '$215,000,000',
 '$210,000,000',
 '$200,000,000',
 '$200,000,000',
 '$200,000,000',
 '$200,000,000',
 '$200,000,000',
 '$175,000,000',
 '$175,000,000',
 '$170,000,000',
 '$160,000,000',
 '$155,000,000',
 '$150,000,000',
 '$142,000,000',
 '$136,200,000',
 '$130,000,000',
 '$130,000,000',
 '$125,000,000',
 '$120,000,000',
 '$120,000,000',
 '$115,000,000',
 '$115,000,000',
 '$110,000,000',
 '$110,000,000',
 '$109,000,000',
 '$108,000,000',
 '$105,000,000',
 '$102,000,000',
 '$100,000,000',
 '$100,000,000',
 '$100,000,000',
 '$95,000,000',
 '$92,000,000',
 '$90,000,000',
 '$90,000,000',
 '$90,000,000',
 '$90,000,000',
 '$85,000,000']

In [242]:
# getiing the name for all 'R' system rating
r_name = []
for i in index_r:
    r_name.append(all_drama_info1.Name[i])
r_name

['Avatar',
 'Captain America: Civil War',
 'Superman Returns',
 'The Chronicles of Narnia: Prince Caspian',
 'Men in Black 3',
 'Transformers: Age of Extinction',
 'Iron Man 3',
 'Guardians of the Galaxy Vol 2',
 'The Amazing Spider-Man 2',
 'Fantastic Beasts: The Crimes of Grindelwald',
 'Prince of Persia: Sands of Time',
 'Ralph Breaks The Internet',
 'Cars 3',
 'Jurassic World: Fallen Kingdom',
 'Inception',
 'Terminator: Genisys',
 'Chicken Little',
 'Die Another Day',
 'The Twilight Saga: Breaking Dawn, Part 2',
 'Puss in Boots',
 'Bad Boys II',
 'Batman & Robin',
 'Life of Pi',
 'Ghost Rider',
 'Star Wars Ep. III: Revenge of the Sith',
 'Windtalkers',
 'The Taking of Pelham 123',
 'Speed 2: Cruise Control',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Martian',
 '10,000 B.C.',
 'Bumblebee',
 'Planet of the Apes',
 'Land of the Lost',
 'Peter Pan',
 'The Fifth Element',
 'The Incredibles',
 'What Lies Beneath',
 'Mulan',
 'Lara Croft: Tomb Raider: The Cradle of Life',
 'Mission to Mars',
 'Horton Hears a Who']

In [243]:
# getiing the $profit for all 'R' system rating
r_dollar = []
for i in index_r:
    r_dollar.append(all_drama_info1['Profit$'][i])
len(r_dollar)

42

In [244]:
# getiing the system rating for all 'R' system rating
r_sratings = []
for i in index_r:
    r_sratings.append(all_drama_info1.System_ratings[i])
len(r_sratings)

42

In [245]:
# getting percentage profit for all 'R' system rating
percent_profit = []
for i in index_r:
    i = (all_drama_info1.Profit[i] / all_drama_info1.Buget[i])*100
    percent_profit.append(round(i,0))
percent_profit

[553.0,
 356.0,
 61.0,
 85.0,
 204.0,
 426.0,
 508.0,
 331.0,
 254.0,
 226.0,
 68.0,
 200.0,
 119.0,
 668.0,
 422.0,
 179.0,
 107.0,
 204.0,
 509.0,
 327.0,
 110.0,
 91.0,
 417.0,
 91.0,
 638.0,
 -32.0,
 39.0,
 37.0,
 714.0,
 507.0,
 156.0,
 356.0,
 262.0,
 -30.0,
 -5.0,
 178.0,
 568.0,
 221.0,
 237.0,
 75.0,
 18.0,
 252.0]

In [246]:
# turning float of percentage of profit into int for 'R' system rating
pp = []
for i in percent_profit:
    i = int(i)
    pp.append(i)
pp

[553,
 356,
 61,
 85,
 204,
 426,
 508,
 331,
 254,
 226,
 68,
 200,
 119,
 668,
 422,
 179,
 107,
 204,
 509,
 327,
 110,
 91,
 417,
 91,
 638,
 -32,
 39,
 37,
 714,
 507,
 156,
 356,
 262,
 -30,
 -5,
 178,
 568,
 221,
 237,
 75,
 18,
 252]

In [247]:
# converting integer to percentage for 'R' system rating
percentage_profit = []
for i in pp:
    percentage_profit.append("{:}%".format(i))
percentage_profit

['553%',
 '356%',
 '61%',
 '85%',
 '204%',
 '426%',
 '508%',
 '331%',
 '254%',
 '226%',
 '68%',
 '200%',
 '119%',
 '668%',
 '422%',
 '179%',
 '107%',
 '204%',
 '509%',
 '327%',
 '110%',
 '91%',
 '417%',
 '91%',
 '638%',
 '-32%',
 '39%',
 '37%',
 '714%',
 '507%',
 '156%',
 '356%',
 '262%',
 '-30%',
 '-5%',
 '178%',
 '568%',
 '221%',
 '237%',
 '75%',
 '18%',
 '252%']

In [248]:
# index of all 'G' system ratings
index_g = []
for i,x in enumerate(system_rating):
    if x == 'G':index_g.append(i)

In [249]:
# getiing the profit for all 'G' system rating
g_profit = []
for i in index_g:
    g_profit.append(all_drama_info1.Profit[i])
g_profit

[695577621,
 671133378,
 449680774,
 115759682,
 3039258,
 72525156,
 537890267,
 57986320,
 349837368,
 362846291,
 -50923322,
 -13445453,
 30482317,
 53461527,
 109745279,
 135798265,
 9851591,
 10071069,
 63332135,
 878000000,
 362100000,
 777000000,
 26957280,
 543539607,
 94146816,
 164111171,
 -47540000,
 2852439,
 168551810,
 1396943394,
 1028261,
 19800000,
 -12848904,
 652998756,
 16610210,
 28097693,
 -18934093,
 204397798,
 3182426,
 32172482,
 164432837,
 341311860]

In [250]:
# getting the cost for 'G' system rating
cost2 = []
for i in index_g:
    cost2.append(all_drama_info1.Product_budget[i])
cost2

['$250,000,000',
 '$150,000,000',
 '$150,000,000',
 '$125,000,000',
 '$100,000,000',
 '$90,000,000',
 '$220,000,000',
 '$160,000,000',
 '$150,000,000',
 '$130,000,000',
 '$130,000,000',
 '$80,000,000',
 '$60,000,000',
 '$60,000,000',
 '$50,000,000',
 '$50,000,000',
 '$40,000,000',
 '$40,000,000',
 '$39,000,000',
 '$200,000,000',
 '$200,000,000',
 '$94,000,000',
 '$60,000,000',
 '$200,000,000',
 '$50,000,000',
 '$30,000,000',
 '$90,000,000',
 '$10,000,000',
 '$34,000,000',
 '$260,000,000',
 '$250,000',
 '$50,000,000',
 '$90,000,000',
 '$80,000,00',
 '$13,000,000',
 '$37,000,000',
 '$20,000,000',
 '$46,000,000',
 '$70,000',
 '$2,777,000',
 '$150,000,000',
 '$180,000,000']

In [251]:
# getiing the name for all 'G' system rating
g_name = []
for i in index_g:
    g_name.append(all_drama_info1.Name[i])
len(g_name)

42

In [252]:
# getiing the $profit for all 'G' system rating
g_dollar = []
for i in index_g:
    g_dollar.append(all_drama_info1['Profit$'][i])
len(g_dollar)

42

In [253]:
# getiing the system rating for all 'G' system rating
g_sratings = []
for i in index_g:
    g_sratings.append(all_drama_info1.System_ratings[i])
len(g_sratings)

42

In [254]:
# getting percentage profit for all 'G' system rating
percent_profit1 = []
for i in index_g:
    i = (all_drama_info1.Profit[i] / all_drama_info1.Buget[i])*100
    percent_profit1.append(round(i,0))
percent_profit1

[278.0,
 447.0,
 300.0,
 93.0,
 3.0,
 81.0,
 244.0,
 36.0,
 233.0,
 279.0,
 -39.0,
 -17.0,
 51.0,
 89.0,
 219.0,
 272.0,
 25.0,
 25.0,
 162.0,
 439.0,
 181.0,
 827.0,
 45.0,
 272.0,
 188.0,
 547.0,
 -53.0,
 29.0,
 496.0,
 537.0,
 411.0,
 40.0,
 -14.0,
 8162.0,
 128.0,
 76.0,
 -95.0,
 444.0,
 4546.0,
 1159.0,
 110.0,
 190.0]

In [255]:
# turning float of percentage of profit into int for 'G' system rating
pp1= []
for i in percent_profit1:
    i = int(i)
    pp1.append(i)
pp1

[278,
 447,
 300,
 93,
 3,
 81,
 244,
 36,
 233,
 279,
 -39,
 -17,
 51,
 89,
 219,
 272,
 25,
 25,
 162,
 439,
 181,
 827,
 45,
 272,
 188,
 547,
 -53,
 29,
 496,
 537,
 411,
 40,
 -14,
 8162,
 128,
 76,
 -95,
 444,
 4546,
 1159,
 110,
 190]

In [256]:
# converting integer to percentage for 'G' system rating
percentage_profit1 = []
for i in pp1:
    percentage_profit1.append("{:}%".format(i))
percentage_profit1

['278%',
 '447%',
 '300%',
 '93%',
 '3%',
 '81%',
 '244%',
 '36%',
 '233%',
 '279%',
 '-39%',
 '-17%',
 '51%',
 '89%',
 '219%',
 '272%',
 '25%',
 '25%',
 '162%',
 '439%',
 '181%',
 '827%',
 '45%',
 '272%',
 '188%',
 '547%',
 '-53%',
 '29%',
 '496%',
 '537%',
 '411%',
 '40%',
 '-14%',
 '8162%',
 '128%',
 '76%',
 '-95%',
 '444%',
 '4546%',
 '1159%',
 '110%',
 '190%']

In [257]:
# index of all 'PG' system ratings
index_pg = []
for i,x in enumerate(system_rating):
    if x == 'PG':index_pg.append(i)

In [258]:
# getiing the profit for all 'PG' system rating
pg_profit = []
for i in index_pg:
    pg_profit.append(all_drama_info1.Profit[i])
pg_profit

[617500281,
 984846267,
 200062763,
 364537546,
 451156389,
 629300444,
 209142722,
 514837547,
 261258433,
 494954103,
 246839614,
 -1163244,
 98370892,
 62022517,
 259000072,
 289870414,
 91325698,
 70339667,
 113877963,
 984846267,
 360155383,
 629300444,
 169631958,
 209142722,
 261258433,
 226730660,
 314043396,
 368214888,
 219150134,
 167916633,
 62022517,
 13266661,
 243629585,
 129343008,
 265300000,
 70339667,
 112910991,
 154041804,
 -6154989,
 197223430,
 221872367,
 -60376918]

In [259]:
# getting the cost for 'PG' system rating
cost3 = []
for i in index_pg:
    cost3.append(all_drama_info1.Product_budget[i])
cost3

['$250,000,000',
 '$250,000,000',
 '$200,000,000',
 '$178,000,000',
 '$170,000,000',
 '$160,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$140,000,000',
 '$140,000,000',
 '$140,000,000',
 '$110,000,000',
 '$110,000,000',
 '$103,000,000',
 '$100,000,000',
 '$99,000,000',
 '$92,500,000',
 '$90,000,000',
 '$250,000,000',
 '$200,000,000',
 '$160,000,000',
 '$160,000,000',
 '$150,000,000',
 '$150,000,000',
 '$135,000,000',
 '$130,000,000',
 '$125,000,000',
 '$125,000,000',
 '$120,000,000',
 '$110,000,000',
 '$106,000,000',
 '$105,000,000',
 '$103,300,000',
 '$100,000,000',
 '$92,500,000',
 '$90,000,000',
 '$90,000,000',
 '$76,000,000',
 '$75,000,000',
 '$75,000,000',
 '$75,000,000']

In [260]:
# getiing the name for all 'PG' system rating
pg_name = []
for i in index_pg:
    pg_name.append(all_drama_info1.Name[i])
len(pg_name)

42

In [261]:
# getiing the $profit for all 'PG' system rating
pg_dollar = []
for i in index_pg:
    pg_dollar.append(all_drama_info1['Profit$'][i])
len(pg_dollar)

42

In [262]:
# getiing the system rating for all 'PG' system rating
pg_sratings = []
for i in index_pg:
    pg_sratings.append(all_drama_info1.System_ratings[i])
len(pg_sratings)

42

In [263]:
# getting percentage profit for all 'PG' system rating
percent_profit2 = []
for i in index_pg:
    i = (all_drama_info1.Profit[i] / all_drama_info1.Buget[i])*100
    percent_profit2.append(round(i,0))
percent_profit2

[247.0,
 394.0,
 100.0,
 205.0,
 265.0,
 393.0,
 139.0,
 343.0,
 174.0,
 354.0,
 176.0,
 -1.0,
 89.0,
 56.0,
 251.0,
 290.0,
 92.0,
 76.0,
 127.0,
 394.0,
 180.0,
 393.0,
 106.0,
 139.0,
 174.0,
 168.0,
 242.0,
 295.0,
 175.0,
 140.0,
 56.0,
 13.0,
 232.0,
 125.0,
 265.0,
 76.0,
 125.0,
 171.0,
 -8.0,
 263.0,
 296.0,
 -81.0]

In [264]:
# turning float of percentage of profit into int for 'PG' system rating
pp2= []
for i in percent_profit2:
    i = int(i)
    pp2.append(i)
pp2

[247,
 394,
 100,
 205,
 265,
 393,
 139,
 343,
 174,
 354,
 176,
 -1,
 89,
 56,
 251,
 290,
 92,
 76,
 127,
 394,
 180,
 393,
 106,
 139,
 174,
 168,
 242,
 295,
 175,
 140,
 56,
 13,
 232,
 125,
 265,
 76,
 125,
 171,
 -8,
 263,
 296,
 -81]

In [265]:
# converting integer to percentage for 'PG' system rating
percentage_profit2= []
for i in pp2:
    percentage_profit2.append("{:}%".format(i))
percentage_profit2

['247%',
 '394%',
 '100%',
 '205%',
 '265%',
 '393%',
 '139%',
 '343%',
 '174%',
 '354%',
 '176%',
 '-1%',
 '89%',
 '56%',
 '251%',
 '290%',
 '92%',
 '76%',
 '127%',
 '394%',
 '180%',
 '393%',
 '106%',
 '139%',
 '174%',
 '168%',
 '242%',
 '295%',
 '175%',
 '140%',
 '56%',
 '13%',
 '232%',
 '125%',
 '265%',
 '76%',
 '125%',
 '171%',
 '-8%',
 '263%',
 '296%',
 '-81%']

In [266]:
# index of all 'PG-13' system ratings
index_pg13 = []
for i,x in enumerate(system_rating):
    if x == 'PG-13':index_pg13.append(i)

In [267]:
# getiing the profit for all 'PG-13' system rating
pg13_profit = []
for i in index_pg13:
    pg13_profit.append(all_drama_info1.Profit[i])
pg13_profit

[579620923,
 19535492,
 540539572,
 679235992,
 129276941,
 12297191,
 277300260,
 397938302,
 77912137,
 151896578,
 43018913,
 185986876,
 153880341,
 57910690,
 842429370,
 -68088638,
 769701857,
 72753837,
 869429616,
 429290136,
 178015029,
 48976250,
 77912137,
 122981799,
 912044677,
 346258539,
 192239672,
 153880341,
 108853353,
 256824714,
 13874967,
 310561724,
 96861183,
 53049560,
 90805525,
 -29367963,
 -75978328,
 44512771,
 -20655679,
 144519367,
 53954323,
 -9720178]

In [268]:
# getiing the name for all 'PG-13' system rating
pg13_name = []
for i in index_pg13:
    pg13_name.append(all_drama_info1.Name[i])
len(pg13_name)

42

In [269]:
# getting the cost for 'PG-13' system rating
cost4 = []
for i in index_pg13:
    cost4.append(all_drama_info1.Product_budget[i])
cost4

['$300,000,000',
 '$200,000,000',
 '$180,000,000',
 '$175,000,000',
 '$170,000,000',
 '$155,000,000',
 '$150,000,000',
 '$135,000,000',
 '$135,000,000',
 '$135,000,000',
 '$120,000,000',
 '$110,000,000',
 '$110,000,000',
 '$110,000,000',
 '$94,000,000',
 '$92,000,000',
 '$90,000,000',
 '$90,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$138,000,000',
 '$135,000,000',
 '$120,000,000',
 '$115,000,000',
 '$110,000,000',
 '$110,000,000',
 '$110,000,000',
 '$110,000,000',
 '$102,000,000',
 '$95,000,000',
 '$94,000,000',
 '$91,000,000',
 '$90,000,000',
 '$80,000,000',
 '$80,000,000',
 '$77,500,000',
 '$75,000,000',
 '$75,000,000',
 '$75,000,000',
 '$70,000,000',
 '$70,000,000']

In [270]:
# getiing the $profit for all 'PG-13' system rating
pg13_dollar = []
for i in index_pg13:
    pg13_dollar.append(all_drama_info1['Profit$'][i])
len(pg13_dollar)

42

In [271]:
# getiing the system rating for all 'PG-13' system rating
pg13_sratings = []
for i in index_pg13:
    pg13_sratings.append(all_drama_info1.System_ratings[i])
len(pg13_sratings)

42

In [272]:
# getting percentage profit for all 'PG-13' system rating
percent_profit3 = []
for i in index_pg13:
    i = (all_drama_info1.Profit[i] / all_drama_info1.Buget[i])*100
    percent_profit3.append(round(i,0))
percent_profit3

[193.0,
 10.0,
 300.0,
 388.0,
 76.0,
 8.0,
 185.0,
 295.0,
 58.0,
 113.0,
 36.0,
 169.0,
 140.0,
 53.0,
 896.0,
 -74.0,
 855.0,
 81.0,
 580.0,
 286.0,
 119.0,
 35.0,
 58.0,
 102.0,
 793.0,
 315.0,
 175.0,
 140.0,
 99.0,
 252.0,
 15.0,
 330.0,
 106.0,
 59.0,
 114.0,
 -37.0,
 -98.0,
 59.0,
 -28.0,
 193.0,
 77.0,
 -14.0]

In [273]:
# turning float of percentage of profit into int
pp3= []
for i in percent_profit3:
    i = int(i)
    pp3.append(i)
pp3

[193,
 10,
 300,
 388,
 76,
 8,
 185,
 295,
 58,
 113,
 36,
 169,
 140,
 53,
 896,
 -74,
 855,
 81,
 580,
 286,
 119,
 35,
 58,
 102,
 793,
 315,
 175,
 140,
 99,
 252,
 15,
 330,
 106,
 59,
 114,
 -37,
 -98,
 59,
 -28,
 193,
 77,
 -14]

In [274]:
# converting integer to percentage
percentage_profit3= []
for i in pp3:
    percentage_profit3.append("{:}%".format(i))
percentage_profit3

['193%',
 '10%',
 '300%',
 '388%',
 '76%',
 '8%',
 '185%',
 '295%',
 '58%',
 '113%',
 '36%',
 '169%',
 '140%',
 '53%',
 '896%',
 '-74%',
 '855%',
 '81%',
 '580%',
 '286%',
 '119%',
 '35%',
 '58%',
 '102%',
 '793%',
 '315%',
 '175%',
 '140%',
 '99%',
 '252%',
 '15%',
 '330%',
 '106%',
 '59%',
 '114%',
 '-37%',
 '-98%',
 '59%',
 '-28%',
 '193%',
 '77%',
 '-14%']

In [275]:
# index of all 'NR' system ratings
index_NR = []
for i,x in enumerate(system_rating):
    if x == 'NR':index_NR.append(i)

In [276]:
# getiing the profit for all 'NR' system rating
NR_profit = []
for i in index_NR:
    NR_profit.append(all_drama_info1.Profit[i])
NR_profit

[626519699,
 1148258224,
 787854547,
 623008101,
 544401889,
 141365187,
 369076069,
 195408305,
 476549695,
 137594577,
 155270083,
 128314513,
 -61583254,
 128073859,
 234942531,
 222831065,
 360004754,
 410663443,
 208711434,
 308056280,
 166192091,
 541695615,
 676680557,
 185075882,
 229504276,
 24818283,
 70936470,
 69296573,
 -14712583,
 86124621,
 199680778,
 179330185,
 476549695,
 299326618,
 224825760,
 220098020,
 247501348,
 340875846,
 137594577,
 155270083,
 30357126,
 601921271]

In [277]:
# getiing the name for all 'NR' system rating
nr_name = []
for i in index_NR:
    nr_name.append(all_drama_info1.Name[i])
len(nr_name)

42

In [278]:
# getting the cost for 'NR' system rating
cost5 = []
for i in index_NR:
    cost5.append(all_drama_info1.Product_budget[i])
cost5

['$210,000,000',
 '$200,000,000',
 '$175,000,000',
 '$175,000,000',
 '$170,000,000',
 '$170,000,000',
 '$160,000,000',
 '$160,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$140,000,000',
 '$138,000,000',
 '$137,500,000',
 '$132,000,000',
 '$130,000,000',
 '$125,000,000',
 '$125,000,000',
 '$120,000,000',
 '$120,000,000',
 '$120,000,000',
 '$115,000,000',
 '$110,000,000',
 '$110,000,000',
 '$110,000,000',
 '$109,000,000',
 '$100,000,000',
 '$100,000,000',
 '$100,000,000',
 '$97,000,000',
 '$95,000,000',
 '$94,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$149,000,000',
 '$145,000,000']

In [279]:
# getiing the $profit for all 'NR' system rating
nr_dollar = []
for i in index_NR:
    nr_dollar.append(all_drama_info1['Profit$'][i])
len(nr_dollar)

42

In [280]:
# getiing the system rating for all 'NR' system rating
nr_sratings = []
for i in index_NR:
    nr_sratings.append(all_drama_info1.System_ratings[i])
len(nr_sratings)

42

In [281]:
# getting percentage profit for all 'NR' system rating
percent_profit4 = []
for i in index_NR:
    i = (all_drama_info1.Profit[i] / all_drama_info1.Buget[i])*100
    percent_profit4.append(round(i,0))
percent_profit4

[298.0,
 574.0,
 450.0,
 356.0,
 320.0,
 83.0,
 231.0,
 122.0,
 318.0,
 92.0,
 104.0,
 92.0,
 -45.0,
 93.0,
 178.0,
 171.0,
 288.0,
 329.0,
 174.0,
 257.0,
 138.0,
 471.0,
 615.0,
 168.0,
 209.0,
 23.0,
 71.0,
 69.0,
 -15.0,
 89.0,
 210.0,
 191.0,
 318.0,
 200.0,
 150.0,
 147.0,
 165.0,
 227.0,
 92.0,
 104.0,
 20.0,
 415.0]

In [282]:
# turning float of percentage of profit into int for 'NR' system rating
pp4= []
for i in percent_profit4:
    i = int(i)
    pp4.append(i)
pp4

[298,
 574,
 450,
 356,
 320,
 83,
 231,
 122,
 318,
 92,
 104,
 92,
 -45,
 93,
 178,
 171,
 288,
 329,
 174,
 257,
 138,
 471,
 615,
 168,
 209,
 23,
 71,
 69,
 -15,
 89,
 210,
 191,
 318,
 200,
 150,
 147,
 165,
 227,
 92,
 104,
 20,
 415]

In [283]:
# converting integer to percentage for 'NR' system rating
percentage_profit4= []
for i in pp4:
    percentage_profit4.append("{:}%".format(i))
percentage_profit4

['298%',
 '574%',
 '450%',
 '356%',
 '320%',
 '83%',
 '231%',
 '122%',
 '318%',
 '92%',
 '104%',
 '92%',
 '-45%',
 '93%',
 '178%',
 '171%',
 '288%',
 '329%',
 '174%',
 '257%',
 '138%',
 '471%',
 '615%',
 '168%',
 '209%',
 '23%',
 '71%',
 '69%',
 '-15%',
 '89%',
 '210%',
 '191%',
 '318%',
 '200%',
 '150%',
 '147%',
 '165%',
 '227%',
 '92%',
 '104%',
 '20%',
 '415%']

In [343]:
rangee = list(range(42)) # x-axis range
# allows the garph to hover over the piont to show all information about the pionts  
TOOLS = "pan,wheel_zoom,box_zoom,reset,save,box_select,hover"

# Graph 1
source = ColumnDataSource(data=dict(
    x = rangee, # x-axis
    y = r_profit,# y-axis
    name=r_name, # name of movie
    profit=r_dollar,# profit in currency($)
    system_rating=r_sratings ,# system rating of movie
    percent_profit=percentage_profit,# profit percentage based on cost
    cost1=cost1))# cost of movie
# tooltips information, this is all the info shown when hovered
TOOLTIPS=[
    ("Name","@name"),# the name
    ("Cost","@cost1"),# the cost
    ("Profit","@profit"),# the profit
    ("(System-Rating)","@system_rating"),# the system rating
    ("(Profit-Percentage)","@percent_profit")]# the profit percentage
p3 = figure(title='Profit.Drama.System Rating R',tools=TOOLS,plot_height=300,
           plot_width=300,tooltips=TOOLTIPS)
# takes away the scientific notation off the y-axis
p3.left[0].formatter.use_scientific=False 
# makes the digits more visible by turning it into millions on the y-axis
p3.yaxis[0].formatter=NumeralTickFormatter(format="$0.a")
p3.circle('x','y',color="grey",width=3,source=source)
p3.line('x','y',color="grey",# the style and color of the graph
        line_dash='dashed',line_width=2,source=source)

# Graph 2
source4 = ColumnDataSource(data=dict(
     o=rangee,# x-axis
     e=g_profit,# y-axis
     name1=g_name,# name of movies
     profit1=g_dollar,# profit of movies in curreny($)
     system_rating1=g_sratings,# system rating of movie
     percent_profit1=percentage_profit1,# profit percentage based on cost
     cost2=cost2))# cost of movie
# tooltips information, this is all the info shown when hovered
TOOLTIPS=[
    ("Name","@name1"),# the name
    ("Cost","@cost2"),# the cost
    ("Profit","@profit1"),# the profit in dollars
    ("(System-Rating)","@system_rating1"),# the system rating
    ("(Profit-Percentage)","@percent_profit1")]# the profit percentage
p4 = figure(title='Profit.Drama.System Rating G',tools=TOOLS,plot_height=300,
            plot_width=300,tooltips=TOOLTIPS)
# takes away the scientific notation off the y-axis
p4.left[0].formatter.use_scientific=False
# makes the digits more visible by turning it into millions on the y-axis
p4.yaxis[0].formatter=NumeralTickFormatter(format="$0.a")
# the style and color of the graph
p4.circle(x='o',y='e',color='pink',width=3,source=source4)
p4.line(x='o',y='e',color='pink',source=source4)
 
# Graph 3
source1 = ColumnDataSource(data=dict(
       p=rangee,# x-axis
       q=pg_profit,# y-axis
       name2=pg_name,# name of movies
       profit2=pg_dollar,# profit of movies in currency ($)
       system_rating2=pg_sratings,# system rating of moives
       percent_profit2=percentage_profit2,# profit percnetage based on cost
       cost3=cost3))# cost of movies
# tooltips information, this is all the info shown when hovered
TOOLTIPS=[
    ("Name","@name2"),# the name 
    ("Cost","@cost3"),# the cost
    ("Profit","@profit2"),# the profit the dollars
    ("(System-Rating)","@system_rating2"),# the system rating
    ("(Profit-Percentage)","@percent_profit2")]# the profit percentage 
p5 = figure(title='Profit.Drama.System Rating PG',tools=TOOLS,plot_height=300,
            plot_width=300,tooltips=TOOLTIPS)
# takes away the scientific notation off the y-axis
p5.left[0].formatter.use_scientific=False
# makes the digits more visible by turning it into millions on the y-axis
p5.yaxis[0].formatter=NumeralTickFormatter(format="$0.0a")
# the style and color of graph
p5.square(x='p',y='q',line_color='gold',fill_color=None,source=source1)
p5.line(x='p',y='q',line_color='gold',source=source1)

# Graph 4
source2 = ColumnDataSource(data=dict(
       r=rangee,# x-axis
       t=pg13_profit,# y-axis
       name3=pg13_name,# name of movies
       profit3=pg13_dollar,# profit of movies to currency ($)
       system_rating3=pg13_sratings,# system rating of movies
       percent_profit3=percentage_profit3,# profit percentage based on cost
       cost4=cost4))# cost of movies
#tooltips information; this is all the info shown when hovered
TOOLTIPS=[
    ("Name","@name3"),# the name
    ("Cost","@cost4"),# the cost
    ("Profit","@profit3"),# the profit in dollars
    ("(System-Rating)","@system_rating3"),# the system rating
    ("(Profit-Percentage)","@percent_profit3")]# the profit percentage
p6 = figure(title='Profit.Drama.System Rating PG-13',tools=TOOLS,plot_height=300,
            plot_width=300,tooltips=TOOLTIPS)
#takes away the scientific notation off the y-axis
p6.left[0].formatter.use_scientific=False
# makes the digits more visible ny turning it into millions on the y-axis
p6.yaxis[0].formatter=NumeralTickFormatter(format='$0.a')
# the style and color of the graph
p6.triangle(x='r',y='t',color='orange',width=2,source=source2)
p6.line(x='r',y='t',color='orange',width=2,source=source2)

# Graph 5
source3 = ColumnDataSource(data=dict(
        l=rangee,# x-axis
        i=NR_profit,# y-axis
        name4=nr_name,# name of movies
        profit4=nr_dollar,# profit of movies to currency ($)
        system_rating4=nr_sratings,# system rating of movies
        percent_profit4=percentage_profit4,# profit percentage based on cost
        cost5=cost5))#cost of movies
#tooltips information; this is all the info shown when hovered
TOOLTIPS=[
    ("Name","@name4"),# the name
    ("Cost","@cost5"),# the cost
    ("Profit","@profit4"),# the profit in dollars
    ("(System-Rating)","@system_rating4"),# the system rating
    ("(Profit-Percentage)","@percent_profit4")]# the profit percentage
p7 = figure(title='Profit.Drama.System Rating NR',tools=TOOLS,
            plot_height=300,plot_width=300,tooltips=TOOLTIPS)
#takes away the scientiifc notation off the y-axis
p7.left[0].formatter.use_scientific=False
#makes the digits more visible by turning it into millions  on the y-axis
p7.yaxis[0].formatter=NumeralTickFormatter(format="$0.0a")
# the style and color of the graph
p7.circle(x='l',y='i',color='brown',fill_color=None,width=2,source=source3)
p7.line(x='l',y='i',color='brown',width=2,source=source3)

output_file("toolbar.thml")
show(row(p3,p4,p5,p6,p7))# this puts the graphs side by side

PermissionError: [Errno 13] Permission denied: 'toolbar.thml'

# Blueprint: Gross Profit Margin Percentage

This is the blueprint for creating the second visualiztion Gross Profit Margin Percentage, altair will be used to create this graph.

__Blueprint__:
 - 1. Understanding the dataframe format used to create this data visualiztion helps make the process easier, these are the key componets that make up the dataframe used for this graph.
   
    - The data frame that altair used to create this graph consist of four colunms;
     
       - Yield: This colunm is the only colunm that shows any type of informations that is in numbers 
       - Variety: This colunm is the only column that contains category or groupings among the other pionts in the dataframe
       - Year: This colunm is based on datasets that contains timeframes
       - Site: This is a colunm that pinpionts differiantion among the rest of the data pionts
       
 
 - 2. Create five dataframes for five different graphs based on the documented format that is supplied by Altair. 
   
    - The dataframes will consist of these six columns;
      
       - Name: This colunm shows the names of each movie
       - Type: The concept of this graph portrays the profit made compared to the Revenue, the two main elements that reflects that is the Revenue and the Profit ergo the 'Type' column are made up of those two elements.
       - Yield: This colunm shows how much the 'Type' column is in int, this is used to plot the pionts in the graph.
       - Type Yield: This colunm shows the 'Yield' colunm in currency which is a string, this is mostly used for the tooltip to make it easier to understand how much the elements in the 'Type' column is in dollars.
       - System Rating: This shows the System Rating of each movie.
       - Gross Profit Margin: This colunm shows the gross profit margin in percentage.
       
 
 - 3. The style of this graph is a Becker's Barkey Trellis Plot which is found in Altair's Gallery. There are two pionts shaped as a ring in each panel, the first ring projects the Renvue and the other ring projects the Profit, this set up allows the perseption of how much of a fraction do each movie actually walk away with when compared to the Revenue allowing the Profit to be seen from a differnt angle. This could make the movie look more profitable or seem over-rated. Each ring when hovered shows the Name of the movie, the Type choosing beteween Profit or Revenue, the Type Yield which is the amount of the Type in dollars, the Gross Profit Margin Percentage and the System Rating. The closer the Profit is to the Revenue the more buoyant it is!

In [101]:
# understanding how the data frame is formatted
# this was the eact dataframe used in Altairs example
from vega_datasets import data
source = data.barley()
source

        yield           variety  year             site
0    27.00000         Manchuria  1931  University Farm
1    48.86667         Manchuria  1931           Waseca
2    27.43334         Manchuria  1931           Morris
3    39.93333         Manchuria  1931        Crookston
4    32.96667         Manchuria  1931     Grand Rapids
..        ...               ...   ...              ...
115  58.16667  Wisconsin No. 38  1932           Waseca
116  47.16667  Wisconsin No. 38  1932           Morris
117  35.90000  Wisconsin No. 38  1932        Crookston
118  20.66667  Wisconsin No. 38  1932     Grand Rapids
119  29.33333  Wisconsin No. 38  1932           Duluth

[120 rows x 4 columns]

These are the variables needed to create the columns for the first dataframe; new_name,new_systems, new_total_gross, new_worldwide_gross, new_profit, new_currency_profit, gross_profit_margin_percentage.

This is all the names of the movie for the rated-R movies.

In [285]:
new_name=[]
name = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x=='R':
            name.append(all_drama_info1.Name[i])
for i,x in enumerate(name):
    new_name.append( x)
new_name

['Avatar',
 'Captain America: Civil War',
 'Superman Returns',
 'The Chronicles of Narnia: Prince Caspian',
 'Men in Black 3',
 'Transformers: Age of Extinction',
 'Iron Man 3',
 'Guardians of the Galaxy Vol 2',
 'The Amazing Spider-Man 2',
 'Fantastic Beasts: The Crimes of Grindelwald',
 'Prince of Persia: Sands of Time',
 'Ralph Breaks The Internet',
 'Cars 3',
 'Jurassic World: Fallen Kingdom',
 'Inception',
 'Terminator: Genisys',
 'Chicken Little',
 'Die Another Day',
 'The Twilight Saga: Breaking Dawn, Part 2',
 'Puss in Boots',
 'Bad Boys II',
 'Batman & Robin',
 'Life of Pi',
 'Ghost Rider',
 'Star Wars Ep. III: Revenge of the Sith',
 'Windtalkers',
 'The Taking of Pelham 123',
 'Speed 2: Cruise Control',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Martian',
 '10,000 B.C.',
 'Bumblebee',
 'Planet of the Apes',
 'Land of the Lost',
 'Peter Pan',
 'The Fifth Element',
 'The Incredibles',
 'What Lies Beneath',
 'Mulan',
 'Lara Croft: Tomb Raider: The Cradle of Life',
 'Mission to Mars',
 'Horton Hears a Who']

This is all the domestic revenue of each movie in the rated-R catagory of movies.

In [286]:
new_total_gross = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='R':
            new_total_gross.append(all_drama_info1.Total_gross[i])
new_total_gross

[2776345279,
 1140069413,
 374085065,
 417341288,
 654213485,
 1104039076,
 1215392272,
 862316233,
 708996336,
 652220086,
 336359676,
 524283695,
 383541369,
 1305772799,
 835524642,
 432150894,
 310043823,
 431942139,
 829724737,
 554987477,
 273271982,
 238317814,
 620912003,
 229545589,
 848998877,
 77628265,
 152364370,
 150468000,
 887210985,
 655271443,
 269065678,
 465195589,
 362211740,
 69548641,
 95255485,
 263898761,
 614726752,
 288693989,
 303500000,
 157092943,
 106000000,
 299477886]

This is all the world wide revenue of each movie in the rated-R catagory of movies.

In [287]:
new_worldwide_gross = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='R':
            new_worldwide_gross.append(all_drama_info1.Worlwide_gross[i])
new_worldwide_gross

['$2,776,345,279',
 '$1,140,069,413',
 '$374,085,065',
 '$417,341,288',
 '$654,213,485',
 '$1,104,039,076',
 '$1,215,392,272',
 '$862,316,233',
 '$708,996,336',
 '$652,220,086',
 '$336,359,676',
 '$524,283,695',
 '$383,541,369',
 '$1,305,772,799',
 '$835,524,642',
 '$432,150,894',
 '$310,043,823',
 '$431,942,139',
 '$829,724,737',
 '$554,987,477',
 '$273,271,982',
 '$238,317,814',
 '$620,912,003',
 '$229,545,589',
 '$848,998,877',
 '$77,628,265',
 '$152,364,370',
 '$150,468,000',
 '$887,210,985',
 '$655,271,443',
 '$269,065,678',
 '$465,195,589',
 '$362,211,740',
 '$69,548,641',
 '$95,255,485',
 '$263,898,761',
 '$614,726,752',
 '$288,693,989',
 '$303,500,000',
 '$157,092,943',
 '$106,000,000',
 '$299,477,886']

This is all the profit in dollars of each movie in the rated-R catagory, this is particularly used for tooltip.

In [288]:
new_currency_profit = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='R':
            new_currency_profit.append(all_drama_info1['Profit$'][i])
new_currency_profit

['$2,351,345,279',
 '$890,069,413',
 '$142,085,065',
 '$192,341,288',
 '$439,213,485',
 '$894,039,076',
 '$1,015,392,272',
 '$662,316,233',
 '$508,996,336',
 '$452,220,086',
 '$136,359,676',
 '$349,283,695',
 '$208,541,369',
 '$1,135,772,799',
 '$675,524,642',
 '$277,150,894',
 '$160,043,823',
 '$289,942,139',
 '$693,524,737',
 '$424,987,477',
 '$143,271,982',
 '$113,317,814',
 '$500,912,003',
 '$109,545,589',
 '$733,998,877',
 '$-37,371,735',
 '$42,364,370',
 '$40,468,000',
 '$778,210,985',
 '$547,271,443',
 '$164,065,678',
 '$363,195,589',
 '$262,211,740',
 '$-30,451,359',
 '$-4,744,515',
 '$168,898,761',
 '$522,726,752',
 '$198,693,989',
 '$213,500,000',
 '$67,092,943',
 '$16,000,000',
 '$214,477,886']

This is all the profit in int of each mvoie in the rated-R catagory, this is particularly used for the Y and X axis.

In [289]:
new_profit = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='R':
            new_profit.append(all_drama_info1.Profit[i])
new_profit

[2351345279,
 890069413,
 142085065,
 192341288,
 439213485,
 894039076,
 1015392272,
 662316233,
 508996336,
 452220086,
 136359676,
 349283695,
 208541369,
 1135772799,
 675524642,
 277150894,
 160043823,
 289942139,
 693524737,
 424987477,
 143271982,
 113317814,
 500912003,
 109545589,
 733998877,
 -37371735,
 42364370,
 40468000,
 778210985,
 547271443,
 164065678,
 363195589,
 262211740,
 -30451359,
 -4744515,
 168898761,
 522726752,
 198693989,
 213500000,
 67092943,
 16000000,
 214477886]

In [290]:
# a list of rated-'r'
new_systems = list('R'*42)
len(new_systems)

42

The code below devides the profit of each movie from the total revenue of each movie and multiplies it by 100 to get the Gross Profit Margin Percentage.

In [291]:
# Creating the gross profit margin percentage column
p_rev = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'R':
        p_rev.append((all_drama_info1.Profit[i] / all_drama_info1.Total_gross[i])*100)
p_rev

[84.6921057256582,
 78.07151063353719,
 37.98202021243483,
 46.08728959498491,
 67.13611001155074,
 80.97893411881374,
 83.54440746353536,
 76.80665255434198,
 71.79110951004971,
 69.33550433465184,
 40.539840453407976,
 66.62112484730237,
 54.372588162712645,
 86.9808897742248,
 80.85035533877168,
 64.13289845004925,
 51.61974247750132,
 67.12522646464923,
 83.58491751222792,
 76.57604803936864,
 52.42834664257677,
 47.54903215082361,
 80.67358990964779,
 47.722802898207725,
 86.45463461549431,
 -48.14191712258415,
 27.804643565946552,
 26.894755030970042,
 87.71430901523385,
 83.5182806829566,
 60.97607068263831,
 78.07373878603136,
 72.39183909389574,
 -43.78426172266975,
 -4.9808312875631255,
 64.00134671340878,
 85.03400092794399,
 68.82512160653266,
 70.34596375617792,
 42.70907509830025,
 15.09433962264151,
 71.61726993090902]

In [292]:
# turning float of percentage of profit into int
pp_rev= []
for i in p_rev:
    i = int(i)
    pp_rev.append(round(i,0))
len(pp_rev)

42

In [293]:
# converting integer to percentage
gross_profit_margin_percentage= []
for i in pp_rev:
    gross_profit_margin_percentage.append("{:}%".format(i))
len(gross_profit_margin_percentage)

42

These are the variables needed to create the columns for the second dataframe; new_name1, new_systems1, new_total_gross1, new_worldwide_gross1, new_profit1, new_currency_profit1, gross_profit_margin_percentage1

This is all the names of the movie for the rated-PG movies.

In [294]:
new_name1=[]
name1 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='PG':
            name1.append(all_drama_info1.Name[i])
for i,x in enumerate(name1):
    new_name1.append( x)
new_name1

['Batman v Superman: Dawn of Justice',
 'The Fate of the Furious',
 'Tron: Legacy',
 'X-Men: Apocalypse',
 'Iron Man 2',
 'Fast and Furious 6',
 'Batman Begins',
 'Kung Fu Panda 2',
 'PokÃ©mon: Detective Pikachu',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Star Trek',
 'Gods of Egypt',
 'The Aviator',
 'The Divergent Series: Allegiant',
 'The Hangover 3',
 'The Wolf of Wall Street',
 'The LEGO Movie 2: The Second Part',
 'The Spiderwick Chronicles',
 'King Arthur',
 'The Fate of the Furious',
 'Cars 2',
 'Fast and Furious 6',
 'The Curious Case of Benjamin Button',
 'Batman Begins',
 'PokÃ©mon: Detective Pikachu',
 'The World is Not Enough',
 'The Bourne Ultimatum',
 'Clash of the Titans',
 'Trolls',
 'Oblivion',
 'The Divergent Series: Allegiant',
 'Allied',
 'I, Robot',
 'Gone in 60 Seconds',
 'True Lies',
 'The Spiderwick Chronicles',
 "You Don't Mess With the Zohan",
 'Pixels',
 'Children of Men',
 'Grown Ups',
 'X-Men',
 'Soldier']

This is all the domestic revenue of each movie in the rated-PG catagory of movies.

In [295]:
new_total_gross1 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='PG':
            new_total_gross1.append(all_drama_info1.Total_gross[i])
len(new_total_gross1)

42

This is all the world wide revenue of each movie in the rated-PG catagory of movies.

In [296]:
new_worldwide_gross1= []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='PG':
            new_worldwide_gross1.append(all_drama_info1.Worlwide_gross[i])
len(new_worldwide_gross1)

42

This is all the profit in dollars of each movie in the rated-PG catagory, this is particularly used for tooltip.

In [297]:
new_currency_profit1 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='PG':
            new_currency_profit1.append(all_drama_info1['Profit$'][i])
len(new_currency_profit1)

42

This is all the profit in int of each mvoie in the rated-PG catagory, this is particularly used for the Y and X axis.

In [298]:
new_profit1 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='PG':
            new_profit1.append(all_drama_info1.Profit[i])
len(new_profit1)

42

In [344]:
# list of rated-'PG'
new_systems1 = []
for i in list(range(0,42)):
    new_systems1.append('PG')

The code below devides the profit of each movie from the total revenue of each movie and multiplies it by 100 to get the Gross Profit Margin Percentage.

In [300]:
# Creating the profit rev percentage column
p1_rev = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'PG':
        p1_rev.append((all_drama_info1.Profit[i] / all_drama_info1.Total_gross[i])*100)
p1_rev

[71.18156553081278,
 79.75456486519872,
 50.00784414419495,
 67.19121076276627,
 72.63169098627753,
 79.72888508852783,
 58.23387449850648,
 77.43809737027382,
 63.526583781930626,
 77.95116224329682,
 63.809290741356186,
 -0.8378501727597265,
 47.20951715271248,
 36.05488286164305,
 71.54696698513364,
 74.35045173753554,
 47.98390283586402,
 43.195658831702225,
 55.85594505866237,
 79.75456486519872,
 64.29562116695753,
 79.72888508852783,
 51.46101701704542,
 58.23387449850648,
 63.526583781930626,
 62.67941456773391,
 70.72358216087511,
 74.6560772918112,
 63.67864264728138,
 58.321268643065864,
 36.05488286164305,
 11.123528477082125,
 69.88207412173583,
 55.59720410767729,
 72.62523952915411,
 43.195658831702225,
 55.64557663611234,
 63.12107248641712,
 -8.812353111376845,
 72.4491018278625,
 74.73661804299893,
 -412.88777564127724]

In [301]:
# turning float of percentage of profit into int
pp1_rev= []
for i in p1_rev:
    i = int(i)
    pp1_rev.append(round(i,0))
len(pp1_rev)

42

In [302]:
# converting integer to percentage
gross_profit_margin_percent1= []
for i in pp1_rev:
    gross_profit_margin_percent1.append("{:}%".format(i))
gross_profit_margin_percent1
len(gross_profit_margin_percent1)

42

These are the variables needed to create the columns for the third dataframe; new_name2, new_systems2, new_total_gross2, new_worldwide_gross2, new_profit2, new_currency_profit2, gross_profit_margin_percentage2

In [303]:
new_name2=[]
name2 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='G':
            name2.append(all_drama_info1.Name[i])
for i,x in enumerate(name2):
    new_name2.append(x)
new_name2

['The Hobbit: The Battle of the Five Armies',
 'Wonder Woman',
 'Madagascar: Escape 2 Africa',
 'Assassinâ\x80\x99s Creed',
 'Transcendence',
 'The Magnificent Seven',
 'The Amazing Spider-Man',
 "The Sorcerer's Apprentice",
 'Dunkirk',
 'Rio 2',
 'R.I.P.D.',
 'Thirteen Days',
 'The Tale of Despereaux',
 'The Dark Tower',
 'Stepmom',
 'Inside Man',
 'Legal Eagles',
 'Fever Pitch',
 "The Time Traveler's Wife",
 'Toy Story 4',
 'Cars 2',
 'Finding Nemo',
 'The Tale of Despereaux',
 'Monsters University',
 'Herbie: Fully Loaded',
 'Wallace & Gomit: The Curse of the Were-Rabbit',
 "A Boy's Life",
 'Ozzy',
 'Ponyo',
 'The Lion King',
 'Yellow Submarine',
 'Curious George 1',
 'Fantastica: A Boonie Bears',
 'Ice Age 2: The Meltdown',
 'The Fox and the Child',
 'Space Chimps',
 'The Oegieloves',
 'Brother Bears 1',
 'Cliffords',
 'The Wizard of Oz',
 'Chicken Little',
 'Wall-E']

In [304]:
new_systems2= []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='G':
            new_systems2.append(all_drama_info1.Total_gross[i])
new_systems2

[945577621,
 821133378,
 599680774,
 240759682,
 103039258,
 162525156,
 757890267,
 217986320,
 499837368,
 492846291,
 79076678,
 66554547,
 90482317,
 113461527,
 159745279,
 185798265,
 49851591,
 50071069,
 102332135,
 1078000000,
 562100000,
 871000000,
 86957280,
 743539607,
 144146816,
 194111171,
 42460000,
 12852439,
 202551810,
 1656943394,
 1278261,
 69800000,
 77151096,
 660998756,
 29610210,
 65097693,
 1065907,
 250397798,
 3252426,
 34949482,
 314432837,
 521311860]

In [305]:
new_worldwide_gross2= []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='G':
            new_worldwide_gross2.append(all_drama_info1.Worlwide_gross[i])
len(new_worldwide_gross2)

42

In [306]:
new_currency_profit2 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='G':
            new_currency_profit2.append(all_drama_info1['Profit$'][i])
len(new_currency_profit2)

42

In [307]:
new_profit2 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='G':
            new_profit2.append(all_drama_info1.Profit[i])
len(new_profit2)

42

In [308]:
new_systems2 = list('G'*42)
new_systems2

['G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G']

In [309]:
# Creating the profit rev percentage column
p2_rev = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'G':
        p2_rev.append((all_drama_info1.Profit[i] / all_drama_info1.Total_gross[i])*100)
p2_rev

[73.56113401503609,
 81.73256574159137,
 74.98669183614682,
 48.08100801528721,
 2.9496116907208316,
 44.623957167590724,
 70.97205102384565,
 26.600898625198134,
 69.99023890506722,
 73.62260762149066,
 -64.39739666352702,
 -20.20215538391389,
 33.68870074359391,
 47.118638725882825,
 68.70017047577349,
 73.08909208597831,
 19.76183869437587,
 20.113549003717097,
 61.888804528509056,
 81.44712430426716,
 64.41914250133428,
 89.20780711825488,
 31.000601674753398,
 73.1016346517234,
 65.31314295558217,
 84.54493894120087,
 -111.96420160150731,
 22.193756375735376,
 83.21417122858591,
 84.30845610408342,
 80.44217886644434,
 28.36676217765043,
 -16.65420799725256,
 98.78971027897063,
 56.09622491701343,
 43.162348318549476,
 -1776.3363032609784,
 81.62923141999835,
 97.84776041022917,
 92.05424561085054,
 52.29505880138085,
 65.47172358595486]

In [310]:
# turning float of percentage of profit into int
pp2_rev= []
for i in p2_rev:
    i = int(i)
    pp2_rev.append(round(i,0))
pp2_rev

[73,
 81,
 74,
 48,
 2,
 44,
 70,
 26,
 69,
 73,
 -64,
 -20,
 33,
 47,
 68,
 73,
 19,
 20,
 61,
 81,
 64,
 89,
 31,
 73,
 65,
 84,
 -111,
 22,
 83,
 84,
 80,
 28,
 -16,
 98,
 56,
 43,
 -1776,
 81,
 97,
 92,
 52,
 65]

In [311]:
# converting integer to percentage
gross_profit_margin_percentage2= []
for i in pp2_rev:
    gross_profit_margin_percentage2.append("{:}%".format(i))
gross_profit_margin_percentage2

['73%',
 '81%',
 '74%',
 '48%',
 '2%',
 '44%',
 '70%',
 '26%',
 '69%',
 '73%',
 '-64%',
 '-20%',
 '33%',
 '47%',
 '68%',
 '73%',
 '19%',
 '20%',
 '61%',
 '81%',
 '64%',
 '89%',
 '31%',
 '73%',
 '65%',
 '84%',
 '-111%',
 '22%',
 '83%',
 '84%',
 '80%',
 '28%',
 '-16%',
 '98%',
 '56%',
 '43%',
 '-1776%',
 '81%',
 '97%',
 '92%',
 '52%',
 '65%']

These are the variables needed to create the columns for the fourth dataframe; new_name3, new_systems3, new_total_gross3, new_worldwide_gross3, new_profit3, new_currency_profit3, gross_profit_margin_percentage3

In [312]:
new_name3=[]
name3 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='PG-13':
            name3.append(all_drama_info1.Name[i])
for i,x in enumerate(name3):
    new_name3.append( x)
len(new_name3)

42

In [313]:
new_total_gross3 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='PG-13':
            new_total_gross3.append(all_drama_info1.Total_gross[i])
len(new_total_gross3)

42

In [314]:
new_worldwide_gross3= []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='PG-13':
            new_worldwide_gross3.append(all_drama_info1.Worlwide_gross[i])
len(new_worldwide_gross3)

42

In [315]:
new_currency_profit3 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='PG-13':
            new_currency_profit3.append(all_drama_info1['Profit$'][i])
len(new_currency_profit3)

42

In [316]:
new_profit3 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='PG-13':
            new_profit3.append(all_drama_info1.Profit[i])
len(new_profit3)

42

In [317]:
new_systems3 = []
for i in list(range(0,42)):
    new_systems3.append('PG-13')

In [318]:
p3_rev = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='PG-13':
            p3_rev.append(all_drama_info1.Profit[i]/all_drama_info1.Total_gross[i]*100)

len(p3_rev)

42

In [319]:
# turning float of percentage of profit into int
pp3_rev= []
for i in p3_rev:
    i = int(i)
    pp3_rev.append(round(i,0))
len(pp3_rev)

42

In [320]:
# converting integer to percentage
gross_profit_margin_percentage3= []
for i in pp3_rev:
    gross_profit_margin_percentage3.append("{:}%".format(i))
len(gross_profit_margin_percentage3)

42

These are the variables needed to create the columns for the fivth dataframe; new_name4, new_systems4, new_total_gross4, new_worldwide_gross4, new_profit4, new_currency_profit4, gross_profit_margin_percentage4

In [321]:
new_name4=[]
name4= []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='NR':
            name4.append(all_drama_info1.Name[i])
for i,x in enumerate(name4):
    new_name4.append(x)
new_name4
len(new_name4)

42

In [322]:
new_total_gross4 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='NR':
            new_total_gross4.append(all_drama_info1.Total_gross[i])
len(new_total_gross4)

42

In [323]:
new_worldwide_gross4= []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='NR':
            new_worldwide_gross4.append(all_drama_info1.Worlwide_gross[i])
len(new_worldwide_gross4)

42

In [324]:
new_currency_profit4 = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='NR':
            new_currency_profit4.append(all_drama_info1['Profit$'][i])
len(new_currency_profit4)

42

In [325]:
new_profit4= []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='NR':
            new_profit4.append(all_drama_info1.Profit[i])
len(new_profit4)

42

In [326]:
new_systems4 = []
for i in list(range(0,42)):
    new_systems4.append('NR')

In [327]:
p4_rev = []
for i,x in enumerate(all_drama_info1.System_ratings):
        if x =='NR':
            p4_rev.append(round(all_drama_info1.Profit[i]/all_drama_info1.Total_gross[i]*100,
                                0))
p4_rev

[75.0,
 85.0,
 82.0,
 78.0,
 76.0,
 45.0,
 70.0,
 55.0,
 76.0,
 48.0,
 51.0,
 48.0,
 -81.0,
 48.0,
 64.0,
 63.0,
 74.0,
 77.0,
 63.0,
 72.0,
 58.0,
 82.0,
 86.0,
 63.0,
 68.0,
 19.0,
 41.0,
 41.0,
 -17.0,
 47.0,
 68.0,
 66.0,
 76.0,
 67.0,
 60.0,
 59.0,
 62.0,
 69.0,
 48.0,
 51.0,
 17.0,
 81.0]

In [328]:
# turning float of percentage of profit into int
pp4_rev= []
for i in p4_rev:
    i = int(i)
    pp4_rev.append(round(i,2))
pp4_rev

[75,
 85,
 82,
 78,
 76,
 45,
 70,
 55,
 76,
 48,
 51,
 48,
 -81,
 48,
 64,
 63,
 74,
 77,
 63,
 72,
 58,
 82,
 86,
 63,
 68,
 19,
 41,
 41,
 -17,
 47,
 68,
 66,
 76,
 67,
 60,
 59,
 62,
 69,
 48,
 51,
 17,
 81]

In [329]:
# converting integer to percentage
gross_profit_margin_percent4= []
for i in pp4_rev:
    gross_profit_margin_percent4.append("{:}%".format(i))
len(gross_profit_margin_percent4)

42

In [7]:
# list for type colunm
l = []
for i in list(range(0,42)):
    l.append('Revenue')
for i in list(range(0,42)):
    l.append('Profit')
len(l)

84

In [331]:
df5 = pd.DataFrame({'Name':new_name4*2,'Yield':new_total_gross4+new_profit4,'Type Yield':new_worldwide_gross4+new_currency_profit4,
                    'System Ratings':new_systems4*2,'Gross Profit Margin %':gross_profit_margin_percent4*2,'Type':l})

df4 = pd.DataFrame({'Name':new_name3*2,'Yield':new_total_gross3+new_profit3,'Type Yield':new_worldwide_gross3+new_currency_profit3,
                  'System Ratings':new_systems3*2,'Gross Profit Margin %':gross_profit_margin_percentage3*2,'Type':l})

df3 = pd.DataFrame({'Name':new_name2*2,'Yield':new_total_gross4+new_profit2,'Type Yield':new_worldwide_gross2+new_currency_profit2,
                    'System Ratings':new_systems2*2,'Gross Profit Margin %':gross_profit_margin_percentage2*2,'Type':l})

df2 = pd.DataFrame({'Name':new_name1*2,'Yield':new_total_gross1+new_profit1,'Type Yield':new_worldwide_gross1+new_currency_profit1,
                  'System Ratings':new_systems1*2,'Gross Profit Margin %':gross_profit_margin_percent1*2,'Type':l})

df1 = pd.DataFrame({'Name':new_name*2,'Yield':new_total_gross+new_profit,'Type Yield':new_worldwide_gross+new_currency_profit,
                    'System Ratings':new_systems*2,'Gross Profit Margin %':gross_profit_margin_percent1*2,'Type':l})

In [332]:
df1

,Name,Yield,Type Yield,System Ratings,Gross Profit Margin %,Type
0,Avatar,2776345279,"$2,776,345,279",R,71%,Revenue
1,Captain America: Civil War,1140069413,"$1,140,069,413",R,79%,Revenue
2,Superman Returns,374085065,"$374,085,065",R,50%,Revenue
3,The Chronicles of Narnia: Prince Caspian,417341288,"$417,341,288",R,67%,Revenue
4,Men in Black 3,654213485,"$654,213,485",R,72%,Revenue
...,...,...,...,...,...,...
79,What Lies Beneath,198693989,"$198,693,989",R,63%,Profit
80,Mulan,213500000,"$213,500,000",R,-8%,Profit
81,Lara Croft: Tomb Raider: The Cradle of Life,67092943,"$67,092,943",R,72%,Profit
82,Mission to Mars,16000000,"$16,000,000",R,74%,Profit
83,Horton Hears a Who,214477886,"$214,477,886",R,-412%,Profit

In [333]:
df2

,Name,Yield,Type Yield,System Ratings,Gross Profit Margin %,Type
0,Batman v Superman: Dawn of Justice,867500281,"$867,500,281",PG,71%,Revenue
1,The Fate of the Furious,1234846267,"$1,234,846,267",PG,79%,Revenue
2,Tron: Legacy,400062763,"$400,062,763",PG,50%,Revenue
3,X-Men: Apocalypse,542537546,"$542,537,546",PG,67%,Revenue
4,Iron Man 2,621156389,"$621,156,389",PG,72%,Revenue
...,...,...,...,...,...,...
79,Pixels,154041804,"$154,041,804",PG,63%,Profit
80,Children of Men,-6154989,"$-6,154,989",PG,-8%,Profit
81,Grown Ups,197223430,"$197,223,430",PG,72%,Profit
82,X-Men,221872367,"$221,872,367",PG,74%,Profit
83,Soldier,-60376918,"$-60,376,918",PG,-412%,Profit

In [334]:
df3

,Name,Yield,Type Yield,System Ratings,Gross Profit Margin %,Type
0,The Hobbit: The Battle of the Five Armies,836519699,"$945,577,621",G,73%,Revenue
1,Wonder Woman,1348258224,"$821,133,378",G,81%,Revenue
2,Madagascar: Escape 2 Africa,962854547,"$599,680,774",G,74%,Revenue
3,Assassinâs Creed,798008101,"$240,759,682",G,48%,Revenue
4,Transcendence,714401889,"$103,039,258",G,2%,Revenue
...,...,...,...,...,...,...
79,Brother Bears 1,204397798,"$204,397,798",G,81%,Profit
80,Cliffords,3182426,"$3,182,426",G,97%,Profit
81,The Wizard of Oz,32172482,"$32,172,482",G,92%,Profit
82,Chicken Little,164432837,"$164,432,837",G,52%,Profit
83,Wall-E,341311860,"$341,311,860",G,65%,Profit

In [335]:
df4

,Name,Yield,Type Yield,System Ratings,Gross Profit Margin %,Type
0,Spectre,879620923,"$879,620,923",PG-13,65%,Revenue
1,Green Lantern,219535492,"$219,535,492",PG-13,8%,Revenue
2,"The Chronicles of Narnia: The Lion, the Witch ...",720539572,"$720,539,572",PG-13,75%,Revenue
3,Inside Out,854235992,"$854,235,992",PG-13,79%,Revenue
4,Godzilla: King of the Monsters,299276941,"$299,276,941",PG-13,43%,Revenue
...,...,...,...,...,...,...
79,Charlie Wilson's War,44512771,"$44,512,771",PG-13,37%,Profit
80,Spanglish,-20655679,"$-20,655,679",PG-13,-38%,Profit
81,Inferno,144519367,"$144,519,367",PG-13,65%,Profit
82,Big Fish,53954323,"$53,954,323",PG-13,43%,Profit
83,I Spy,-9720178,"$-9,720,178",PG-13,-16%,Profit

In [336]:
df5

,Name,Yield,Type Yield,System Ratings,Gross Profit Margin %,Type
0,Transformers: Revenge of the Fallen,836519699,"$836,519,699",NR,75%,Revenue
1,Black Panther,1348258224,"$1,348,258,224",NR,85%,Revenue
2,The Jungle Book,962854547,"$962,854,547",NR,82%,Revenue
3,Coco,798008101,"$798,008,101",NR,78%,Revenue
4,Captain America: The Winter Soldier,714401889,"$714,401,889",NR,76%,Revenue
...,...,...,...,...,...,...
79,Angels & Demons,340875846,"$340,875,846",NR,69%,Profit
80,Bee Movie,137594577,"$137,594,577",NR,48%,Profit
81,Wrath of the Titans,155270083,"$155,270,083",NR,51%,Profit
82,Flushed Away,30357126,"$30,357,126",NR,17%,Profit
83,Madagascar 3: Europe's Most Wanted,601921271,"$601,921,271",NR,81%,Profit

In [9]:
# this is the first graph: this is the System R rating category
a=alt.Chart(df1).mark_point(size=80).encode(
    # x-axis section 
    alt.X(
      'Yield:Q',# this shows the amount of the type of data yield in integer 
       title='Revenue/Profit',# the title of the x-axis
       scale=alt.Scale(zero=False),# takes away the grid
   ),
    #y-axis section  
    alt.Y(
       'Name', # shows the name of the movie
       title='R System Ratings', # the title of the y-axis
       axis=alt.Axis(grid=True)), # only shows the y-axis grid
    color=alt.Color('Type:N'),# puts the color based on two catrory, profit and revenue
    # tooltip allows grag to be intercative it shows the name, profit, revenue, gross profit nargin % and system rating
    tooltip = ['Type','Name','Type Yield','Gross Profit Margin %','System Ratings'],
).properties(
     width=500, # the size of the graph
     height=500)

# this is the second graph: this is the Sytem PG rating category
b=alt.Chart(df2).mark_point(size=80).encode(
    # x-axis section 
    alt.X(
      'Yield:Q',# this shows the amount of the type of data yield in integer 
       title='Revenue/Profit',# the title of the x-axis
       scale=alt.Scale(zero=False),# takes away the grid
   ),
    #y-axis section  
    alt.Y(
       'Name', # shows the name of the movie
       title='R System Ratings', # the title of the y-axis
       axis=alt.Axis(grid=True)), # only shows the y-axis grid
    color=alt.Color('Type:N'),# puts the color based on two catrory, profit and revenue
    # tooltip allows grag to be intercative it shows the name, profit, revenue, gross profit nargin % and system rating
    tooltip = ['Type','Name','Type Yield','Gross Profit Margin %','System Ratings'],
).properties(
     width=500, # the size of the graph
     height=500)

# this is the second graph: this is the Sytem G rating category
c=alt.Chart(df3).mark_point(size=80).encode(
    # x-axis section 
    alt.X(
      'Yield:Q',# this shows the amount of the type of data yield in integer 
       title='Revenue/Profit',# the title of the x-axis
       scale=alt.Scale(zero=False),# takes away the grid
   ),
    #y-axis section  
    alt.Y(
       'Name', # shows the name of the movie
       title='R System Ratings', # the title of the y-axis
       axis=alt.Axis(grid=True)), # only shows the y-axis grid
    color=alt.Color('Type:N'),# puts the color based on two catrory, profit and revenue
    # tooltip allows grag to be intercative it shows the name, profit, revenue, gross profit nargin % and system rating
    tooltip = ['Type','Name','Type Yield','Gross Profit Margin %','System Ratings'],
).properties(
     width=500, # the size of the graph
     height=500)

# this is the third graph: this is the Sytem PG-13 rating category
d=alt.Chart(df4).mark_point(size=80).encode(
    # x-axis section 
    alt.X(
      'Yield:Q',# this shows the amount of the type of data yield in integer 
       title='Revenue/Profit',# the title of the x-axis
       scale=alt.Scale(zero=False),# takes away the grid
   ),
    #y-axis section  
    alt.Y(
       'Name', # shows the name of the movie
       title='R System Ratings', # the title of the y-axis
       axis=alt.Axis(grid=True)), # only shows the y-axis grid
    color=alt.Color('Type:N'),# puts the color based on two catrory, profit and revenue
    # tooltip allows grag to be intercative it shows the name, profit, revenue, gross profit nargin % and system rating
    tooltip = ['Type','Name','Type Yield','Gross Profit Margin %','System Ratings'],
).properties(
     width=500, # the size of the graph
     height=500)

# this is the fourth graph: this is the Sytem NR rating category
e=alt.Chart(df5).mark_point(size=80).encode(
    # x-axis section 
    alt.X(
      'Yield:Q',# this shows the amount of the type of data yield in integer 
       title='Revenue/Profit',# the title of the x-axis
       scale=alt.Scale(zero=False),# takes away the grid
   ),
    #y-axis section  
    alt.Y(
       'Name', # shows the name of the movie
       title='R System Ratings', # the title of the y-axis
       axis=alt.Axis(grid=True)), # only shows the y-axis grid
    color=alt.Color('Type:N'),# puts the color based on two catrory, profit and revenue
    # tooltip allows grag to be intercative it shows the name, profit, revenue, gross profit nargin % and system rating
    tooltip = ['Type','Name','Type Yield','Gross Profit Margin %','System Ratings'],
).properties(
     width=500, # the size of the graph
     height=500)

f= alt.vconcat(b,c,d,e).configure_view(strokeOpacity=0).configure_axisLeft(labelColor='orange')
f&a # combines the graphs together

NameError: name 'alt' is not defined

# Blueprint: Budget and Revenue of Movies

This js the blueprint for creating the third visualization Budget and Revenue of Movies, altair will be used to create this graph. 

__Blueprint:__
   - The format of the dataframe needed for this graph is straight forward, based on the ideology of the persception of the chart, these are the colunms needed for thr dataframe;
        - Name,
        - System Ratings,
        - Budget,
        - Revenue,
        - Budget of Movie,
        - Renenue of Movies
   
  
  - The style of this chart is a Selection Histogram which is found in the Altairs Gallery. It is a scatter plot with a x-axis and a y-axis. The x-axis is the Revenue and the y-axis is the Budget, this set up projects wether a linear regression, meaning if the hypothesis which is, the higher the budget the higher the revenue is proven right projecting a linear regression.
  
  - The graph has an attachted histogram showing the amount of items in each category within the selection. In order to make a selection create a box by dragging the mouse. When the mouse hovers the pionts it projects the name, system rating, budget of the movies and the reevenue of the movies.

In [78]:
dataframe2 = pd.DataFrame({"Name":all_drama_info1.Name,"System Rating":all_drama_info1.System_ratings,"Budget":all_drama_info1.Buget,
                           "Revenue":all_drama_info1.Total_gross,'Budget of Movie':all_drama_info1.Product_budget,'Revenue of Movie':all_drama_info1.Worlwide_gross})

In [10]:
#scatter graph
brush = alt.selection(type='interval')# to reate the selction box
points=alt.Chart(dataframe2).mark_circle(size=60).encode(
    x="Revenue:Q",# x-axis
    y='Budget',# y-axis
    color='System Rating', # color based on system rating put into category
    # interactive when the pionts are hovered the name, budget, revenue and system rating shows up
    tooltip=['Name','System Rating','Budget of Movie','Revenue of Movie']
).properties(height=400,width=500).add_selection(brush)# the size of graph

# histogram chart
bars=alt.Chart(dataframe2).mark_bar().encode(
        y='System Rating:N',# y-axis
        color='System Rating:N',# color put into groups based on system ratings
        x='count(Revenue):Q').transform_filter(brush)# x-axis
points&bars# graphs combined together

NameError: name 'alt' is not defined

# Blueprint: Revenue of Movies

This is the blueprint for creating the fourth visualization Revenue of Movies, Altair will be used to create this graph.

__Blueprint:__
   - The format of the dataframe needed for this graph is the same as the previous datarame that was created.
   
   - The style of this graph is the Dot Dash Plot which is found in Altairs Gallery. It is a scatter plot with a x-axis and a y-axis. The x-axis shows the revenue of each movie and the y-axis is not visible. The Dot Dash plots are scatter plot with trick marks protraying the minute seperation of the amount of items in each category within the selection. To create a selection create a box by dragging the mouse. When the mouse hovers over the pionts it projects the name, system rating and the revenue of the movie.

In [11]:
brush= alt.selection(type='interval')# creates selective box
base = alt.Chart(dataframe2).add_selection(brush)

# scatter plot
points1=base.mark_point(size=60).encode(
       y=alt.Y('range',title='',axis=None),# y-axis
       x = alt.X('Revenue:Q',title='Revenue'),# x-axis
       # interactive shows name,system rating and revenue of movies selected
       tooltip=['Name','System Rating','Revenue of Movie'],
       # color of selective box
       color=alt.condition(brush,'System Rating',alt.value('grey'))).properties(height=400,width=500)

tick_axis=alt.Axis(labels=False,domain=False,ticks=False)# cretes dot dash plot

# dot dash plot
x_ticks=base.mark_tick().encode(
    alt.X('Revenue',axis=tick_axis),# x-axis
    alt.Y('System Rating',axis=tick_axis,title=''),# y-axis
    # interactive shows name, system rating and revenue of movies selected
    tooltip = ['Name','System Rating','Revenue of Movie'],
    # color of selective box
    color=alt.condition(brush,'System Rating',alt.value('lightgrey')))
points1&x_ticks# the two graphs combined

NameError: name 'alt' is not defined

# Blueprint: Budget of Movies

This is the blueprint for creating the fivth visualization Budget of Movies, Altair will be used to create this graph.

__Blueprint:__
   - The format of the dataframe needed for this graph is the same as the previous datarame that was created.
   
   - The style of this graph is the Dot Dash Plot which is found in Altairs Gallery. It is a scatter plot with a x-axis and a y-axis. The y-axis shows the Budget of each movie and the x-axis is not visible. The Dot Dash plots are scatter plot with trick marks protraying the minute seperation of the amount of items in each category within the selection. To create a selection create a box by dragging the mouse. When the mouse hovers over the pionts it projects the name, system rating and the budget of the movie.

In [12]:
brush= alt.selection(type='interval')# creates selective box
base = alt.Chart(dataframe2).add_selection(brush)

# scatter plot
points1=base.mark_point(size=60).encode(
       x=alt.X('range',title='',axis=None),# y-axis
       y = alt.Y('Budget:Q',title='Budget'),# x-axis
       # interactive shows name,system rating and revenue of movies selected
       tooltip=['Name','System Rating','Revenue of Movie'],
       # color of selective box
       color=alt.condition(brush,'System Rating',alt.value('grey'))).properties(height=400,width=500)

tick_axis=alt.Axis(labels=False,domain=False,ticks=False)# cretes dot dash plot

# dot dash plot
y_ticks=base.mark_tick().encode(
    alt.X('System Rating',axis=tick_axis),# x-axis
    alt.Y('Budget',axis=tick_axis,title=''),# y-axis
    # interactive shows name, system rating and revenue of movies selected
    tooltip = ['Name','System Rating','Revenue of Movie'],
    # color of selective box
    color=alt.condition(brush,'System Rating',alt.value('lightgrey')))
y_ticks|pionts1# the two graphs combined

NameError: name 'alt' is not defined

In [72]:
dataframe = pd.DataFrame({"Name":all_drama_info1.Name,"Profit":all_drama_info1['Profit$']})

In [74]:
# get the largest movies in profit to the smallest for lollipop graph
new1 = []
for i,x in enumerate(all_drama_info1.Profit):
    new1.append((i,x))
new1.sort(reverse=True,key=lambda x:x[1])
new1

[(13, 2008208395),
 (4, 1747311220),
 (15, 1328722794),
 (2, 1072413963),
 (3, 999721747),
 (28, 986894640),
 (59, 850047606),
 (10, 841215812),
 (34, 793076457),
 (35, 747099794),
 (21, 705166350),
 (19, 666980024),
 (5, 663420425),
 (29, 647330936),
 (8, 636860230),
 (0, 635063875),
 (18, 601635413),
 (57, 561920051),
 (9, 558241137),
 (33, 557272592),
 (43, 549713230),
 (38, 538858992),
 (26, 511404566),
 (60, 505163454),
 (58, 488461394),
 (36, 487517365),
 (27, 487127828),
 (69, 453749323),
 (11, 442999518),
 (48, 438068425),
 (61, 431319450),
 (89, 421358276),
 (91, 408438212),
 (149, 398517383),
 (160, 394161935),
 (46, 377599142),
 (150, 377169052),
 (124, 373483213),
 (107, 365728529),
 (6, 355945209),
 (77, 354683805),
 (12, 343517357),
 (32, 337592267),
 (87, 337040395),
 (37, 325825484),
 (52, 314043396),
 (158, 307567189),
 (68, 301456852),
 (39, 299326618),
 (173, 296917043),
 (182, 290922730),
 (92, 285381768),
 (125, 281500000),
 (109, 278064265),
 (63, 277448265),
 (16, 277381584),
 (95, 276101666),
 (171, 269088523),
 (79, 265300000),
 (90, 257425832),
 (62, 251000000),
 (105, 245632750),
 (54, 243993951),
 (127, 230854823),
 (23, 230760225),
 (126, 227115976),
 (49, 226730660),
 (108, 226001124),
 (17, 221002906),
 (22, 206687380),
 (93, 199660619),
 (136, 196400000),
 (161, 193555383),
 (110, 191014965),
 (101, 183477501),
 (64, 179115534),
 (41, 178015029),
 (174, 169814025),
 (40, 169713881),
 (80, 162794441),
 (53, 160650494),
 (96, 159517956),
 (200, 157115710),
 (154, 156297061),
 (94, 149373970),
 (99, 145900000),
 (170, 139614744),
 (128, 137068340),
 (188, 135798265),
 (163, 135194085),
 (181, 130715611),
 (148, 128169619),
 (132, 125500000),
 (66, 122981799),
 (7, 118151347),
 (177, 115148897),
 (98, 113932174),
 (184, 112617328),
 (100, 110859554),
 (50, 110724600),
 (78, 109782709),
 (187, 109745279),
 (72, 108853353),
 (189, 106399644),
 (175, 105807183),
 (70, 105300000),
 (129, 102543519),
 (165, 99946489),
 (166, 99356941),
 (151, 98527824),
 (176, 98295654),
 (97, 96049020),
 (42, 88202668),
 (157, 85864886),
 (55, 85080810),
 (45, 85008658),
 (153, 83345997),
 (208, 82000000),
 (186, 76731325),
 (138, 72768975),
 (159, 71493015),
 (81, 71377916),
 (147, 69989730),
 (152, 63874043),
 (137, 63468793),
 (207, 63332135),
 (106, 62715342),
 (30, 57986320),
 (180, 53461527),
 (202, 52256918),
 (167, 51946251),
 (168, 45203825),
 (194, 42376224),
 (164, 39823958),
 (121, 36862966),
 (25, 36627518),
 (145, 33735965),
 (162, 30723216),
 (179, 30482317),
 (102, 30100000),
 (199, 29000000),
 (85, 26704591),
 (193, 23689126),
 (51, 22956466),
 (169, 22812456),
 (65, 22531552),
 (31, 21674817),
 (133, 19173475),
 (130, 18933562),
 (71, 17983283),
 (82, 15149422),
 (122, 14009602),
 (75, 13266661),
 (190, 12967368),
 (203, 10071069),
 (201, 9851591),
 (141, 9575290),
 (146, 9224232),
 (156, 7516819),
 (14, 2687603),
 (20, 47784),
 (88, -105552),
 (143, -800000),
 (24, -868671),
 (86, -1772983),
 (84, -2476980),
 (196, -3532394),
 (191, -3887360),
 (134, -7734803),
 (140, -8175367),
 (83, -8200000),
 (118, -8875633),
 (144, -9720178),
 (131, -11046681),
 (117, -13263335),
 (197, -13318189),
 (172, -13445453),
 (135, -13537029),
 (139, -16835850),
 (123, -17383131),
 (113, -18784118),
 (112, -20243923),
 (74, -21316034),
 (195, -22773374),
 (44, -23328075),
 (116, -23659233),
 (205, -25061851),
 (111, -25641967),
 (155, -25982016),
 (178, -26746567),
 (114, -26791977),
 (185, -28989393),
 (115, -29282579),
 (204, -32025393),
 (183, -32402031),
 (142, -38329080),
 (206, -39265577),
 (198, -44926294),
 (192, -49800000),
 (56, -50923322),
 (47, -51868170),
 (119, -60376918),
 (67, -70371823),
 (120, -75000000),
 (103, -79448583),
 (104, -90000000),
 (76, -94635231),
 (73, -106900000),
 (1, -200237650)]

In [75]:
# getting the name 
new2 = []
for i in new1:
    new2.append(dataframe.Name[i[0]])
for i,x in enumerate(new2):
    print(i,x)

0 Titanic
1 Star Wars Ep. VII: The Force Awakens
2 Furious 7
3 Avengers: Age of Ultron
4 Star Wars Ep. VIII: The Last Jedi
5 Aquaman
6 Harry Potter and the Sorcererâs Stone
7 Pirates of the Caribbean: Dead Manâs Chest
8 Harry Potter and the Order of the Phoenix
9 Harry Potter and the Goblet of Fire
10 Spider-Man: Homecoming
11 Thor: Ragnarok
12 Pirates of the Caribbean: At Worldâs End
13 Shrek the Third
14 Spider-Man 3
15 Pirates of the Caribbean: On Stranger Tides
16 Indiana Jones and the Kingdom of the Crystal Skull
17 The Twilight Saga: Breaking Dawn, Part 1
18 Pirates of the Caribbean: Dead Men Tell No Tales
19 Transformers
20 Mission: ImpossibleâGhost Protocol
21 Mission: ImpossibleâRogue Nation
22 Doctor Strange
23 Fast Five
24 Logan
25 Moana
26 Big Hero 6
27 The Smurfs
28 Man of Steel
29 The Croods
30 The Day After Tomorrow
31 Toy Story 2
32 Sherlock Holmes
33 The Matrix
34 300
35 Kung Fu Panda 3
36 Les Miserables
37 Alvin and the Chipmunks: The Squeakquel
38 Ocean's Eleven
39 Justice League
40 Gladiator
41 King Kong
42 War for the Planet of the Apes
43 The Mummy Returns
44 Charlie and the Chocolate Factory
45 The Bourne Ultimatum
46 Gone Girl
47 The Wolverine
48 Thor
49 Shark Tale
50 Murder on the Orient Express
51 Spider-Man: Into The Spider-Verse 3D
52 Who Framed Roger Rabbit?
53 Fast & Furious
54 Prometheus
55 Star Trek Into Darkness
56 Die Hard: With a Vengeance
57 Alvin and the Chipmunks: Chipwrecked
58 True Lies
59 Rush Hour 2
60 Godzilla
61 Fantastic Four
62 The Adventures of Tintin
63 Hook
64 The Mummy: Tomb of the Dragon Emperor
65 Oceanâs 8
66 The World is Not Enough
67 The Bourne Supremacy
68 Pacific Rim
69 Monsters vs. Aliens
70 The Departed
71 Total Recall
72 Wild Hogs
73 Divergent
74 Tomb Raider
75 Skyscraper
76 Bolt
77 Die Hard 2
78 The Last Airbender
79 Epic
80 Salt
81 Alvin and the Chipmunks: The Road Chip
82 The Intern
83 Everest
84 The Girl with the Dragon Tattoo
85 Artificial Intelligence: AI
86 Itâs Complicated
87 Sleepy Hollow
88 Inside Man
89 London Has Fallen
90 Rambo III
91 Need for Speed
92 The Sum of All Fears
93 RoboCop
94 Solo: A Star Wars Story
95 The Dictator
96 Valkyrie
97 Seven Pounds
98 Percy Jackson: Sea of Monsters
99 Rango
100 Public Enemies
101 Stepmom
102 Kingdom of Heaven
103 Planes: Fire and Rescue
104 Daddyâs Home 2
105 The Patriot
106 AVP: Alien Vs. Predator
107 Jack Reacher: Never Go Back
108 The Jackal
109 Unbroken
110 World Trade Center
111 Atlantis: The Lost Empire
112 Dark Shadows
113 The Hateful Eight
114 Australia
115 Ghostbusters
116 Broken Arrow
117 Star Trek: Generations
118 The Adjustment Bureau
119 Peteâs Dragon
120 2 Guns
121 Blood Diamond
122 Abraham Lincoln: Vampire Hunter
123 Space Cowboys
124 Step Brothers
125 The Time Traveler's Wife
126 Seabiscuit
127 The Sorcerer's Apprentice
128 The Dark Tower
129 The Skeleton Key
130 The Boxtrolls
131 First Man
132 Bedazzled
133 Hellboy
134 Fool's Gold
135 Tomorrowland
136 Escape Plan
137 Kangaroo Jack
138 The Tale of Despereaux
139 Volcano
140 Cleopatra
141 Point Break
142 The One
143 Happy Feet Two
144 Edge of Darkness
145 Power Rangers
146 Poseidon
147 Hall Pass
148 Rumor Has It
149 Ender's Game
150 Wonder Park
151 The Kingdom
152 Allied
153 The Peacemaker
154 Fever Pitch
155 Legal Eagles
156 I, Frankenstein
157 Money Train
158 Death Race
159 Jack the Giant Slayer
160 Hugo
161 The Lovely Bones
162 Random Hearts
163 Evan Almighty
164 Jin lÃ­ng shÃ­ san chai
165 Green Zone
166 Dredd
167 For Love of the Game
168 The Insider
169 Elektra
170 Treasure Planet
171 Victor Frankenstein
172 I Spy
173 The Legend of Hercules
174 Baahubali: The Beginning
175 Pinocchio
176 Thirteen Days
177 Downsizing
178 Red Dawn
179 Driven
180 New York Minute
181 Amelia
182 Ali
183 Silence
184 Sahara
185 Paranoia
186 The Hudsucker Proxy
187 Memoirs of an Invisible Man
188 Primary Colors
189 The Missing
190 FearDotCom
191 Bulletproof Monk
192 Universal Soldier II: The Return
193 Impostor
194 Bullet to the Head
195 Oliver Twist
196 Dragon Nest Warriors' Dawn
197 Foodfight!
198 Ad Astra
199 R.I.P.D.
200 Final Fantasy: The Spirits Within
201 Soldier
202 How Do You Know?
203 355
204 The Promise
205 Army of the Dead
206 Town & Country
207 Men in Black: International
208 Dark Phoenix

In [76]:
# getting the Cost
new3 = []
for i in new1:
    new3.append(all_drama_info1.Buget[i[0]])
new3

[200000000,
 306000000,
 190000000,
 330600000,
 317000000,
 160000000,
 125000000,
 225000000,
 150000000,
 150000000,
 175000000,
 180000000,
 300000000,
 160000000,
 258000000,
 410600000,
 185000000,
 127500000,
 230000000,
 151000000,
 145000000,
 150000000,
 165000000,
 125000000,
 127000000,
 150000000,
 165000000,
 110000000,
 225000000,
 135000000,
 125000000,
 90000000,
 90000000,
 65000000,
 60000000,
 140000000,
 65000000,
 70000000,
 85000000,
 300000000,
 103000000,
 207000000,
 152000000,
 98000000,
 150000000,
 130000000,
 61000000,
 115000000,
 150000000,
 75000000,
 55000000,
 90000000,
 70000000,
 85000000,
 125000000,
 190000000,
 90000000,
 80000000,
 100000000,
 90000000,
 125000000,
 87500000,
 130000000,
 70000000,
 175000000,
 70000000,
 135000000,
 85000000,
 190000000,
 175000000,
 90000000,
 65000000,
 60000000,
 85000000,
 90000000,
 125000000,
 150000000,
 70000000,
 150000000,
 100000000,
 130000000,
 90000000,
 40000000,
 65000000,
 90000000,
 90000000,
 85000000,
 70000000,
 50000000,
 60000000,
 58000000,
 66000000,
 68000000,
 120000000,
 275000000,
 65000000,
 90000000,
 54000000,
 90000000,
 135000000,
 102500000,
 50000000,
 110000000,
 50000000,
 70000000,
 110000000,
 70000000,
 60000000,
 60000000,
 65000000,
 65000000,
 90000000,
 150000000,
 62000000,
 130000000,
 144000000,
 65000000,
 38000000,
 50200000,
 65000000,
 61000000,
 100000000,
 67500000,
 65000000,
 65000000,
 39000000,
 86000000,
 160000000,
 60000000,
 40000000,
 60000000,
 60000000,
 48000000,
 60000000,
 72500000,
 170000000,
 70000000,
 60000000,
 60000000,
 90000000,
 42000000,
 100000000,
 49000000,
 135000000,
 60000000,
 120000000,
 160000000,
 68000000,
 70000000,
 110000000,
 100000000,
 72500000,
 106000000,
 50000000,
 40000000,
 40000000,
 65000000,
 68000000,
 65000000,
 195000000,
 180000000,
 95000000,
 64000000,
 175000000,
 100000000,
 100000000,
 45000000,
 50000000,
 68000000,
 65000000,
 100000000,
 40000000,
 70000000,
 70000000,
 40000000,
 45000000,
 80000000,
 68000000,
 65000000,
 72000000,
 40000000,
 40000000,
 109000000,
 46500000,
 145000000,
 40000000,
 40000000,
 40000000,
 65000000,
 65000000,
 40000000,
 52000000,
 40000000,
 40000000,
 55000000,
 65000000,
 40000000,
 45000000,
 49800000,
 130000000,
 137000000,
 75000000,
 120000000,
 75000000,
 90000000,
 90000000,
 105000000,
 110000000,
 350000000]

In [77]:
# getting the Rev
new4 = []
for i in new1:
    new4.append(all_drama_info1.Total_gross[i[0]])
new4

[2208208395,
 2053311220,
 1518722794,
 1403013963,
 1316721747,
 1146894640,
 975047606,
 1066215812,
 943076457,
 897099794,
 880166350,
 846980024,
 963420425,
 807330936,
 894860230,
 1045663875,
 786635413,
 689420051,
 788241137,
 708272592,
 694713230,
 688858992,
 676404566,
 630163454,
 615461394,
 637517365,
 652127828,
 563749323,
 667999518,
 573068425,
 556319450,
 511358276,
 498438212,
 463517383,
 454161935,
 517599142,
 442169052,
 443483213,
 450728529,
 655945209,
 457683805,
 550517357,
 489592267,
 435040395,
 475825484,
 444043396,
 368567189,
 416456852,
 449326618,
 371917043,
 345922730,
 375381768,
 351500000,
 363064265,
 402448265,
 467381584,
 366101666,
 349088523,
 365300000,
 347425832,
 376000000,
 333132750,
 373993951,
 300854823,
 405760225,
 297115976,
 361730660,
 311001124,
 411002906,
 381687380,
 289660619,
 261400000,
 253555383,
 276014965,
 273477501,
 304115534,
 328015029,
 239814025,
 319713881,
 262794441,
 290650494,
 249517956,
 197115710,
 221297061,
 239373970,
 235900000,
 224614744,
 207068340,
 185798265,
 195194085,
 188715611,
 194169619,
 193500000,
 242981799,
 393151347,
 180148897,
 203932174,
 166617328,
 200859554,
 245724600,
 212282709,
 159745279,
 218853353,
 156399644,
 175807183,
 215300000,
 172543519,
 159946489,
 159356941,
 163527824,
 163295654,
 186049020,
 238202668,
 147864886,
 215080810,
 229008658,
 148345997,
 120000000,
 126931325,
 137768975,
 132493015,
 171377916,
 137489730,
 128874043,
 128468793,
 102332135,
 148715342,
 217986320,
 113461527,
 92256918,
 111946251,
 105203825,
 90376224,
 99823958,
 109362966,
 206627518,
 103735965,
 90723216,
 90482317,
 120100000,
 71000000,
 126704591,
 72689126,
 157956466,
 82812456,
 142531552,
 181674817,
 87173475,
 88933562,
 127983283,
 115149422,
 86509602,
 119266661,
 62967368,
 50071069,
 49851591,
 74575290,
 77224232,
 72516819,
 197687603,
 180047784,
 94894448,
 63200000,
 174131329,
 98227017,
 97523020,
 41467606,
 46112640,
 60265197,
 56824633,
 91800000,
 31124367,
 60279822,
 58953319,
 26736665,
 31681811,
 66554547,
 54462971,
 48164150,
 54616869,
 21215882,
 19756077,
 87683966,
 23726626,
 121671925,
 16340767,
 14938149,
 14358033,
 39017984,
 38253433,
 13208023,
 23010607,
 10717421,
 7974607,
 22597969,
 26670920,
 734423,
 73706,
 0,
 79076678,
 85131830,
 14623082,
 49628177,
 0,
 10551417,
 0,
 10364769,
 3100000,
 149762350]

In [79]:
#getting profit percent by cost
new5 = []
for i in new1:
    new5.append(all_drama_info1.Profit[i[0]]/all_drama_info1.Buget[i[0]]
         *100)
new5

[1004.1041975,
 571.0167385620915,
 699.3277863157895,
 324.38413883847545,
 315.3696362776025,
 616.80915,
 680.0380848,
 373.87369422222224,
 528.717638,
 498.0665293333334,
 402.9522,
 370.5444577777778,
 221.14014166666664,
 404.581835,
 246.84505038759693,
 154.6672856794934,
 325.2083313513514,
 440.721608627451,
 242.71353782608696,
 369.0546966887417,
 379.1125724137931,
 359.239328,
 309.94216121212116,
 404.1307632,
 384.6152708661417,
 325.01157666666666,
 295.2289866666667,
 412.4993845454545,
 196.88867466666667,
 324.4951296296296,
 345.05556,
 468.17586222222224,
 453.8202355555556,
 613.1036661538461,
 656.9365583333333,
 269.71367285714285,
 580.2600799999999,
 533.5474471428571,
 430.26885764705884,
 118.64840299999999,
 344.35320873786407,
 165.95041400966184,
 222.10017565789474,
 343.91877040816325,
 217.21698933333334,
 241.5718430769231,
 504.20850655737706,
 262.1363930434783,
 199.55107866666665,
 395.8893906666667,
 528.9504181818182,
 317.0908533333333,
 402.1428571428571,
 327.1344294117647,
 221.95861200000002,
 145.99030736842104,
 306.77962888888885,
 336.36065375,
 265.3,
 286.02870222222225,
 200.8,
 280.7231428571428,
 187.68765461538462,
 329.7926042857143,
 131.8629857142857,
 324.4513942857143,
 167.94863703703703,
 265.88367529411767,
 116.31731894736843,
 118.10707428571428,
 221.84513222222222,
 302.1538461538462,
 322.592305,
 224.7234882352941,
 203.86389,
 143.2924272,
 118.676686,
 242.59146428571427,
 113.14258733333334,
 162.794441,
 123.57730307692307,
 177.24217333333334,
 392.789275,
 240.4570169230769,
 165.97107777777777,
 162.11111111111111,
 164.25263999999999,
 195.8119142857143,
 271.59653000000003,
 225.32347499999997,
 225.37174310344827,
 194.19639242424242,
 184.55882352941177,
 102.4848325,
 42.96412618181818,
 177.15214923076923,
 126.59130444444445,
 208.5506074074074,
 123.17728222222222,
 82.01822222222222,
 107.1050819512195,
 219.490558,
 98.95759363636364,
 212.799288,
 151.15311857142856,
 95.72727272727273,
 146.49074142857143,
 166.57748166666667,
 165.59490166666666,
 151.58126769230768,
 151.22408307692308,
 106.72113333333333,
 58.80177866666667,
 138.49175161290324,
 65.44677692307692,
 59.033790277777776,
 128.22461076923076,
 215.78947368421052,
 152.8512450199203,
 111.95226923076925,
 117.20166393442624,
 71.377916,
 103.68848888888888,
 98.26775846153846,
 97.64429692307692,
 162.39008974358975,
 72.92481627906977,
 36.24145,
 89.102545,
 130.642295,
 86.577085,
 75.33970833333333,
 88.2838,
 66.37326333333333,
 50.84547034482758,
 21.54559882352941,
 48.19423571428572,
 51.20536,
 50.80386166666667,
 33.44444444444444,
 69.04761904761905,
 26.704591,
 48.34515510204081,
 17.00478962962963,
 38.020759999999996,
 18.77629333333333,
 13.546760625000001,
 28.19628676470588,
 27.047945714285714,
 16.348439090909093,
 15.149422000000001,
 19.323588965517242,
 12.515717924528303,
 25.934736,
 25.177672499999996,
 24.628977499999998,
 14.731215384615384,
 13.565047058823529,
 11.564336923076922,
 1.3782579487179487,
 0.026546666666666666,
 -0.11110736842105264,
 -1.25,
 -0.4963834285714286,
 -1.7729829999999998,
 -2.47698,
 -7.849764444444444,
 -7.77472,
 -11.374710294117648,
 -12.577487692307693,
 -8.200000000000001,
 -22.1890825,
 -13.885968571428572,
 -15.780972857142858,
 -33.1583375,
 -29.595975555555555,
 -16.80681625,
 -19.907395588235293,
 -25.90130769230769,
 -24.1432375,
 -46.960295,
 -50.6098075,
 -19.555994495412843,
 -48.97499784946236,
 -16.088327586206898,
 -59.1480825,
 -62.654627500000004,
 -64.1049175,
 -39.97233230769231,
 -41.148564615384615,
 -66.9799425,
 -55.748832692307694,
 -73.20644750000001,
 -80.0634825,
 -58.91278363636364,
 -58.967815384615385,
 -98.1639425,
 -99.83620888888889,
 -100.0,
 -39.171786153846156,
 -37.85997810218978,
 -80.50255733333333,
 -58.643185833333334,
 -100.0,
 -88.27620333333334,
 -100.0,
 -90.12879142857143,
 -97.18181818181819,
 -57.21075714285714]

In [80]:
#getting gross profit margin percent
new6 = []
for i in new1:
    new6.append(all_drama_info1.Profit[i[0]]/all_drama_info1.Total_gross[i[0]]
         *100)
new6

<ipython-input-80-d7cf4be7d842>:4: RuntimeWarning: divide by zero encountered in longlong_scalars
  new6.append(all_drama_info1.Profit[i[0]]/all_drama_info1.Total_gross[i[0]]

[90.94288381237678,
 85.09724210244173,
 87.48948782815201,
 76.43644263574588,
 75.92505776393166,
 86.04928522466545,
 87.18011313183,
 78.89733040274965,
 84.09460877889352,
 83.27945218544995,
 80.11739485382508,
 78.7480229876118,
 68.86094666303136,
 80.18160919328378,
 71.16868183984441,
 60.73307973845802,
 76.48211649988353,
 81.5061949801051,
 70.82111181416303,
 78.68052474350158,
 79.128078502262,
 78.2248614386963,
 75.6063148751719,
 80.16387665667453,
 79.36507452163603,
 76.47122914055839,
 74.69821208120565,
 80.48778144608077,
 66.31734096550652,
 76.44260369082453,
 77.53089524373091,
 82.3998155062616,
 81.94359946062883,
 85.97679345285741,
 86.78885318735485,
 72.95204171725617,
 85.29974006412371,
 84.2158625291641,
 81.14164191279758,
 54.26447272061713,
 77.4953802440093,
 62.399005704737476,
 68.95375800533222,
 77.47335623856263,
 68.47583724624552,
 70.72358216087511,
 83.44942202654941,
 72.38609487448174,
 66.61671176578281,
 79.83421265263179,
 84.10049550661213,
 76.02440830317578,
 80.08534850640113,
 76.58816683597324,
 68.94010712159488,
 59.34799176854174,
 75.41666472503843,
 77.08317669326527,
 72.62523952915411,
 74.09519048082758,
 66.75531914893617,
 73.7341945515714,
 65.24007951133947,
 76.73296399173897,
 56.87108069796639,
 76.44017634379917,
 62.67941456773391,
 72.66890906799424,
 53.771616398254864,
 54.1509598771644,
 68.92915567511095,
 75.13389441469013,
 76.33653078467674,
 69.20456831027259,
 67.09052859160066,
 58.89719990429689,
 54.270388019324564,
 70.81071467775915,
 53.08305052916986,
 61.94744469499642,
 55.2727407371962,
 63.93045156237173,
 79.70735057089057,
 70.62771656059182,
 62.401926993148,
 61.84824077999153,
 62.15742631748164,
 66.19473551582053,
 73.08909208597831,
 69.26136363199736,
 69.26592363363092,
 66.00910052771954,
 64.85788113695091,
 50.61358484715145,
 30.05238260063751,
 63.91873551132539,
 55.86767981005293,
 67.59040572298699,
 55.19257201975067,
 45.060445718499494,
 51.71533259451668,
 68.70017047577349,
 49.73803302890224,
 68.03061776790233,
 60.18365188184603,
 48.9084997677659,
 59.43052488688375,
 62.48745416349839,
 62.348674853139904,
 60.2514126281042,
 60.19489900202733,
 51.625652207144114,
 37.02841313263544,
 58.069828694826164,
 39.55760162889474,
 37.12028127774977,
 56.18351602706206,
 68.33333333333333,
 60.45105493068791,
 52.81956623397974,
 53.95983705254198,
 41.649424655158015,
 50.90542399057733,
 49.56315601893549,
 49.40405488202882,
 61.888804528509056,
 42.171400177393934,
 26.600898625198134,
 47.118638725882825,
 56.64281783182915,
 46.40285006060631,
 42.96785311750785,
 46.88868612169502,
 39.89418852736735,
 33.706991816589905,
 17.726350466059415,
 32.5209921168613,
 33.86477833854567,
 33.68870074359391,
 25.062447960033307,
 40.845070422535215,
 21.07626155393217,
 32.58964208759368,
 14.533413276035184,
 27.54713131560788,
 15.808115244545995,
 11.930556671484084,
 21.994620496659103,
 21.289557703760927,
 14.051274962215182,
 13.156316147205672,
 16.19427401827603,
 11.123528477082125,
 20.59379073935566,
 20.113549003717097,
 19.76183869437587,
 12.839762339509509,
 11.944737760551636,
 10.365621525676685,
 1.3595202527697197,
 0.026539621281870374,
 -0.11123095420714181,
 -1.2658227848101267,
 -0.4988596853814859,
 -1.8049850785960446,
 -2.5398926325292224,
 -8.518442082236433,
 -8.430139762112947,
 -12.834609998868832,
 -14.387012407101688,
 -8.932461873638346,
 -28.516669913319042,
 -16.12509406547352,
 -18.738013715563664,
 -49.60729021364482,
 -42.037334923814804,
 -20.20215538391389,
 -24.8554729047007,
 -34.955148175562115,
 -31.82740299521747,
 -88.53800186105862,
 -102.4693465205668,
 -24.31007055497467,
 -95.98235332743897,
 -19.172931635625883,
 -144.78655132895537,
 -167.77079275350647,
 -178.58969261318734,
 -66.58984738934744,
 -69.91938997997906,
 -202.84623217267264,
 -125.9827391776323,
 -273.22411800376227,
 -401.5921160754379,
 -143.38470417407865,
 -143.71112807507203,
 -5346.452521230953,
 -60953.3742164817,
 -inf,
 -64.39739666352702,
 -60.926882459827304,
 -412.88777564127724,
 -141.7981220627951,
 -inf,
 -752.9660044712477,
 -inf,
 -913.0471793437943,
 -3448.3870967741937,
 -133.7035977333422]

In [5]:
%%HTML
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/dumbbell.js"></script>
<script src="https://code.highcharts.com/modules/lollipop.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="r1"></div>
    <p class="highcharts-description">
    </p>
</figure>

In [6]:
%%js
Highcharts.chart('r1', {

    chart: {
        type: 'lollipop',
        inverted:true,
        height:1600
    },

    accessibility: {
        point: {
            valueDescriptionFormat: '{index}. {xDescription}, {point.y}.'
        }
    },

    legend: {
        enabled: true,
        layout:'vertical',
        reversed:true
    },

    subtitle: {
        text: '209 Movies'
    },

    title: {
        text: 'Drama Genre'
    },

    tooltip: {
        shared: true
    },

    xAxis: {
        type:'category',
        title:{
            text:'Movies'
        }
    },
    yAxis:{
        title:{
            text:'Profit'
        }
    },
    series: [{
        name: 'Profit',
        color:'blue',
        dataSorting:{
            enabled: false
        },
        data: [{
            name: 'Titanic',
            low: 2008208395
        }, {
            name: 'Star Wars Ep.VII: The Force Awakens',
            low: 1747311220
        }, {
            name: 'Furious 7',
            low: 1328722794
        }, {
            name: 'Avengers: Age of Ultron',
            low: 1072413963
        }, {
            name: 'Star Wars Ep. VIII: The Last Jedi',
            low: 999721747
        }, {
            name: 'Aquaman',
            low: 986894640
        }, {
            name: 'Harry Potter and the Sorcereras Stone',
            low: 850047606
        }, {
            name: 'Pirates of the Caribbean: Dead Mans Chest',
            low: 841215812
        }, {
            name: 'Harry Potter and the Order of the Phoenix',
            low: 793076457
        }, {
            name: 'Harry Potter and the Goblet of Fire',
            low: 747099794
        },{
            name: 'Spider-Man: Homecoming',
            low: 705166350
        }, {
            name: 'Thor: Ragnarok',
            low: 666980024
        }, {
            name: 'Pirates of the Caribbean: At Wrolds End',
            low: 663420425
        }, {
            name: 'Sherk the Third',
            low: 647330936
        }, {
            name: 'Spider-Man 3',
            low: 636860230
        }, {
            name: 'Pirates of the Caribbean: On Stranger Tides',
            low: 635063875
        }, {
            name: 'Indiana Jones and the Kingdom of the Crystal Skull',
            low: 601635413
        }, {
            name: 'The Twilight Saga: Breaking Dawn, Part 1',
            low: 561920051
        }, {
            name: 'Pirates of the Caribbean: Dead Men Tell No Tales',
            low: 558241137
        }, {
            name: 'Transformers',
            low: 557272592
        },{
            name: 'Mission Impossible Ghost Protocol',
            low: 549713230
        }, {
            name: 'Mission Impossible Rogue Nation',
            low: 538858992
        }, {
            name: 'Doctor Strange',
            low: 511404566
        }, {
            name: 'Fast Five',
            low: 505163454
        }, {
            name: 'Logan',
            low: 488461394
        }, {
            name: 'Moana',
            low: 487517365
        }, {
            name: 'Big Hero 6',
            low: 487127828
        }, {
            name: 'The Smurfs',
            low: 453749323
        }, {
            name: 'Man of Steel',
            low: 442999518
        }, {
            name: 'The Croods',
            low: 438068425
        },
         {  name: 'The Day After Tomorrow',
            low: 431319450
        }, {
            name: 'Toy Story 2',
            low: 421358276
        }, {
            name: 'Sherlock Holmes',
            low: 408438212
        }, {
            name: 'The Matrix',
            low: 398517383
        }, {
            name: '300',
            low: 394161935
        }, {
            name: 'Kung Fu Panda 3',
            low: 377599142
        }, {
            name: 'Les Miserables',
            low: 377169052
        }, {
            name: 'Alvin and the Chipmunks: The Squeakquel',
            low: 373483213
        }, {
            name: 'Oceans Eleven' ,
            low: 365728529
        }, {
            name: 'Justice League',
            low: 355945209
        },{
            name: 'Gladiator',
            low: 354683805
        }, {
            name: 'King Kong',
            low: 343517357
        }, {
            name: 'War for the Planet of the Apes',
            low: 337592267
        }, {
            name: 'The Mummy Returns',
            low: 337040395
        }, {
            name: 'Charlie and the Chocolate Factory',
            low: 325825484
        }, {
            name: 'The Bourne Ultimatum',
            low: 314043396
        }, {
            name: 'Gone Girl',
            low: 307567189
        }, {
            name: 'The Wolverine',
            low: 301456852
        }, {
            name: 'Thor',
            low: 299326618
        }, {
            name: 'Shark Tale',
            low: 296917043
        },{
            name: 'Murder on the Orient Express',
            low: 290922730
        }, {
            name: 'Spider-Man: Into The Spider-Verse 3D',
            low: 285381768
        }, {
            name: 'Who Framed Roger Rabbit',
            low: 281500000
        }, {
            name: 'Fast & Furious',
            low: 278064265
        }, {
            name: 'Prometheus',
            low: 277448265
        }, {
            name: 'Star Trek Into Darkness',
            low: 277381584
        }, {
            name: 'Die Hard: With a Vengeance',
            low: 276101666
        }, {
            name: 'Alvin and the Chipmunks: Chipwrecked',
            low: 269088523
        }, {
            name: 'True Lies',
            low: 265300000
        }, {
            name: 'Rush Hour 2',
            low: 257425832 
        },{
            name: 'Godzilla',
            low: 251000000 
        }, {
            name: 'Fantastic Four',
            low: 245632750
        }, {
            name: 'The Adventures of Tintin',
            low: 243993951
        }, {
            name: 'Hook',
            low: 230854823
        }, {
            name: 'The Mummy:Tomb of the Dragon Emperor',
            low: 230760225
        }, {
            name: 'Oceans 8',
            low: 227115976
        }, {
            name: 'The World is not Enough',
            low: 226730660
        }, {
            name: 'The Bourne Supremacy',
            low: 226001124
        }, {
            name: 'Pacific Rim',
            low: 221002906
        }, {
            name: 'Monesters vs. Aliens',
            low: 206687380
        },
         {  name: 'The Departed',
            low: 199660619
        }, {
            name: 'Total Recall',
            low: 196400000
        }, {
            name: 'Wild Hogs',
            low: 193555383
        }, {
            name: 'Divergent',
            low: 191014965
        }, {
            name: 'Tomb Raider',
            low: 183477501
        }, {
            name: 'Skyscraper',
            low: 179115534
        }, {
            name: 'Bolt',
            low: 178015029
        }, {
            name: 'Die Hard 2',
            low: 169814025
        }, {
            name: 'The Last Airbender',
            low: 169713881
        }, {
            name: 'Epic',
            low: 162794441
        },{
            name: 'Salt',
            low: 160650494
        }, {
            name: 'Alvin and the Chipmunks: The Road Chip',
            low: 159517956
        }, {
            name: 'The Intern',
            low: 157115710
        }, {
            name: 'Everest',
            low: 156297061
        }, {
            name: 'The Girl with the Dragon Tattoo',
            low: 149373970
        }, {
            name: 'Artificial Intelligence: AI',
            low: 145900000
        }, {
            name: 'Its Complicated',
            low: 139614744
        }, {
            name: 'Sleepy Hollow',
            low: 137068340
        }, {
            name: 'Inside Man',
            low: 135798265
        }, {
            name: 'London Has Fallen',
            low: 135194085
        },{
            name: 'Rambo III',
            low: 130715611
        }, {
            name: 'Need for Speed',
            low: 128169619
        }, {
            name: 'The Sum of All Fears',
            low: 125500000
        }, {
            name: 'RoboCop',
            low: 122981799
        }, {
            name: 'Solo: A Star Wars Story ',
            low: 118151347
        }, {
            name: 'The Dictator',
            low: 115148897
        }, {
            name: 'Valkyrie',
            low: 113932174
        }, {
            name: 'Seven Pounds',
            low: 112617328
        }, {
            name: 'Percy Jackson: Sea of Monsters',
            low: 110859554
        }, {
            name: 'Rango',
            low: 110724600
        },{
            name: 'Public Enemies',
            low: 109782709
        }, {
            name: 'Stepmom',
            low: 109745279
        }, {
            name: 'Kingdom of Heaven',
            low: 108853353
        }, {
            name: 'Planes: Fire and Rescue',
            low: 106399644
        }, {
            name: 'Daddys Home 2',
            low: 105807183
        }, {
            name: 'The Patriot',
            low: 105300000
        }, {
            name: 'AVP: Alien Vs. Predator',
            low: 102543519
        }, {
            name: 'Jack Reacher: Never Go Back',
            low: 99946489
        }, {
            name: 'The Jackal',
            low: 99356941
        }, {
            name: 'Unbroken',
            low: 98527824
        },
         {  name: 'World Trade Center',
            low: 98295654
        }, {
            name: 'Atlantis: The Lost Empire',
            low: 96049020
        }, {
            name: 'Dark Shadows',
            low: 88202668
        }, {
            name: 'The Hateful Eight',
            low: 85864886
        }, {
            name: 'Australia',
            low: 85080810
        }, {
            name:'Ghostbusters',
            low: 85008658
        }, {
            name: 'Broken Arrow',
            low: 83345997
        }, {
            name: 'Star Trek: Generations',
            low: 82000000
        }, {
            name: 'The Adjustment Bureau',
            low: 76731325
        }, {
            name: 'Petes Dragon',
            low: 72768975
        },{
            name: '2 Guns',
            low: 71493015
        }, {
            name: 'Blood Diamond',
            low: 71377916
        }, {
            name: 'Abraham Lincoln: Vampire Hunter',
            low: 69989730
        }, {
            name: 'Space Cowboys ',
            low: 63874043
        }, {
            name: 'Step Brothers',
            low: 63468793
        }, {
            name: 'The Time Travelers Wife',
            low: 63332135
        }, {
            name: 'Seabiscuit',
            low: 62715342
        }, {
            name: 'The Sorcerers Apprentice',
            low: 57986320
        }, {
            name: 'The Dark Tower',
            low: 53461527
        }, {
            name: 'The Skeleton Key',
            low: 52256918
        },{
            name: 'The Boxtrolls',
            low: 51946251
        }, {
            name: 'First Man',
            low: 45203825
        }, {
            name: 'Bedazzled',
            low: 42376224
        }, {
            name: 'Hellboy',
            low: 39823958
        }, {
            name: 'Fools Gold',
            low: 36862966
        }, {
            name: 'Tomorrowland',
            low: 36627518
        }, {
            name: 'Escape Plan',
            low: 33735965
        }, {
            name: 'Kangaroo Jack',
            low: 30723216 
        }, {
            name: 'The Tale of Despereaux',
            low: 30482317
        }, {
            name: 'Volcano',
            low: 30100000
        },{
            name: 'Cleopatra',
            low: 29000000
        }, {
            name: 'Point Break',
            low: 26704591
        }, {
            name: 'The One',
            low: 23689126
        }, {
            name: 'Happy Feet Two',
            low: 22956466
        }, {
            name: 'Edge of Darkness',
            low: 22812456
        }, {
            name: 'Power Rangers',
            low: 22531552
        }, {
            name: 'Poseidon',
            low: 21674817
        }, {
            name: 'Hall Pass',
            low: 19173475
        }, {
            name: 'Rumor Has It',
            low: 18933562
        }, {
            name: 'Enders Game',
            low: 17983283
        },
         {  name:'Wonder Park',
            low: 15149422
        }, {
            name: 'The Kingdom',
            low: 14009602
        }, {
            name: 'Allied',
            low: 13266661
        }, {
            name: 'The Peacemaker',
            low: 12967368
        }, {
            name: 'Fever Pitch',
            low: 10071069
        }, {
            name: 'Legal Eagles',
            low: 9851591
        }, {
            name: 'I Frankenstein',
            low: 9575290
        }, {
            name: 'Money Train',
            low: 9224232
        }, {
            name: 'Death Race',
            low: 7516819
        },{
            name: 'Jack the Giant Slayer',
            low: 2687603
        }, {
            name: 'Hugo',
            low: 47784
        }]
    }]
});

In [5]:
%%HTML
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibilty.js"></script>

<figure class="highcharts-figure">
    <div id="w"></div>
    <p class="highcharts-description">
    </p>
</figure>

In [6]:
%%js
Highcharts.chart('w',{
    chart:{
        type:'column'
    },
    title:{
        text:'Movies That Did Not Make Any Profit'
    },
    xAxis:{
        categories:['The Lovely Bones','Random hearts','Evan Almighty','Jin LAadng shAxad san',
'Green Zone','Dredd','For Love of the Game','The Insider','Elektra',
'Treasure Planet','Victor Frankenstein','I Spy','The Legend of Hercules',
'Baahubali: The Beginning','Pinocchio','Thirteen Days','Downsizing',
'Red Dawn','Driven','New York Mintue','Amelia','Ali','Silence',
'Sahara'],
        labels:{
           enabled:false 
        }
    },
    credits:{
        enabled:false
    },
    colors:['orange','brown','yellow'],
    yAxis:{
        min:-500000,
        max:180000000,
        step:50000,
    },
    series:[{
        name:'Cost',
        data:[95000000,64000000,175000000,100000000,100000000,45000000,
             50000000,60000000,65000000,100000000,40000000,70000000,
             70000000,40000000,45000000,80000000,68000000,65000000,
             72000000,40000000,109000000,46500000,145000000]
    },{
        name:'Loss',
        data:[-105552,-800000,-868671,-1772983,-2476980,-3532394,
             -3887360,-7734803,-8175367,-8200000,-8875633,-9720178,
             -11046681,-13263335,-13318189,-13445453,-13537029,-16835850,
             -17383131,-18784118,-20243923,-21316034,-22773374,-23328075]
    },{
        name:'Revenue',
        data:[94894448,63200000,174131329,98227017,97523020,41467606,46112640,60265197,56824633,
             91800000,31124367,60279822,58953319,26736665,31681811,66554547,54462971,48164150,
             54616869,21215882,19756077,87683966,23726626,121671925]
    }]
});

In [7]:
%%HTML
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibilty.js"></script>

<figure class="highcharts-figure">
    <div id="f"></div>
    <p class="highcharts-description">
    </p>
</figure>

In [8]:
%%js
Highcharts.chart('f',{
    chart:{
        type:'column'
    },
    title:{
        text:'Movies That Did Not Make Any Profit'
    },
    xAxis:{
        categories:['Paranoia','The Hudsucker Proxy','Memoirs of an Invisible Man',
'Primary Colors','The Missing','FearDotCom','Bulletproof Monk','Universal Soldier II: The Return',
'Impostor','Bullet to the Head','Oliver Twist','Dragon Nest Warriors Dawn','FoodFight!',
'Ad Astra','R.I.P.D','Final Fantasy: The Spirits Within','Soldier','How Do You Know? ',
'355','The Promise','Army of the Dead','Town & Country', 'Men in Black: International','Dark Pheonix'],
        labels:{
           enabled:false
        }},
    yAxis:{
        labels:{
            enabled:true
        }
    },
    credits:{
        enabled:false
    },
    colors:['orange','brown','yellow'],
    series:[{
        name:'Cost',
        data:[40000000,40000000,40000000,65000000,65000000,40000000,52000000,
             40000000,40000000,55000000,65000000,40000000,45000000,49800000,
             130000000,137000000,75000000,120000000,75000000,90000000,
             90000000,105000000,110000000,350000000]
    },{
        name:'Loss',
        data:[-23659233,-25061851,-25641967,-25982016,-26746567,-26791977,
             -28989393,-29282579,-32025393,-32402031,-38329080,-39265577,
             -44926294,-49800000,-50923322,-51868170,-60376918,-70371823,
             -75000000,-79448583,-90000000,-94635231,-106900000,-200237650]
    },{
        name:'Revenue',
        data:[16340767,14938149,14358033,39017984,38253433,13208023,23010607,
             10717421,7974607,22597969,26670920,734423,73706,0,79076678,85131830,
             14623082,49628177,0,10551417,0,10364769,3100000,149762350]
    }]
});

In [9]:
%%HTML
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/cylinder.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="b"></div>
    <p class="highcharts-description">
    </p>
</figure>

In [10]:
%%js
new Highcharts.chart('b',{
    chart:{
        type:'cylinder',
        options3d:{
            enabled:true,
            alpha:15,
            beta:16,
            depth:100,
            viewDistance:25
        }
    },
    title:{
        text:'Top 20 Highest Profit '
    },
    plotOptions:{
        series:{
            depth:25,
            colorByPoint:false
        }
    },
    series:[{
        showInLegend:true,
        name: 'Top Highest Profit',
        color : '',
           data:[
            ['Titanic|1st Highest',2008208295],
            ['Star Wars Ep.VII: The Force Awakens|2nd Highest',1747311220],
            ['Furious 7|3rd Highest',1328722794],
            ['Avengers: Age of Ultron|4th Highest',1072413963],
            ['Star Wars Ep. VIII: The Last Jedi|5th Highest',999721747],
            ['Aquaman|6th Highest',986894640],
            ['Harry Potter and the Sorcereras Stone|7th Highest',850047606],
            ['Pirates of the Caribbean: Dead Mans Chest|8th Highest ',841215812],
            ['Harry Potter and the Order of the Phoenix|9th Highest',793076457],
            ['Harry Potter and the Goblet of Fire|10th Highest',747099794],
            ['Spider-Man: Homecoming|11th Highest',705166350],
            ['Thor: Ragnarok|12th Highest',666980024],
            ['Pirates of the Caribbean: At Wrolds End|13th Highest',663420425],
            ['Sherk the Third|14th Highest',647330936],
            ['Spider-Man 3|15th Highest',636860230],
            ['Pirates of the Caribbean: On Stranger Tides|16th Highest',635063875],
            ['Indiana Jones and the Kingdom of the Crystal Skull|17th Highest',601635413],
            ['The Twilight Saga: Breaking Dawn, Part 1|18th Highest',561920051],
            ['Pirates of the Caribbean: Dead Men Tell No Tales|19th Highest',558241137],
            ['Transformers|20th Highest',557272592]
         ]
    }]
        
});

In [11]:
%%HTML
<script src="https://code.jpuery.com/jpuery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="c"></div>
    <p class="highcharts-description">
    </p>
</figure>

In [12]:
%%js
Highcharts.chart('c',{
    chart:{
        type:'column',
        options3d:{
            enabled:true,
            alpha:15,
            beta:25,
            depth:100,
            viewDistance:25
        }
    },
    title:{
        text:'Top 20 Lowest Profit '
    },
    plotOptions:{
        series:{
            depth:25,
            colorByPoint:false
        }
    },
    series:[{
        showInLegend:true,
        name: 'Top Lowest Profits',
        color :Highcharts.getOptions().colors[5],
           data:[
            ['Hugo|1st Lowest',47784],
            ['Jack the Giant Slayer|2nd Lowset',2587603],
            ['Death Race|3rd Lowest',7516819],
            ['Money Train|4th Lowest',9224232],
            ['I Frankenstein|5th Lowest',9575290], 
            ['Legal Eagles|6th Lowest',9851591],
            ['Fever Pitch|7th Lowest',10071069],
            ['The Peacemaker|8th Lowest',12967368],
            ['Allied|9th Lowest',13266661],
            ['The Kingdom|10th Lowest',14009602],
            ['Wonder Park|11th Lowest',15149422],
            ['Enders Game|12th Lowest',17983283],
            ['Rumor Has It|13th Lowest',18933562],
            ['Hall Pass|14th Lowest',19173475],
            ['Poseidon|15th Lowest',21674817],
            ['Power Rangers|16th Lowest',22531552],
            ['Edge of Darkness|17th Lowest',22812456],
            ['Happy Feet Two|18th Lowest',22956466],
            ['The One|19th Lowest',23689126],
            ['Piont Break|20th Lowest',26704591]
         ]
    }]
        
});

In [13]:
%%HTML
<script type="text/javascript" src="js/script.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="x" display; inline-block></div>
    <div id="n" display; inline-block></div>
    <div id="no" display; inline-block></div>
    <div id="xo" display; inline-block></div>
    <p class="highcharts-description">
    </p>
</figure>

In [14]:
%%js
Highcharts.chart('x',{
    title:{
        text:"What Movie Is The Most Successful?"
    },
    xAxis:{
        categories:['Star Wars Ep.VII: The Force Awakens|2nd Highest',
                   'Furious 7|3rd Highest',
                   'Avengers: Age of Ultron|4th Highest',
                   'Star Wars Ep.VIII:The Last Jedi|5th Highest',
                   'Aquaman|6th Highest',
                   'Harry Potter and the Sorcereras Stone|7th Highest',
                   'Pirates of the Caribbean: Dead Mans Chest|8th Highest',
                   'Harry Potter and the Oder of the Phoenix|9th Highest',
                   'Harry Potter and the Goblet of Fire|10th Highest'],
        crosshair:{
            enabled:true
        },
        labels:{
            enabled:false
        }
    },
    plotOptions:{
       series:{
           marker:{
               states:{
                   hover:{
                       radiusPlus:10,
                       lineWidthPlus:2
                   }
               }
           }
       } 
    },
    tooltip:{
        shared:false
    },
    states:{
        hover:{
            lineWidthPlus:10
        }
    },
    series:[{
        type:'column',
        color:Highcharts.getOptions().colors[8],
        name:'Profit',
        data:[1747311220,1328722794,1072413963,999721747,986894640,850047606,
             841215812,793076457,747099794]
    },{
        type:'column',
        color:Highcharts.getOptions().colors[1],
        name:'Revenue',
        data:[2053311220,1518722794,1403013963,1316721747,1146894640,975047606,
             1066215812,943076457,897099794]
    },{
        type:'spline',
        color:'gold',
        name:'Cost',
        data:[306000000,190000000,330600000,317000000,160000000,125000000,
             225000000,150000000,150000000],
        marker:{
            lineWidth: 2,
            lineColor: 'gold',
            fillColor: 'white',
            raduis:2
        }
   }]
});

In [15]:
%%js
Highcharts.chart('n',{
        title:{
            text:""
        },
        xAxis:{
           categories:['Star Wars Ep.VII: The Force Awakens|2nd Highest',
                   'Furious 7|3rd Highest',
                   'Avengers: Age of Ultron|4th Highest',
                   'Star Wars Ep.VIII:The Last Jedi|5th Highest',
                   'Aquaman|6th Highest',
                   'Harry Potter and the Sorcereras Stone|7th Highest',
                   'Pirates of the Caribbean: Dead Mans Chest|8th Highest',
                   'Harry Potter and the Oder of the Phoenix|9th Highest',
                   'Harry Potter and the Goblet of Fire|10th Highest'],
           crosshair:{
               enabled:true
           },
           labels:{
               enabled:true
           } 
        },
       tooltip:{
           valueSuffix:'%',
           shared:true
       },
       series:[{
           type:'column',
           color:Highcharts.getOptions().colors[7],
           name:'Gross Profit Margin Percentage',
           data:[85,87,76,76,86,87,79,84,83]
       },{
           type:'column',
           color:Highcharts.getOptions().colors[3],
           name:'Profit Percentage by Cost',
           data:[571,699,324,315,617,680,374,529,498]
       }]  
    
   });

In [16]:
%%js
Highcharts.chart('no',{
    title:{
        text:""
    },
    xAxis:{
        categories:['Spider-Man:Homecoming|11th Highest',
                   'Thor:Regnarok|12th Highest',
                   'Pirates of the Caribbean: At Worlds End|13th Highest',
                   'Sherk the Third|14th Highest',
                   'Spider-Man 3|15th Highest',
                   'Pirates of the Caribbean: On Stranger Tides|16th Highest',
                   'Indiana Jones and the Kingdom of the Crystal Skull|17th Highest',
                   'The Twilight Saga: Breaking Dawn, Part 1|18th Highest',
                   'Pirates of the Caribbean: Dead Men Tell No Tales|19th Highest',
                   'Transformers|20th Highest'],
        crosshair:{
            enabled:true
        },
        labels:{
            enabled:false
        }
    },
    plotOptions:{
       series:{
           marker:{
               states:{
                   hover:{
                       radiusPlus:10,
                       lineWidthPlus:2
                   }
               }
           }
       } 
    },
    tooltip:{
        shared:false
    },
    states:{
        hover:{
            lineWidthPlus:10
        }
    },
    series:[{
        type:'column',
        color:Highcharts.getOptions().colors[8],
        name:'Profit',
        data:[705166350,666980024,663420425,647330936,636860230,635063875,601635413,561920051,558241137,557272592]
    },{
        type:'column',
        color:Highcharts.getOptions().colors[1],
        name:'Revenue',
        data:[880166350,846980024,963420425,807330936,894860230,1045663875,786635413,689420051,788241137,708272592]
    },{
        type:'spline',
        color:'gold',
        name:'Cost',
        data:[175000000,180000000,300000000,160000000,258000000,410600000,
             185000000,127500000,230000000,151000000],
        marker:{
            lineWidth: 2,
            lineColor: 'gold',
            fillColor: 'white',
            raduis:2
        }
   }]
});

In [17]:
%%js
Highcharts.chart('xo',{
        title:{
            text:""
        },
        xAxis:{
           categories:['Spider-Man|11th Highest',
                   'Thor: Ragnarok|12th Highest',
                   'Pirates of the Caribbean: At Worlds End|13th Highest',
                   'Sherk the Third|14th Highest',
                   'Spider-Man 3|15th Highest',
                   'Pirates of the Caribbean: On Stranger Tides|16th Highest',
                   'Indiana Jones and the Kingdom of the Crystal Skull|17th Highest',
                   'The Twilight Saga: Breaking Dawn, Park 1|18th Highest',
                   'Pirates of the Caribbean: Dead Men Tell No Tales|19th Highest',
                   'Transformers|20th Highest'],
           crosshair:{
               enabled:true
           },
           labels:{
               enabled:true
           } 
        },
       tooltip:{
           valueSuffix:'%',
           shared:true
       },
       series:[{
           type:'column',
           color:Highcharts.getOptions().colors[7],
           name:'Gross Profit Margin Percentage',
           data:[80,79,67,80,71,61,76,82,71,79]
       },{
           type:'column',
           color:Highcharts.getOptions().colors[3],
           name:'Profit Percentage by Cost',
           data:[402,371,221,405,247,155,325,441,243,369,]
       }]  
    
   });

In [30]:
var = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'R':
        var.append(no_tickets[i])
var

In [1]:
var1 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'R':
        var1.append(all_drama_info1['Name'][i])
var1

In [52]:
var2 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'R':
        var2.append(all_drama_info1['Profit'][i])
var2

[635063875,
 -200237650,
 1072413963,
 663420425,
 355945209,
 636860230,
 841215812,
 442999518,
 601635413,
 666980024,
 206687380,
 21674817,
 747099794,
 88202668,
 -23328075,
 85008658,
 -51868170,
 22956466,
 561920051,
 431319450,
 -70371823,
 354683805,
 162794441,
 71377916,
 26704591,
 337040395,
 285381768,
 199660619,
 276101666,
 113932174,
 145900000,
 -79448583,
 -90000000,
 -25641967,
 -20243923,
 -18784118,
 -26791977,
 -29282579,
 -23659233,
 -13263335,
 -8875633]

In [68]:
var3 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'NR':
        var3.append(no_tickets[i])
var3

[101286288,
 30242411,
 169862184,
 116824830,
 35952430,
 31615608,
 67705104,
 31212325,
 15894424,
 50163679,
 88222665,
 62102380,
 54482507,
 72544343,
 36601960,
 34563586,
 53439479,
 39815319,
 44082187,
 18901892,
 28768765,
 47343184,
 28923077,
 30957559,
 10963966,
 9844868,
 238462,
 797290,
 8857648,
 7061538,
 7501771,
 7555924,
 7299573,
 38341401,
 14311463,
 21036731,
 9238462,
 25625596,
 11439642,
 34671425,
 23923163,
 21231920]

In [54]:
var4 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'NR':
        var4.append(all_drama_info1['Name'][i])
var4

['Star Wars Ep. VIII: The Last Jedi',
 'Solo: A Star Wars Story',
 'Titanic',
 'Furious 7',
 'Star Trek Into Darkness',
 'Pacific Rim',
 'Spider-Man: Homecoming',
 'The Mummy: Tomb of the Dragon Emperor',
 'Tomorrowland',
 'Big Hero 6',
 'Aquaman',
 'Shrek the Third',
 'Transformers',
 'Harry Potter and the Order of the Phoenix',
 'Charlie and the Chocolate Factory',
 'Thor',
 'Mission: Impossibleâ\x80\x94Ghost Protocol',
 'Kung Fu Panda 3',
 'The Croods',
 'Rango',
 'The Adventures of Tintin',
 'Logan',
 'Godzilla',
 'Prometheus',
 'Power Rangers',
 "Ender's Game",
 'Men in Black: International',
 'Town & Country',
 'Wonder Park',
 'Treasure Planet',
 'Green Zone',
 'Jin lÃ\xadng shÃ\xad san chai',
 'The Lovely Bones',
 'Sherlock Holmes',
 'Atlantis: The Lost Empire',
 'Tomb Raider',
 'Volcano',
 'Fantastic Four',
 'Seabiscuit',
 "Ocean's Eleven",
 'The Bourne Supremacy',
 'Divergent']

In [55]:
var5 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'NR':
        var5.append(all_drama_info1['Profit'][i])
var5

[999721747,
 118151347,
 2008208395,
 1328722794,
 277381584,
 221002906,
 705166350,
 230760225,
 36627518,
 487127828,
 986894640,
 647330936,
 557272592,
 793076457,
 325825484,
 299326618,
 549713230,
 377599142,
 438068425,
 110724600,
 243993951,
 488461394,
 251000000,
 277448265,
 22531552,
 17983283,
 -106900000,
 -94635231,
 15149422,
 -8200000,
 -2476980,
 -1772983,
 -105552,
 408438212,
 96049020,
 183477501,
 30100000,
 245632750,
 62715342,
 365728529,
 226001124,
 191014965]

In [69]:
var6 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'PG':
        var6.append(no_tickets[i])
var6

[157947017,
 42347489,
 13849830,
 52031120,
 52989153,
 24593375,
 27825435,
 34157184,
 48474112,
 23393503,
 32035142,
 6744920,
 9174359,
 28100000,
 39335252,
 19193689,
 15450735,
 1124852,
 0,
 8412536,
 6654585,
 4201298,
 34114093,
 27038462,
 22855075,
 23142679,
 15928334,
 13272578,
 6841043,
 4534871,
 14884615,
 6705652,
 4635784,
 4189459,
 20107692,
 9882215,
 10597613,
 3704935,
 4371126,
 5736561,
 2051609,
 4861538]

In [57]:
var7 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'PG':
        var7.append(all_drama_info1['Name'][i])
var7

['Star Wars Ep. VII: The Force Awakens',
 'King Kong',
 'Hugo',
 'Doctor Strange',
 'Mission: Impossibleâ\x80\x94Rogue Nation',
 'The Last Airbender',
 'The World is Not Enough',
 'The Bourne Ultimatum',
 'Fast Five',
 'Skyscraper',
 'The Wolverine',
 'Ali',
 'Allied',
 'True Lies',
 'Toy Story 2',
 'Alvin and the Chipmunks: The Road Chip',
 'Percy Jackson: Sea of Monsters',
 'Soldier',
 '355',
 "Fool's Gold",
 'The Kingdom',
 'Driven',
 'Alvin and the Chipmunks: The Squeakquel',
 'Who Framed Roger Rabbit?',
 'Oceanâ\x80\x99s 8',
 'Hook',
 'Sleepy Hollow',
 'AVP: Alien Vs. Predator',
 'Rumor Has It',
 'The Legend of Hercules',
 'The Sum of All Fears',
 'Hall Pass',
 'The Insider',
 'Downsizing',
 'Total Recall',
 'Step Brothers',
 'Peteâ\x80\x99s Dragon',
 'Red Dawn',
 'Elektra',
 'I, Frankenstein',
 'Oliver Twist',
 'Random Hearts']

In [58]:
var8 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'PG':
        var8.append(all_drama_info1['Profit'][i])
var8

[1747311220,
 343517357,
 47784,
 511404566,
 538858992,
 169713881,
 226730660,
 314043396,
 505163454,
 179115534,
 301456852,
 -21316034,
 13266661,
 265300000,
 421358276,
 159517956,
 110859554,
 -60376918,
 -75000000,
 36862966,
 14009602,
 -17383131,
 373483213,
 281500000,
 227115976,
 230854823,
 137068340,
 102543519,
 18933562,
 -11046681,
 125500000,
 19173475,
 -7734803,
 -13537029,
 196400000,
 63468793,
 72768975,
 -16835850,
 -8175367,
 9575290,
 -38329080,
 -800000]

In [70]:
var9 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'G':
        var9.append(no_tickets[i])
var9

[15206739,
 16768178,
 6082821,
 17278057,
 26852963,
 5119581,
 28609003,
 18447233,
 13523629,
 12561204,
 13857607,
 2942572,
 6960178,
 8727810,
 14516585,
 26609441,
 1738305,
 12816718,
 1770047,
 9763948,
 12288098,
 14292174,
 12030742,
 4843644,
 3547126,
 0,
 5591471,
 6952017,
 1825125,
 3189816,
 2437062,
 5670,
 5461538,
 15162747,
 3834738,
 7096686,
 3851621,
 613431,
 1149088,
 56494,
 7871703,
 9230769]

In [60]:
var10 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'G':
        var10.append(all_drama_info1['Name'][i])
var10

['Jack the Giant Slayer',
 "The Sorcerer's Apprentice",
 'R.I.P.D.',
 'Itâ\x80\x99s Complicated',
 'Alvin and the Chipmunks: Chipwrecked',
 'Thirteen Days',
 'Shark Tale',
 'Die Hard 2',
 'Daddyâ\x80\x99s Home 2',
 'World Trade Center',
 'The Dictator',
 'The Missing',
 'The Tale of Despereaux',
 'The Dark Tower',
 'Rambo III',
 'Murder on the Orient Express',
 'Bullet to the Head',
 'Seven Pounds',
 'Bulletproof Monk',
 'The Adjustment Bureau',
 'Stepmom',
 'Inside Man',
 'Planes: Fire and Rescue',
 'The Peacemaker',
 'For Love of the Game',
 'Ad Astra',
 'The One',
 'Bedazzled',
 'Silence',
 'Dredd',
 'Pinocchio',
 'Foodfight!',
 'Cleopatra',
 'The Intern',
 'Legal Eagles',
 'The Skeleton Key',
 'Fever Pitch',
 'Impostor',
 'The Hudsucker Proxy',
 "Dragon Nest Warriors' Dawn",
 "The Time Traveler's Wife",
 'Star Trek: Generations']

In [71]:
var11 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'G':
        var11.append(all_drama_info1['Profit'][i])
var11

[2687603,
 57986320,
 -50923322,
 139614744,
 269088523,
 -13445453,
 296917043,
 169814025,
 105807183,
 98295654,
 115148897,
 -26746567,
 30482317,
 53461527,
 130715611,
 290922730,
 -32402031,
 112617328,
 -28989393,
 76731325,
 109745279,
 135798265,
 106399644,
 12967368,
 -3887360,
 -49800000,
 23689126,
 42376224,
 -22773374,
 -3532394,
 -13318189,
 -44926294,
 29000000,
 157115710,
 9851591,
 52256918,
 10071069,
 -32025393,
 -25061851,
 -39265577,
 63332135,
 82000000]

In [72]:
var12 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'PG-13':
        var12.append(no_tickets[i])
var12

[60633934,
 13394718,
 37660944,
 49039797,
 25231925,
 22357730,
 16544678,
 75003662,
 18690908,
 43365333,
 16561538,
 16834873,
 16329439,
 26725064,
 18413382,
 27928020,
 4636909,
 7979690,
 5940326,
 10576133,
 14936125,
 35655183,
 34013004,
 12579063,
 9913388,
 11411231,
 17022851,
 3001383,
 5578217,
 11374222,
 28351322,
 10191770,
 34935533,
 19504260,
 6978709,
 15014930,
 7678766,
 12303576,
 12258226,
 8611250,
 8092602,
 6370189]

In [63]:
var13 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'PG-13':
        var13.append(all_drama_info1['Name'][i])
var13

['Pirates of the Caribbean: Dead Men Tell No Tales',
 'Evan Almighty',
 'War for the Planet of the Apes',
 'Moana',
 'Bolt',
 'Salt',
 'Australia',
 'Harry Potter and the Sorcererâ\x80\x99s Stone',
 'RoboCop',
 'The Smurfs',
 'The Patriot',
 'Kingdom of Heaven',
 'Public Enemies',
 'Rush Hour 2',
 'The Girl with the Dragon Tattoo',
 'Fast & Furious',
 'I Spy',
 'Escape Plan',
 'Money Train',
 'Abraham Lincoln: Vampire Hunter',
 'Need for Speed',
 'The Matrix',
 'Les Miserables',
 'Unbroken',
 'Space Cowboys',
 'Broken Arrow',
 'Everest',
 'Primary Colors',
 'Death Race',
 'The Hateful Eight',
 'Gone Girl',
 '2 Guns',
 '300',
 'Wild Hogs',
 'Kangaroo Jack',
 'London Has Fallen',
 'Hellboy',
 'Jack Reacher: Never Go Back',
 'The Jackal',
 'The Boxtrolls',
 'First Man',
 'Edge of Darkness']

In [64]:
var14 = []
for i,x in enumerate(all_drama_info1.System_ratings):
    if x == 'PG-13':
        var14.append(all_drama_info1['Profit'][i])
var14

[558241137,
 -868671,
 337592267,
 487517365,
 178015029,
 160650494,
 85080810,
 850047606,
 122981799,
 453749323,
 105300000,
 108853353,
 109782709,
 257425832,
 149373970,
 278064265,
 -9720178,
 33735965,
 9224232,
 69989730,
 128169619,
 398517383,
 377169052,
 98527824,
 63874043,
 83345997,
 156297061,
 -25982016,
 7516819,
 85864886,
 307567189,
 71493015,
 394161935,
 193555383,
 30723216,
 135194085,
 39823958,
 99946489,
 99356941,
 51946251,
 45203825,
 22812456]

In [122]:
ttl = v+v1+v2+v3+v4
ttl

4825963891

In [123]:
# average of no tickets of R system rating
v = 0
for i in var:
    v+=i
(v/ttl*100)

24.159197754759994

In [124]:
# average of no tickets of NR system rating
v1 = 0
for i in var3:
    v1+=i
v1/ttl*100

32.14796181739604

In [125]:
# average of no tickets of PG system rating
v2 = 0
for i in var6:
    v2+=i
v2/ttl*100

18.3899328723759

In [126]:
# average of no tickets of G system rating
v3 = 0
for i in var9:
    v3+=i
v3/ttl*100

7.904832850312762

In [127]:
# average of no tickets of PG13 system rating
v4= 0
for i in var12:
    v4+=i
v4/ttl*100

17.398074705155313

In [18]:
%%html
<script src="http://code.highcharts.com/highchart.js"></script>
<div id='hraph' style="height:600px"></div>

In [19]:
%%js
var chart = new Highcharts.Chart({
    chart:{
        renderTo:'hraph'
    },
    title:{
        text:'Number of Tickets Sold'
    },
    subtitle:{
        text:'Drama Genre'
    },
    series:[{
        type:'pie',
        name: 'Percentage of Tickets Sold',
        tooltip:{
            valueSuffix:'%'
        },
        shadow: true,
        data:[{
            name:'System Rating: R',
            y:24.15,
            sliced:true,
            color: '#fc525a',
        },{
            name:'System Rating: PG-13',
            y:17.39,
            sliced:true,
            color:'#2cb5e1',
        },{
            name:'System Rating: PG',
            y:18.38,
            sliced:true,
            color:'orange',
        },{
            name:'System Rating: NR',
            y:32.14,
            sliced:true,
            color:'#e7c96d',
        },{
            name:'System Rating: G',
            y:7.90,
            sliced:true,
            color:'#95cc3e',
        }],
        innerSize:'80%',
        size:'83%'
       },{
        type:'pie',
        shadow: true,
        dataLabels: false,
        name: 'No. of Tickets Sold',
        data:[{
            name:'Pirates of the Caribbean: On Stranger Tides',
                   y:80435683,
                   sliced:true,
                   selected:true,
                   color:'#fc525a',
                 },{
                   name:'Dark Phoenix',
                   y:11520181,
                   sliced:false,
                   color:'#fc525a',
                 },{
                   name:'Avengers: Age of Ultron',
                   y:107924151,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Pirates of the Caribbean: At World End',
                   y:74109263,
                   sliced:false,
                   color:'#fc525a',
                 },{
                   name:'Justice League',
                   y:50457324,
                   selected:true,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Spider-Man 3',
                   y:68835402,
                   sliced:false,
                   color:'#fc525a',
                 },{
                   name:'Pirates of the Caribbean: Dead Mans Chest',
                   y:82016601,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Man of Steel',
                   y:51384578,
                   color:'#fc525a',
                 },{
                   name:'Indiana Jones and the Kingdom of the Crystal Skull',
                   y:60510416,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Thor: Rangnarok',
                   y:65152310,
                   color:'#fc525a',
                 },{
                   name:'Monsters vs. Aliens',
                   y:29360568,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Poseidon',
                   y:13974986,
                   color:'#fc525a',
                 },{
                   name:'Harry Potter and the Goblet of Fire',
                   y:69007676,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Dark Shadows',
                   y:18323282,
                   color:'#fc525a',
                 },{
                   name:'Sahara',
                   y:9359379,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Ghostbusters',
                   y:17616051,
                   color:'#fc525a',
                 },{
                   name:'Final Fantasy: The Spirits Within',
                   y:6548602,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Happy Feet Two',
                   y:12150497,
                   color:'#fc525a',
                 },{
                   name:'The Twilight Saga: Breaking Down Part 1',
                   y:53032312,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'The Day After Tomorrow',
                   y:42793804,
                   color:'#fc525a',
                 },{
                   name:'How Do You Know?',
                   y:3817552,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Gladiator',
                   y:35206447,
                   color:'#fc525a',
                 },{
                   name:'Epic',
                   y:20214957,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Blood Diamond',
                   y:13182917,
                   color:'#fc525a',
                 },{
                   name:'Point Break',
                   y:9746507,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'The Mummy Returns',
                   y:33464646,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Spider-Man: Into The Spider-Verse 3D',
                   y:28875521,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'The Departed',
                   y:2281586,
                   color:'#fc525a',
                 },{
                   name:'Die Hard with a Vengeance',
                   y:28161667,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Valkyrie',
                   y:15687090,
                   color:'#fc525a',
                 },{
                   name:'Artificial Intelligence: AI',
                   y:18146154,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'The Promise',
                   y:811647,
                   color:'#fc525a',
                 },{
                   name:'Army of the Dead',
                   y:0,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'Memoirs of an Invisible Man',
                   y:1104464,
                   color:'#fc525a',
                 },{
                   name:'Amelia',
                   y:1519698,
                   sliced:true,
                   color:'#fc525a',
                 },{
                   name:'New York Minute',
                   y:1631991,
                   color:'#fc525a',
                 },{
                   name:'FearDotCom',
                   y:1016002,
                   color:'#fc525a',
                 },{
                   name:'Universal Soldier II: The Return',
                   y:824417,
                   color:'#fc525a',
                 },{
                   name:'Paranoia',
                   y:1256982,
                   color:'#fc525a',
                 },{
                   name:'Baahubali: The Beginning',
                   y:2056667,
                   color:'#fc525a',
                 },{
                   name:'Victor Frankenstein',
                   y:2394182,
                   color:'#fc525a',
            },{
             name:'Pirates of the Caribbean: Dead Men Tell No Tales',
             y:60633934,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'Evan Almighty',
             y:13394718,
             color:'#2cb5e1',
            },{
             name:'War for the Planet of the Apes',
             y:37660944,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'Moana',
             y:49039797,
             color:'#2cb5e1',
            },{
             name:'Bolt',
             sliced:true,
             y:25231925,
             color:'#2cb5e1',
            },{
             name:'Salt',
             y:22357730,
             color:'#2cb5e1',
            },{
             name:'Australia',
             sliced:true,
             y:16544678,
             color:'#2cb5e1',
            },{
             name:'Harry Potter and the Sorcerers Stone',
             y:75003662,
             color:'#2cb5e1',
            },{
             name:'RoboCop',
             sliced:true,
             y:18690908,
             color:'#2cb5e1',
            },{
             name:'The Smurfs',
             y:43365333,
             color:'#2cb5e1',
            },{
             name:'The Patriot',
             sliced:true,
             y:16561538,
             color:'#2cb5e1',
            },{
             name:'Kingdom of Heaven',
             y:16834873,
             color:'#2cb5e1',
            },{
             name:'Public Enemies',
             sliced:true,
             y:16329439,
             color:'#2cb5e1',
            },{
             name:'Rush Hour 2',
             y:26725064,
             color:'#2cb5e1',
            },{
             name:'The Girl with the Dragon Tattoo',
             y:18413382,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'Fast & Furious',
             y:27928020,
             color:'#2cb5e1',
            },{
             name:'I Spy',
             sliced:true,
             y:4636909,
             color:'#2cb5e1',
            },{
             name:'Escape Plan',
             y:7979690,
             color:'#2cb5e1',
            },{
             name:'Money Train',
             sliced:true,
             y:5940326,
             color:'#2cb5e1',
            },{
             name:'Abraham Lincoln: Vampire Hunter',
             y:10576133,
             color:'#2cb5e1',
            },{
             name:'Need for Speed',
             y:14936125,
             color:'#2cb5e1',
            },{
             name:'The Matrix',
             y:35655183,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'Les Miserables',
             y:34013004,
             color:'#2cb5e1',
            },{
             name:'Unbroken',
             y:12579063,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'Space Cowboys',
             y:9913388,
             color:'#2cb5e1',
            },{
             name:'Broken Arrow',
             y:11411231,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'Everest',
             y:17022851,
             color:'#2cb5e1',
            },{
             name:'Primary Colours',
             y:3001383,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'Death Race',
             y:5578217,
             color:'#2cb5e1',
            },{
             name:'The Hateful Eight',
             y:11374222,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'Gone Girl',
             y:28351322,
             color:'#2cb5e1',
            },{
             name:'2 Guns',
             y:10191770,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'300',
             y:34935533,
             color:'#2cb5e1',
            },{
             name:'Wild Hogs',
             y:19504260,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'Kangaroo Jack',
             y:6978709,
             color:'#2cb5e1',
            },{
             name:'London Has Fallen',
             y:15014930,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'Hellboy',
             y:7678766,
             color:'#2cb5e1',
            },{
             name:'Jack Reacher: Never Go Back',
             y:12303576,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'The Jackal',
             y:12258226,
             color:'#2cb5e1',
            },{
             name:'The Boxtrolls',
             y:8611250,
             sliced:true,
             color:'#2cb5e1',
            },{
             name:'First Man',
             y:8092602,
             color:'#2cb5e1',
            },{
             name:'Edge of Darkness',
             sliced:true,
             y:6370189,
             color:'#2cb5e1',
            }

              ,{
              name:'Star Wars Ep. VII: The Force Awakens',
              y:157947017,
              sliced:true,
              color:'orange'    
            },{
              name:'King Kong',
              y:42347489,
              color:'orange'
            },{
              name:'Hugo',
              sliced:true,
              y:13849830,
              color:'orange',
            },{
              name:'Doctor Strange',
              y:52031120,
              color:'orange',
            },{
              name:'Mission: Impossible Rogue Nation',
              y:52989153,
              sliced:true,
              color:'orange',
            },{
              name:'The Last Airbender',
              y:24593375,
              color:'orange',
            },{
              name:'The World is Not Enough',
              y:27825435,
              sliced:true,
              color:'orange',
            },{
              name:'The Bourne Ultimatum',
              y:34157184,
              color:'orange',
            },{
              name:'Fast Five',
              y:48474112,
              sliced:true,
              color:'orange',
            },{
              name:'Skyscrapper',
              y:23393503,
              color:'orange',
            },{
              name:'The Wolverine',
              y:32035142,
              sliced:true,
              color:'orange',
            },{
              name:'Ali',
              y:6744920,
              color:'orange',
            },{
              name:'Allied',
              sliced:true,
              y:9174359,
              color:'orange',
            },{
              name:'True Lies',
              y:28100000,
              color:'orange',
            },{
              name:'Toy Story 2',
              y:39335252,
              sliced:true,
              color:'orange',
            },{
              name:'Alvin and the Chipmunks: The Road Chip',
              y:19193689,
              color:'orange',
            },{
              name:'Percy Jackson: Sea of Monsters',
              y:15450735,
              sliced:true,
              color:'orange',
            },{
              name:'Soldier',
              y:1124852,
              color:'orange',
            },{
              name:'355',
              sliced:true,
              y:0,
              color:'orange',
            },{
              name:'Fools Gold',
              y:8412536,
              color:'orange',
            },{
              name:'The Kingdom',
              sliced:true,
              y:6654585,
              color:'orange',
            },{
              name:'Driven',
              y:4201298,
              color:'orange',
            },{
              name:'Alvin and the Chipmunks: The Squeakquel',
              sliced:true,
              y:34114093,
              color:'orange',
            },{
              name:'Who Framed Roger Rabbit?',
              y:27038462,
              color:'orange',
            },{
              name:'Oceans 8',
              sliced:true,
              y:22855075,
              color:'orange',
            },{
              name:'Hook',
              y:23142679,
              color:'orange',
            },{
              name:'Sleepy Hallow',
              sliced:true,
              y:15928334,
              color:'orange',
            },{
              name:'AVP: Alien Vs. Predator',
              y:13272578,
              color:'orange',
            },{
              name:'Rumor Has It',
              sliced:true,
              y:6841043,
              color:'orange',
            },{
              name:'The Legend of Hercules',
              y:4534871,
              color:'orange',
            },{
              name:'The Sum of All Fears',
              y:14884615,
              sliced:true,
              color:'orange',
            },{
              name:'Hall Pass',
              y:6705652,
              color:'orange',
            },{
              name:'The Insider',
              sliced:true,
              y:4635784,
              color:'orange',
            },{
              name:'Downsizing',
              y:4189459,
              color:'orange'
            },{
              name:'Total Recall',
              sliced:true,
              y:20107692,
              color:'orange',
            },{  
              name:'Step Brothers',
              y:9882215,
              color:'orange',
            },{
              name:'Petes Dragon',
              sliced:true,
              y:10597613,
              color:'orange',
            },{
              name:'Red Dawn',
              y:3704935,
              color:'orange',
            },{
              name:'Elektra',
              sliced:true,
              y:4371126,
              color:'orange',
            },{
              name:'I, Frankenstein',
              y:5736561,
              color:'orange',
            },{
              name:'Oliver Twist',
              sliced:true,
              y:2051609,
              color:'orange',
            },{
              name:'Random Hearts',
              y:4861538,
              color:'orange',
            }

               ,{
                name:'Star Wars Ep. VIII: The Last Jedi',
                y:101286288,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Solo: A Star Wars Story',
                y:30242411,
                color:'#e7c96d',
               },{
                name:'Titanic',
                y:169862184,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Furious 7',
                y:116824830,
                color:'#e7c96d',
               },{
                name:'Star Trek Into Darkness',
                y:35952430,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Pacific Rim',
                y:31615608,
                color:'#e7c96d',
               },{
                name:'Spider-Man: Homecoming',
                y:67705104,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'The Mummy: Tomb of the Dragon Emperor',
                y:31212325,
                color:'#e7c96d',
               },{
                name:'Tomorrowland',
                y:15894424,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Big Hero 6',
                y:50163679,
                color:'#e7c96d',
               },{
                name:'Aquaman',
                y:88222665,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Shrek the Thrid',
                y:62102380,
                color:'#e7c96d',
               },{
                name:'Transformers',
                y:54482507,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Harry Potter and the Order of the Phoenix',
                y:72544343,
                color:'#e7c96d',
               },{
                name:'Charlie and the Chocolate Factory',
                y:36601960,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Thor',
                y:34563586,
                color:'#e7c96d',
               },{
                name:'Mission: Impossible Ghost Protocol',
                y:53439479,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Kung Fu Panda 3',
                y:39815319,
                color:'#e7c96d',
               },{
                name:'The Croods',
                y:44082187,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Rango',
                y:18901892,
                color:'#e7c96d',
               },{
                name:'The Adventures of Tintin',
                y:28768765,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Logan',
                y:47343184,
                color:'#e7c96d',
               },{
                name:'Godzilla',
                y:28923077,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Prometheus',
                y:30957559,
                color:'#e7c96d',
               },{
                name:'Power Rangers',
                y:10963966,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Enders Game',
                y:9844868,
                color:'#e7c96d',
               },{
                name:'Men in Black: International',
                y:238462,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Town & Country',
                y:797290,
                color:'#e7c96d',
               },{
                name:'Wonder Park',
                y:8857648,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Treasure Planet',
                y:7061538,
                color:'#e7c96d',
               },{
                name:'Green Zone',
                y:7501771,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Jin IAad san chai',
                y:7555924,
                color:'#e7c96d',
               },{
                name:'The Lovely Bones',
                y:7299573,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Sherlock Holmes',
                y:38341401,
                color:'#e7c96d',
               },{
                name:'Atlantic The Lost Empire',
                y:14311463,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Tomb Raider',
                y:21036731,
                color:'#e7c96d',
               },{
                name:'Volcano',
                y:9238462,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Fantastic Four',
                y:25625596,
                color:'#e7c96d',
               },{
                name:'Seabiscuit',
                y:11439642,
                sliced:true,
                color:'#e7c96d',
               },{
                name:'Oceans Eleven',
                y:34671425,
                color:'#e7c96d',
               },{
                name:'The Bourne Supremacy',
                y:23923163,
                slidced:true,
                color:'#e7c96d',
               },{
                name:'Divergent',
                y:21231920,
                color:'#e7c96d',
               }

               ,{
                name:'Jack the Giant Slayer',
                color:'#95cc3e',
                sliced:true,
                y:15206739,
              },{
                name:'The Sorcerers Apprentice',
                color:'#95cc3e',
                y:16768178,
               },{
                name:'R.I.P.D.',
                color:'#95cc3e',
                sliced:true,
                y:6082821,
               },{
                name:'Its Complicated',
                color:'#95cc3e',
                y:17278057,
               },{
                name:'Alvin and the Chipmunks Chipwrecked',
                color:'#95cc3e',
                sliced:true,
                y:26852963,
               },{
                name:'Thirteen Days',
                color:'#95cc3e',
                y:5119581,
               },{
                name:'Shark Tale',
                color:'#95cc3e',
                sliced:true,
                y:28609003,
               },{
                name:'Die Hard 2',
                color:'#95cc3e',
                y:18447233,
               },{
                name:'Daddys Home 2',
                color:'#95cc3e',
                sliced:true,
                y:13523629,
               },{
                name:'World Trade Center',
                color:'#95cc3e',
                y:12561204,
               },{
                name:'The Dictator',
                color:'#95cc3e',
                sliced:true,
                y:13857607,
               },{
                name:'The Missing',
                color:'#95cc3e',
                y:2942572,
               },{
                name:'The Tale of Despereaux',
                color:'#95cc3e',
                sliced:true,
                y:6960178,
               },{
                name:'The Dark Tower',
                color:'#95cc3e',
                y:8727810,
               },{
                name:'Rambo III',
                color:'#95cc3e',
                sliced:true,
                y:14516585,
               },{
                name:'Murder on the Orient Express',
                color:'#95cc3e',
                y:26609441,
               },{
                name:'Bullet to the Head',
                color:'#95cc3e',
                y:1738305,
                sliced:true,
               },{
                name:'Seven Pounds',
                color:'#95cc3e',
                y:12816718,
               },{
                name:'Bulletproof Monk',
                y:1770047,
                color:'#95cc3e',
               },{
                name:'The Adjustment Bureau',
                y:9763948,
                color:'#95cc3e',
               },{
                name:'Stepmom',
                y:12288098,
                color:'#95cc3e',
               },{
                name:'Inside Man',
                y:14292124,
                color:'#95cc3e',
               },{
                name:'Planes: Fire and Rescue',
                y:12030742,
                color:'#95cc3e',
               },{
                name:'The Peacemaker',
                y:4843644,
                color:'#95cc3e',
               },{
                name:'For Love of the Game',
                y:3547126,
                color:'#95cc3e',
               },{
                name:'Ad Astra',
                y:0,
                color:'#95cc3e',
               },{
                name:'The One',
                y:5591471,
                color:'#95cc3e',
               },{
                name:'Bedazzled',
                y:6952017,
                color:'#95cc3e',
               },{
                name:'Silence',
                y:1825125,
                color:'#95cc3e',
               },{
                name:'Dredd',
                y:3189816,
                color:'#95cc3e',
               },{
                name:'Pinocchio',
                y:2437062,
                color:'#95cc3e',
               },{
                name:'Foodfight',
                y:5670,
                color:'#95cc3e',
               },{
                name:'Cleopatra',
                y:5461538,
                color:'#95cc3e',
               },{
                name:'The Intern',
                y:15162747,
                color:'#95cc3e',
               },{
                name:'Legal Eagles',
                y:3834738,
                sliced:true,
                color:'#95cc3e',
               },{
                name:'The Skeleton Key',
                y:7096686,
                sliced:true,
                color:'#95cc3e',
               },{
                name:'Fever Pitch',
                y:3851621,
                sliced:true,
                color:'#95cc3e',
               },{
                name:'Impostor',
                y:613431,
                sliced:true,
                color:'#95cc3e',
               },{
                name:'The Hudsucker Proxy',
                y:1149088,
                sliced:true,
                color:'#95cc3e',
               },{
                name:'Dragon Nest Warriors Dawn',
                y:56494,
                sliced:true,
                color:'#95cc3e',
               },{
                name:'The Time Travelers Wife',
                y:7871703,
                sliced:true,
                color:'#95cc3e',
               },{
                name:'Star Trek: Generations',
                y:9230769,
                sliced:true,
                color:'#95cc3e'
               }],
        innerSize:'93%',
        size:'100%'
    }]
});