 # Objective

__Predict the sale price of the houses as accurately as possible by modeling the dataset with a multivariate linear regression.__

# Datasets

There will be one dataset used in this project

_Kc_House_Data.csv_
 - _Columns in the Dataset_
     - _id_
     - _date_
     - _price_
     - _bedrooms_
     - _view_
     - _sqft_above_
     - _sqft_living_
     - _sqft_lot_
     - _floors_
     - _waterfront_
     - _grade_
     - _sdft_basement_
     - _yr_built_
     - _yr_renovated_
     - _zipcode_
     - _lot_
     - _long_
     - _sqft_living15_
     - _sqft_lat15_

# Approaches

As you know the objective of this project is to anaylze the dataset and predict the prices of houses as precisely as possible using the dataset.

Before we dive into predicitng the prices or even creating a regression model the first must significant thing is to understand the theme of the objective by having foundemental approaches. When it comes to houses or prices of houses location is key to understand what type of house will be expected and the price range. The approaches will dive into why location has an affect of the type of the houses and of course the  priceses, the location of the houses in the dataset will also be analyzed and the potential variables that may be used to predict the prices of the houses will be explored and selected. 

__This is the blueprint of the approaches:__
   - Why Location is Important: Case Studies
   - Analyze the Location of Dataset: King County
   - Analyze Seattle
   - Analyze Variables
   - Final Selections of Variables
   - Implementing Variables on Linear Analyzes

# Why Location is Important (with case studies)

The one thing that people forget when picking out houses or evaluating price ranges of houses is location. Location is a crucial thing to consider. Why? Beacuse location creates desirability, desirability directs demand and the higher the demand the higher the real estate prices. However the question is, What makes a location more preferable over another location? What drives desireability in a loction?

__These are the main factors that make a location a desirabel place to live in:__
  - Quality of Local Schools
  - Proximity to Shopping and Entertainment
  - Employment opportunities
  - Accessibility
  - Socio - Economic level
  - Environment Centers
  - Sport Centers
  - Low Crime Rates
  - Easy Access to Major Highways

### Quality of Local Schools

How and why do schools have any correlation to the prices of houses, what is it about school district that makes the real estates raise their prices. school district can make or break a home sale, schools extremely surprising. A strong school district high test scores adds to the value of the neighbourhood in that particular area. School districts in ares with lower test scores might not be as appealing to the eyse of home buyers. Parents and couples who may want to start a familt will be magnetic towards areas with strong school district beacuse they want their children to be able have a good and safe education system, school also are foundations for a safe and community

### Proximity to Shopping and Entertainment

What really cueses the price premiums of houses close to shopping centers. The obvious explanation is that the fact of being convenience is a major key factor. The store located within a close distance to housues and housing estates saves nerby families and home owners time and money. That would have been spent on gasoline and traveling to groceirs with a higher distance mileage. A typical American goes shoping 1.9 times oer week, therefor if shopping centers where a mile to four miles away from homes it resutls to likely saving 6,000 dollars or so in auto expenxses. Thats why the average residenta property value of neighborhoods with exactly one supermarket is 193,695 dollars. when the average number of stores id five or more, values are almost twice as great at a whopping 362,160 dollars.

In [1]:
import pandas as pd
import collections

In [2]:
# The data frame is called house_info
raw_info = pd.read_csv("kc_house_data.csv",error_bad_lines=False)

In [3]:
raw_info

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [4]:
house_info = pd.DataFrame({'Bedrooms':raw_info.bedrooms, 'Bathrooms':raw_info.bathrooms, 'Floors':raw_info.floors, 
                           'Year Built':raw_info.yr_built, 'Year Renoveted':raw_info.yr_renovated,
                           'Size of Basement':raw_info.sqft_basement,'Condition':raw_info.condition,
                          'Size of Above':raw_info.sqft_above,'Location':raw_info.zipcode,
                          'Price':raw_info.price})

In [5]:
house_info

,Bedrooms,Bathrooms,Floors,Year Built,Year Renoveted,Size of Basement,Condition,Size of Above,Location,Price
0,3,1.00,1.0,1955,0.0,0.0,3,1180,98178,221900.0
1,3,2.25,2.0,1951,1991.0,400.0,3,2170,98125,538000.0
2,2,1.00,1.0,1933,NaN,0.0,3,770,98028,180000.0
3,4,3.00,1.0,1965,0.0,910.0,5,1050,98136,604000.0
4,3,2.00,1.0,1987,0.0,0.0,3,1680,98074,510000.0
...,...,...,...,...,...,...,...,...,...,...
21592,3,2.50,3.0,2009,0.0,0.0,3,1530,98103,360000.0
21593,4,2.50,2.0,2014,0.0,0.0,3,2310,98146,400000.0
21594,2,0.75,2.0,2009,0.0,0.0,3,1020,98144,402101.0
21595,3,2.50,2.0,2004,0.0,0.0,3,1600,98027,400000.0
21596,2,0.75,2.0,2008,0.0,0.0,3,1020,98144,325000.0

In [6]:
house_info["Bedrooms"].value_counts()

3     9824
4     6882
2     2760
5     1601
6      272
1      196
7       38
8       13
9        6
10       3
11       1
33       1
Name: Bedrooms, dtype: int64

In [7]:
house_info.loc[house_info["Bedrooms"]==1, "Price"].agg(('min','max'))

min      80000.0
max    1250000.0
Name: Price, dtype: float64

In [8]:
house_info.loc[house_info["Bedrooms"]==2, "Price"].agg(('min','max'))

min      78000.0
max    3280000.0
Name: Price, dtype: float64

In [9]:
house_info.loc[house_info["Bedrooms"]==3, "Price"].agg(('min','max'))

min      82000.0
max    3800000.0
Name: Price, dtype: float64

In [10]:
house_info.loc[house_info["Bedrooms"]==4, "Price"].agg(('min',max))

min     100000.0
max    4490000.0
Name: Price, dtype: float64

In [11]:
house_info.loc[house_info["Bedrooms"]==5, "Price"].agg((min,max))

min     133000.0
max    7060000.0
Name: Price, dtype: float64

In [12]:
house_info.loc[house_info["Bedrooms"]==6, "Price"].agg((min,max))

min     175000.0
max    7700000.0
Name: Price, dtype: float64

In [13]:
house_info.loc[house_info["Bedrooms"]==7, "Price"].agg((min,max))

min     280000.0
max    3200000.0
Name: Price, dtype: float64

In [14]:
house_info.loc[house_info["Bedrooms"]==8, "Price"].agg((min,max))

min     340000.0
max    3300000.0
Name: Price, dtype: float64

In [15]:
house_info.loc[house_info["Bedrooms"]==9, "Price"].agg((min,max))

min     450000.0
max    1400000.0
Name: Price, dtype: float64

In [16]:
house_info.loc[house_info["Bedrooms"]==10, "Price"].agg((min,max))

min     650000.0
max    1150000.0
Name: Price, dtype: float64

In [17]:
house_info.loc[house_info["Bedrooms"]==11, "Price"]

8748    520000.0
Name: Price, dtype: float64

In [18]:
house_info.loc[house_info["Bedrooms"]==33, "Price"]

15856    640000.0
Name: Price, dtype: float64

In [19]:
house_info["Bathrooms"].value_counts()

2.50    5377
1.00    3851
1.75    3048
2.25    2047
2.00    1930
1.50    1445
2.75    1185
3.00     753
3.50     731
3.25     589
3.75     155
4.00     136
4.50     100
4.25      79
0.75      71
4.75      23
5.00      21
5.25      13
5.50      10
1.25       9
6.00       6
5.75       4
0.50       4
8.00       2
6.25       2
6.75       2
6.50       2
7.50       1
7.75       1
Name: Bathrooms, dtype: int64

In [20]:
house_info.loc[house_info["Bathrooms"]==.75, "Price"].agg((min,max))

min     80000.0
max    785000.0
Name: Price, dtype: float64

In [21]:
house_info.loc[house_info["Bathrooms"]==.50, "Price"].agg((min,max))

min    109000.0
max    312500.0
Name: Price, dtype: float64

In [22]:
house_info.loc[house_info["Bathrooms"]==1, "Price"].agg((min,max))

min      78000.0
max    1300000.0
Name: Price, dtype: float64

In [23]:
house_info.loc[house_info["Bathrooms"]==1.25, "Price"].agg((min,max))

min     275000.0
max    1390000.0
Name: Price, dtype: float64

In [24]:
house_info.loc[house_info["Bathrooms"]==1.50, "Price"].agg((min,max))

min     107000.0
max    1500000.0
Name: Price, dtype: float64

In [25]:
house_info.loc[house_info["Bathrooms"]==1.75, "Price"].agg((min,max))

min     115000.0
max    3280000.0
Name: Price, dtype: float64

In [26]:
house_info.loc[house_info["Bathrooms"]==2.00, "Price"].agg((min,max))

min     115000.0
max    2200000.0
Name: Price, dtype: float64

In [27]:
house_info.loc[house_info["Bathrooms"]==2.50, "Price"].agg((min,max))

min     153503.0
max    3070000.0
Name: Price, dtype: float64

In [28]:
house_info.loc[house_info["Bathrooms"]==2.75, "Price"].agg((min,max))

min     183750.0
max    2700000.0
Name: Price, dtype: float64

In [29]:
house_info.loc[house_info["Bathrooms"]==3.00, "Price"].agg((min,max))

min     154000.0
max    4490000.0
Name: Price, dtype: float64

In [30]:
house_info.loc[house_info["Bathrooms"]==3.50, "Price"].agg((min,max))

min     216650.0
max    3710000.0
Name: Price, dtype: float64

In [31]:
house_info.loc[house_info["Bathrooms"]==3.75, "Price"].agg((min,max))

min     255000.0
max    3650000.0
Name: Price, dtype: float64

In [32]:
house_info.loc[house_info["Bathrooms"]==4.00, "Price"].agg((min,max))

min     265000.0
max    3400000.0
Name: Price, dtype: float64

In [33]:
house_info.loc[house_info["Bathrooms"]==4.50, "Price"].agg((min,max))

min     290000.0
max    7060000.0
Name: Price, dtype: float64

In [34]:
house_info.loc[house_info["Bathrooms"]==4.75, "Price"].agg((min,max))

min     480000.0
max    3650000.0
Name: Price, dtype: float64

In [35]:
house_info.loc[house_info["Bathrooms"]==5.00, "Price"].agg((min,max))

min     343000.0
max    5350000.0
Name: Price, dtype: float64

In [36]:
house_info.loc[house_info["Bathrooms"]==5.50, "Price"].agg((min,max))

min     925000.0
max    4500000.0
Name: Price, dtype: float64

In [37]:
house_info.loc[house_info["Bathrooms"]==5.75, "Price"].agg((min,max))

min     540000.0
max    5570000.0
Name: Price, dtype: float64

In [38]:
house_info.loc[house_info["Bathrooms"]==6, "Price"].agg((min,max))

min     900000.0
max    5300000.0
Name: Price, dtype: float64

In [39]:
house_info.loc[house_info["Bathrooms"]==6, "Price"].agg((min,max))

min     900000.0
max    5300000.0
Name: Price, dtype: float64

In [40]:
house_info.loc[house_info["Bathrooms"]==6.50, "Price"].agg((min,max))

min    1180000.0
max    2240000.0
Name: Price, dtype: float64

In [41]:
house_info.loc[house_info["Bathrooms"]==6.75, "Price"].agg((min,max))

min     800000.0
max    4670000.0
Name: Price, dtype: float64

In [42]:
house_info.loc[house_info["Bathrooms"]==7.00, "Price"].agg((min,max))

min   NaN
max   NaN
Name: Price, dtype: float64

In [43]:
house_info.loc[house_info["Bathrooms"]==7.50, "Price"].agg((min,max))

min    450000.0
max    450000.0
Name: Price, dtype: float64

In [44]:
house_info.loc[house_info["Bathrooms"]==7.75, "Price"].agg((min,max))

min    6890000.0
max    6890000.0
Name: Price, dtype: float64

In [45]:
house_info.loc[house_info["Bathrooms"]==8.00, "Price"].agg((min,max))

min    2280000.0
max    7700000.0
Name: Price, dtype: float64

In [46]:
house_info["Year Renoveted"].value_counts()

0.0       17011
2014.0       73
2003.0       31
2013.0       31
2007.0       30
          ...
1946.0        1
1959.0        1
1971.0        1
1951.0        1
1954.0        1
Name: Year Renoveted, Length: 70, dtype: int64

In [47]:
grouped_year = []
for i in house_info["Year Renoveted"].dropna():
        if i == 0.00:continue
        grouped_year.append(i)
        grouped_year.sort(reverse=True)

grouped_year = collections.Counter(grouped_year)
grouped_year

Counter({2015.0: 14,
         2014.0: 73,
         2013.0: 31,
         2012.0: 8,
         2011.0: 9,
         2010.0: 15,
         2009.0: 21,
         2008.0: 15,
         2007.0: 30,
         2006.0: 20,
         2005.0: 29,
         2004.0: 22,
         2003.0: 31,
         2002.0: 17,
         2001.0: 15,
         2000.0: 29,
         1999.0: 15,
         1998.0: 16,
         1997.0: 12,
         1996.0: 11,
         1995.0: 12,
         1994.0: 14,
         1993.0: 12,
         1992.0: 13,
         1991.0: 16,
         1990.0: 22,
         1989.0: 20,
         1988.0: 11,
         1987.0: 14,
         1986.0: 14,
         1985.0: 14,
         1984.0: 16,
         1983.0: 15,
         1982.0: 8,
         1981.0: 4,
         1980.0: 8,
         1979.0: 7,
         1978.0: 3,
         1977.0: 7,
         1976.0: 1,
         1975.0: 5,
         1974.0: 2,
         1973.0: 4,
         1972.0: 3,
         1971.0: 1,
         1970.0: 9,
         1969.0: 4,
         1968.0: 7,
         1967.0: 2,
         1965.0: 4,
         1964.0: 5,
         1963.0: 4,
         1962.0: 2,
         1960.0: 3,
         1959.0: 1,
         1958.0: 3,
         1957.0: 2,
         1956.0: 3,
         1955.0: 3,
         1954.0: 1,
         1953.0: 1,
         1951.0: 1,
         1950.0: 1,
         1948.0: 1,
         1946.0: 1,
         1945.0: 3,
         1944.0: 1,
         1940.0: 2,
         1934.0: 1})

In [48]:
house_info["Year Built"].value_counts()

2014    559
2006    453
2005    450
2004    433
2003    420
       ...
1933     30
1901     29
1902     27
1935     24
1934     21
Name: Year Built, Length: 116, dtype: int64

In [49]:
grouped_year_built = []
for i in house_info["Year Built"].dropna():
        if i == 0.00:continue
        grouped_year_built.append(i)
        grouped_year_built.sort(reverse=True)

grouped_year_built = collections.Counter(grouped_year_built)
grouped_year_built

Counter({2015: 38,
         2014: 559,
         2013: 201,
         2012: 170,
         2011: 130,
         2010: 143,
         2009: 230,
         2008: 367,
         2007: 417,
         2006: 453,
         2005: 450,
         2004: 433,
         2003: 420,
         2002: 222,
         2001: 305,
         2000: 218,
         1999: 263,
         1998: 239,
         1997: 177,
         1996: 194,
         1995: 169,
         1994: 249,
         1993: 202,
         1992: 198,
         1991: 224,
         1990: 317,
         1989: 290,
         1988: 270,
         1987: 294,
         1986: 215,
         1985: 227,
         1984: 229,
         1983: 212,
         1982: 105,
         1981: 199,
         1980: 240,
         1979: 343,
         1978: 387,
         1977: 417,
         1976: 253,
         1975: 189,
         1974: 162,
         1973: 149,
         1972: 149,
         1971: 104,
         1970: 132,
         1969: 280,
         1968: 381,
         1967: 350,
         1966: 249,
         1965: 187,
         1964: 172,
         1963: 255,
         1962: 312,
         1961: 224,
         1960: 248,
         1959: 334,
         1958: 224,
         1957: 198,
         1956: 198,
         1955: 271,
         1954: 305,
         1953: 222,
         1952: 220,
         1951: 229,
         1950: 249,
         1949: 195,
         1948: 234,
         1947: 263,
         1946: 126,
         1945: 95,
         1944: 140,
         1943: 170,
         1942: 223,
         1941: 161,
         1940: 156,
         1939: 106,
         1938: 52,
         1937: 68,
         1936: 40,
         1935: 24,
         1934: 21,
         1933: 30,
         1932: 38,
         1931: 61,
         1930: 90,
         1929: 114,
         1928: 126,
         1927: 115,
         1926: 180,
         1925: 165,
         1924: 139,
         1923: 84,
         1922: 95,
         1921: 76,
         1920: 98,
         1919: 88,
         1918: 120,
         1917: 56,
         1916: 79,
         1915: 64,
         1914: 54,
         1913: 58,
         1912: 79,
         1911: 73,
         1910: 134,
         1909: 94,
         1908: 86,
         1907: 65,
         1906: 92,
         1905: 74,
         1904: 45,
         1903: 46,
         1902: 27,
         1901: 29,
         1900: 87})

In [50]:
house_info["Floors"].value_counts()

1.0    10673
2.0     8235
1.5     1910
3.0      611
2.5      161
3.5        7
Name: Floors, dtype: int64

In [51]:
house_info.loc[house_info["Floors"]==1.00, "Price"].agg((min,max))

min      78000.0
max    4670000.0
Name: Price, dtype: float64

In [52]:
house_info.loc[house_info["Floors"]==1.50, "Price"].agg((min,max))

min      92000.0
max    3650000.0
Name: Price, dtype: float64

In [53]:
house_info.loc[house_info["Floors"]==2.00, "Price"].agg((min,max))

min      90000.0
max    7060000.0
Name: Price, dtype: float64

In [54]:
house_info.loc[house_info["Floors"]==2.50, "Price"].agg((min,max))

min     255000.0
max    7700000.0
Name: Price, dtype: float64

In [55]:
house_info.loc[house_info["Floors"]==3.00, "Price"].agg((min,max))

min     205000.0
max    3100000.0
Name: Price, dtype: float64

In [56]:
house_info.loc[house_info["Floors"]==3.50, "Price"].agg((min,max))

min     435000.0
max    3300000.0
Name: Price, dtype: float64

In [57]:
house_info["Condition"].value_counts()

3    14020
4     5677
5     1701
2      170
1       29
Name: Condition, dtype: int64

In [58]:
house_info.loc[house_info["Condition"]==1.00, "Price"].agg((min,max))

min      78000.0
max    1500000.0
Name: Price, dtype: float64

In [59]:
house_info.loc[house_info["Condition"]==2.00, "Price"].agg((min,max))

min      80000.0
max    2560000.0
Name: Price, dtype: float64

In [60]:
house_info.loc[house_info["Condition"]==3.00, "Price"].agg((min,max))

min      82000.0
max    7060000.0
Name: Price, dtype: float64

In [61]:
house_info.loc[house_info["Condition"]==4.00, "Price"].agg((min,max))

min      89000.0
max    7700000.0
Name: Price, dtype: float64

In [62]:
house_info.loc[house_info["Condition"]==5.00, "Price"].agg((min,max))

min     110000.0
max    3650000.0
Name: Price, dtype: float64

In [63]:
house_info["Location"].value_counts()

98103    602
98038    589
98115    583
98052    574
98117    553
        ...
98102    104
98010    100
98024     80
98148     57
98039     50
Name: Location, Length: 70, dtype: int64

In [64]:
grouped_loca = []
for i in house_info["Location"].dropna():
        if i == 0.00:continue
        grouped_loca.append(i)
        grouped_loca.sort(reverse=True)
len(grouped_loca)

21597

In [65]:
grouped2 = []
for i in grouped_loca:
    if i ==  98092 :grouped2.append('Auburn: South King County')
    if i ==  98002: grouped2.append('Auburn: South King County')
    if i ==  98001: grouped2.append('Auburn: South King County')
    if i ==  98077: grouped2.append('Woodinville: North King County')
    if i ==  98072: grouped2.append('Woodinville: North King County')
    if i ==  98075: grouped2.append('Sammamish: East King County')
    if i ==  98074: grouped2.append('Sammamish: East King County')
    if i ==  98070: grouped2.append('Vashon: South King County')
    if i ==  98065: grouped2.append('Snaqualmie: East King County')
    if i ==  98059: grouped2.append('Renton: West King County')
    if i ==  98058: grouped2.append('Renton: West King County')
    if i ==  98056: grouped2.append('Renton: West King County')
    if i ==  98055: grouped2.append('Renton: West King County')
    if i ==  98053: grouped2.append('Redmond: North King County')
    if i ==  98052: grouped2.append('Redmond: North King County')
    if i ==  98045: grouped2.append('North Bend: East King County')
    if i ==  98042: grouped2.append('Kent: South King County')
    if i ==  98032: grouped2.append('Kent: South King County')
    if i ==  98031: grouped2.append('Kent: South King County')
    if i ==  98030: grouped2.append('Kent: South King County')
    if i ==  98040: grouped2.append('Mercer Island: West King County')
    if i ==  98039: grouped2.append('Medina: West King County')
    if i ==  98038: grouped2.append('Maple Valley: South King County')
    if i ==  98034: grouped2.append('Kirkland: North King County')
    if i ==  98033: grouped2.append('Kirkland: North King County')
    if i ==  98029: grouped2.append('Issaquah: East King County')
    if i ==  98027: grouped2.append('Issaquah: East King County')
    if i ==  98028: grouped2.append('Kenmore: North King County')
    if i ==  98024: grouped2.append('Fall city: East King County')
    if i ==  98023: grouped2.append('Federal Way: South King County')
    if i ==  98003: grouped2.append('Federal Way: South King County')
    if i ==  98008: grouped2.append('Bellueve: West King County')
    if i ==  98007: grouped2.append('Bellueve: West King County')
    if i ==  98006: grouped2.append('Bellueve: West King County')
    if i ==  98005: grouped2.append('Bellueve: West King County')
    if i ==  98004: grouped2.append('Bellueve: West King County')
    if i ==  98010: grouped2.append('Black Diamond: South King County')
    if i ==  98011: grouped2.append('Bothell: North King County')
    if i ==  98014: grouped2.append('Camation: East King County')
    if i ==  98019: grouped2.append('Duvall: East King County')
    if i ==  98022: grouped2.append('Enumclaw: South King County')
    if i ==  98198: grouped2.append('Des Moines: South King County')
    if i ==  98188: grouped2.append('Mc Micken Heights: South King County')
    if i ==  98178: grouped2.append('Bryn Mawr-Skyway: West King County')
    if i ==  98177: grouped2.append('Spring Beach: North King County')
    if i ==  98168: grouped2.append('Riverton-Boulevard Park: West King County')
    if i ==  98166: grouped2.append('Gregory Heights: West King County')
    if i ==  98155: grouped2.append('Shorline: North King County')
    if i ==  98133: grouped2.append('Shorline: North King County')
    if i ==  98148: grouped2.append('Normandy Park: South King County')
    if i ==  98146: grouped2.append('White Center: West King County')
    if i ==  98199: grouped2.append('Seattle (Magnolia: West)')
    if i ==  98119: grouped2.append('Seattle (North Queen Anne: West)')
    if i ==  98116: grouped2.append('Seattle (North Admiral: West)')
    if i ==  98109: grouped2.append('Seattle (Queen Anne: West)')
    if i ==  98102: grouped2.append('Seattle (Capitol Hill: West)')
    if i ==  98144: grouped2.append('Seattle (Jimi Hendrix: East)')
    if i ==  98122: grouped2.append('Seattle (Central District: East)')
    if i ==  98112: grouped2.append('Seattle (Arboretum: East)')
    if i ==  98136: grouped2.append('Seattle (Gatewood: South)')
    if i ==  98126: grouped2.append('Seattle (High Point: South)')
    if i ==  98118: grouped2.append('Seattle (Hillman City: South)')
    if i ==  98108: grouped2.append('Seattle (Georgerown: South)')
    if i ==  98106: grouped2.append('Seattle (Delridge: South)')
    if i ==  98107: grouped2.append('Seattle (West Woodland: South)')
    if i ==  98125: grouped2.append('Seattle (North Seattle: North)')
    if i ==  98117: grouped2.append('Seattle (Whittier: North)')
    if i ==  98115: grouped2.append('Seattle (Wedgwood: North)')
    if i ==  98105: grouped2.append('Seattle (University District: North)')
    if i ==  98103: grouped2.append('Seattle (Phinney Ridge: North)')
grouped2 = collections.Counter(grouped2)
grouped2

Counter({'Seattle (Magnolia: West)': 317,
         'Des Moines: South King County': 280,
         'Mc Micken Heights: South King County': 136,
         'Bryn Mawr-Skyway: West King County': 262,
         'Spring Beach: North King County': 255,
         'Riverton-Boulevard Park: West King County': 269,
         'Gregory Heights: West King County': 254,
         'Shorline: North King County': 939,
         'Normandy Park: South King County': 57,
         'White Center: West King County': 288,
         'Seattle (Jimi Hendrix: East)': 343,
         'Seattle (Gatewood: South)': 263,
         'Seattle (High Point: South)': 354,
         'Seattle (North Seattle: North)': 409,
         'Seattle (Central District: East)': 290,
         'Seattle (North Queen Anne: West)': 184,
         'Seattle (Hillman City: South)': 507,
         'Seattle (Whittier: North)': 553,
         'Seattle (North Admiral: West)': 330,
         'Seattle (Wedgwood: North)': 583,
         'Seattle (Arboretum: East)': 269,
         'Seattle (Queen Anne: West)': 109,
         'Seattle (Georgerown: South)': 186,
         'Seattle (West Woodland: South)': 266,
         'Seattle (Delridge: South)': 335,
         'Seattle (University District: North)': 229,
         'Seattle (Phinney Ridge: North)': 602,
         'Seattle (Capitol Hill: West)': 104,
         'Auburn: South King County': 911,
         'Woodinville: North King County': 471,
         'Sammamish: East King County': 800,
         'Vashon: South King County': 117,
         'Snaqualmie: East King County': 308,
         'Renton: West King County': 1597,
         'Redmond: North King County': 977,
         'North Bend: East King County': 220,
         'Kent: South King County': 1201,
         'Mercer Island: West King County': 282,
         'Medina: West King County': 50,
         'Maple Valley: South King County': 589,
         'Kirkland: North King County': 977,
         'Issaquah: East King County': 733,
         'Kenmore: North King County': 283,
         'Fall city: East King County': 80,
         'Federal Way: South King County': 779,
         'Enumclaw: South King County': 233,
         'Duvall: East King County': 190,
         'Camation: East King County': 124,
         'Bothell: North King County': 195,
         'Black Diamond: South King County': 100,
         'Bellueve: West King County': 1407})

In [66]:
city = []
for i in grouped2:
    if i[:2] == 'Se':continue
    city.append(i.split(':',1)[0])
len(city)

32

In [67]:
county = []
counter = 0
while counter < 33:
    county.append('King County')
    counter+= 1
len(county)

33

In [68]:
state = []
counter = 0
while counter < 33:
    state.append('Washington')
    counter+= 1
len(state)

33

In [69]:
grouped = []
for i in grouped2:
    if i[:2] == 'Se':continue
    i=i.split(':',2)[1]
    grouped.append(i)
len(grouped)

32

In [70]:
color = []
for i in grouped:
    if i == ' South King County':color.append('blue')
    if i == ' North King County':color.append('red')
    if i == ' West King County':color.append('purple')
    if i == ' East King County':color.append('gold')
len(color)

32

In [97]:
Latitude = []
for i in grouped2:
    if i == 'Des Moines: South King County':Latitude.append(47.3911294)
    if i == 'Mc Micken Heights: South King County':Latitude.append(47.4531965)
    if i == 'Bryn Mawr-Skyway: West King County':Latitude.append(47.4943000)
    if i == 'Spring Beach: North King County':Latitude.append(47.7400975)
    if i == 'Riverton-Boulevard Park: West King County':Latitude.append(47.495792)
    if i == 'Gregory Heights: West King County':Latitude.append(47.455900)
    if i == 'Shorline: North King County':Latitude.append(47.755653)
    if i == 'Normandy Park: South King County':Latitude.append(47.435664924)
    if i == 'White Center: West King County':Latitude.append(47.51732)
    if i == 'Auburn: South King County':Latitude.append(47.307323)
    if i == 'Woodinville: North King County':Latitude.append(47.7542651)
    if i == 'Sammamish: East King County':Latitude.append(47.618198)
    if i == 'Vashon: South King County':Latitude.append(47.409665028 )
    if i == 'Snaqualmie: East King County':Latitude.append(47.52871 )
    if i == 'Renton: West King County':Latitude.append(47.482880)
    if i == 'Redmond: North King County':Latitude.append(47.673988)
    if i == 'North Bend: East King County':Latitude.append(47.502357)
    if i == 'Kent: South King County':Latitude.append(47.378010)
    if i == 'Mercer Island: West King County':Latitude.append(47.570656)
    if i == 'Medina: West King County':Latitude.append(47.62093)
    if i == 'Maple Valley: South King County':Latitude.append(47.373348 )
    if i == 'Kirkland: North King County':Latitude.append(47.6814876)
    if i == 'Issaquah: East King County':Latitude.append(47.530102)
    if i == 'Kenmore: North King County':Latitude.append(47.7532046)
    if i == 'Fall city: East King County':Latitude.append(47.567326)
    if i == 'Federal Way: South King County':Latitude.append(47.322323)
    if i == 'Enumclaw: South King County':Latitude.append(47.201499194)
    if i == 'Duvall: East King County':Latitude.append(47.733830398 )
    if i == 'Camation: East King County':Latitude.append(47.648234)
    if i == 'Bothell: North King County':Latitude.append(47.77167)
    if i == 'Black Diamond: South King County':Latitude.append(47.317332064)
    if i == 'Bellueve: West King County':Latitude.append(47.610378)
len(Latitude)

32

In [98]:
Longitude = []
for i in grouped2:
    if i == 'Des Moines: South King County':Longitude.append(-122.31546)
    if i == 'Mc Micken Heights: South King County':Longitude.append(-122.285282)
    if i == 'Bryn Mawr-Skyway: West King County':Longitude.append(-122.2409200)
    if i == 'Spring Beach: North King County':Longitude.append(-122.3734629)
    if i == 'Riverton-Boulevard Park: West King County':Longitude.append(-122.312698)
    if i == 'Gregory Heights: West King County':Longitude.append(-122.361000)
    if i == 'Shorline: North King County':Longitude.append(-122.341515)
    if i == 'Normandy Park: South King County':Longitude.append( -122.339331976)
    if i == 'White Center: West King County':Longitude.append(-122.35485)
    if i == 'Auburn: South King County':Longitude.append(-122.228455)
    if i == 'Woodinville: North King County':Longitude.append(-122.1634582)
    if i == 'Sammamish: East King County':Longitude.append(-122.054672)
    if i == 'Vashon: South King County':Longitude.append(-122.467664796)
    if i == 'Snaqualmie: East King County':Longitude.append(-121.82539)
    if i == 'Renton: West King County':Longitude.append(-122.217064)
    if i == 'Redmond: North King County':Longitude.append(-122.121513)
    if i == 'North Bend: East King County':Longitude.append(-121.797867)
    if i == 'Kent: South King County':Longitude.append(-122.237381)
    if i == 'Mercer Island: West King County':Longitude.append(-122.222069)
    if i == 'Medina: West King County':Longitude.append( -122.22762)
    if i == 'Maple Valley: South King County':Longitude.append(-122.036926)
    if i == 'Kirkland: North King County':Longitude.append(-122.2087353)
    if i == 'Issaquah: East King County':Longitude.append(-122.032616)
    if i == 'Kenmore: North King County':Longitude.append(-122.24631)
    if i == 'Fall city: East King County':Longitude.append(-121.888725)
    if i == 'Federal Way: South King County':Longitude.append( -122.312622)
    if i == 'Enumclaw: South King County':Longitude.append( -121.989829374)
    if i == 'Duvall: East King County':Longitude.append(-121.971996112)
    if i == 'Camation: East King County':Longitude.append( -121.90863)
    if i == 'Bothell: North King County':Longitude.append( -122.204421)
    if i == 'Black Diamond: South King County':Longitude.append( -122.008833298)
    if i == 'Bellueve: West King County':Longitude.append(-122.200676)

In [118]:
len(Longitude)

32

In [119]:
trace1 = []
for i,x in enumerate(grouped):
    if x == ' South King County':trace1.append(Longitude[i])
len(trace1)

10

In [120]:
trace2 = []
for i,x in enumerate(grouped):
    if x == ' North King County':trace2.append(Longitude[i])
len(trace2)

7

In [121]:
trace3 = []
for i,x in enumerate(grouped):
    if x == ' West King County':trace3.append(Longitude[i])
len(trace3)

8

In [124]:
trace4 = []
for i,x in enumerate(grouped):
    if x == ' East King County':trace4.append(Longitude[i])
len(trace4)

7

In [125]:
trace11 = []
for i,x in enumerate(grouped):
    if x == ' South King County':trace11.append(Latitude[i])
len(trace11)

10

In [126]:
trace22 = []
for i,x in enumerate(grouped):
    if x == ' North King County':trace22.append(Latitude[i])
len(trace22)

7

In [127]:
trace33 = []
for i,x in enumerate(grouped):
    if x == ' West King County':trace33.append(Latitude[i])
len(trace33)

8

In [128]:
trace44 = []
for i,x in enumerate(grouped):
    if x == ' East King County':trace44.append(Latitude[i])
len(trace44)

7

In [129]:
city1 = []
for i,x in enumerate(grouped):
    if x == ' South King County':city1.append(city[i])
len(city1)

10

In [130]:
city2 = []
for i,x in enumerate(grouped):
    if x == ' North King County':city2.append(city[i])
len(city2)

7

In [131]:
city3 = []
for i,x in enumerate(grouped):
    if x == ' West King County':city3.append(city[i])
len(city3)

8

In [132]:
city4 = []
for i,x in enumerate(grouped):
    if x == ' East King County':city4.append(city[i])
len(city4)

7

In [140]:
import plotly.graph_objects as go
import plotly.express as px
mapbox_access_token = open("mapdata.mapbox_token.txt").read()

fig = go.Figure()
 
fig.add_trace(go.Scattermapbox(
    mode="markers",
    name= 'North Coast',
    textposition="bottom center",
    lon =trace2 , lat = trace22,text = city2, 
    hoverinfo='text',
    opacity = .6,
    marker=go.scattermapbox.Marker(size=29,color='red')))

fig.add_trace(go.Scattermapbox(
    mode="markers",
    name = 'East Coast',
    textposition="bottom center",
    lon =trace4 , lat = trace44,text = city4, 
    hoverinfo='text',
    opacity = .6,
    marker=go.scattermapbox.Marker(size=29,color='gold')))

fig.add_trace(go.Scattermapbox(
    mode="markers",
    name = 'West Coast',
    textposition="bottom center",
    lon =trace3 , lat = trace33,text = city3, 
    hoverinfo='text',
    opacity = .6,
    marker=go.scattermapbox.Marker(size=29,color='purple')))

fig.add_trace(go.Scattermapbox(
    mode="markers",
    name = 'North Coast',
    textposition="bottom center",
    lon =trace1 , lat = trace11,text = city1, 
    hoverinfo='text',
    opacity = .6,
    marker=go.scattermapbox.Marker(size=29,color='blue')))


fig.update_layout(
    mapbox_style="open-street-map",
     title=dict(
       text='<b>King county</b><br><sup>US county in Washington State</sup>',
       font=dict(size= 29,color='black')),
    height=1000,
    legend_title_text='Coast of King County',
    hoverlabel=dict(
        bgcolor="white",
        font_size=16,
        font_family="Rockwell"),
    showlegend=True,
    autosize=True,
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing = 0,
        center=dict(
            lat=47.608013,
            lon=-122.335167
        ),
        pitch=0,
        zoom=8
    ),
)

#fig.show()

fig.write_html('first_figure.html',auto_open=True)